<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="bdcdc8b8-3b9b-42b4-86fa-77729e85d709.html" href="#" onclick="return MenuChange(this);">分区视图和树型的实现</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2015 15:21:45<br /><p>分区视图 <br />
分区视图是提高查询性能的一个很好的办法 <br />
<br />
</p>
<H2><a id="ff15040d-f7e6-4880-b45f-5cfd7433cb53.html" href="#" onclick="return MenuChange(this);">删除数据库中所有外键约束</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/24/2014 15:25:35<br /><p>CREATE PROCEDURE sp_drop_all_fk   <br />
  <br />
as  <br />
</p>
<H2><a id="772232e9-1cdd-4888-80f8-9e3a357770e8.html" href="#" onclick="return MenuChange(this);">减少TEMP库</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/29/2014 15:07:23<br /><p>SQL Server：收缩 SQL Server Tempdb 大小 <br />
系统管理员报告说，SQL Server Tempdb 数据库文件占用了大量的磁盘空间。让解决下。 <br />
<br />
</p>
<H2><a id="a1934fcd-0a91-4e05-b9d0-e59220190dab.html" href="#" onclick="return MenuChange(this);">动态sql语句基本语法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/09/2014 15:12:01<br /><p>1 :普通SQL语句可以用exec执行 <br />
<br />
Select * from tableName <br />
</p>
<H2><a id="78cbfc42-a8b9-46cd-a91a-720a9beea944.html" href="#" onclick="return MenuChange(this);">动态sql语句基本语法1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/05/2014 15:18:23<br /><p>1 :普通SQL语句可以用Exec执行 <br />
<br />
eg:   Select * from tableName <br />
</p>
<H2><a id="47b72355-c892-4536-a1b6-77c9e9f6a452.html" href="#" onclick="return MenuChange(this);">全角半角转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/02/2013 15:18:16<br /><p>if   exists   (select   *   from   dbo.sysobjects   where   id   =   object_id(N'[dbo].[f_convert]')   and   xtype   in   (N'FN',   N'IF',   N'TF'))   <br />
  drop   function   [dbo].[f_convert]   <br />
  GO   <br />
</p>
<H2><a id="f8f86f67-02be-497c-8a05-10441cc81e3f.html" href="#" onclick="return MenuChange(this);">动态sql语句用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/05/2013 15:25:28<br /><p>--动态语句语法<br />
/******************************************************************************************************************************************************<br />
动态语句语法:exec\sp_executesql语法<br />
</p>
<H2><a id="28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65.html" href="#" onclick="return MenuChange(this);">全文索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/09/2013 15:30:28<br /><p>-------------开启全文索引和创建全文索引目录<br />
exec sp_fulltext_database 'enable'<br />
--exec sp_fulltext_catalog 'gf_ft','drop'<br />
</p>
<H2><a id="24558145-13b6-4694-abb4-a6ede554b83d.html" href="#" onclick="return MenuChange(this);">全文索引1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/24/2013 15:22:18<br /><p>create   table   testIndex <br />
( <br />
          id   int   identity(1,1)   primary   key, <br />
</p>
<H2><a id="82cb2c30-72df-47a5-9ff9-67301ccf27cb.html" href="#" onclick="return MenuChange(this);">分段截取函数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/08/2013 15:31:04<br /><p>--轉老大<br />
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[f_GetStr]') and xtype in (N'FN', N'IF', N'TF'))<br />
drop function [dbo].[f_GetStr]<br />
</p>
<H2><a id="98eb12d9-2cd4-4370-bfb2-25e0a4504021.html" href="#" onclick="return MenuChange(this);">分解字符串包含的信息值后然后合并到另外一表的信息</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/20/2013 15:09:32<br /><p>分解字符串包含的信息值后然后合并到另外一表的信息<br />
(爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-23  广东深圳)<br />
<br />
</p>
<H2><a id="74f0c4dd-5bae-4a82-9272-e56942a4ce0e.html" href="#" onclick="return MenuChange(this);">分区表示例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/05/2012 15:11:41<br /><p>USE master<br />
GO<br />
IF DB_ID('Sample_DB') IS NOT NULL <br />
</p>
<H2><a id="d0116019-d697-4959-af27-1798b8fdaa30.html" href="#" onclick="return MenuChange(this);">利用触发器实现标识列连续</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/21/2012 15:13:19<br /><p>利用触发器实现标识列连续。(支持批量插入) <br />
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ttt]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)<br />
drop table [dbo].[ttt]<br />
</p>
<H2><a id="3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33.html" href="#" onclick="return MenuChange(this);">删除重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/18/2012 15:20:33<br /><p>--功能概述:删除重复记录<br />
<br />
在几千条记录里,存在着些相同的记录,如何能用SQL语句,删除掉重复的呢?谢谢! <br />
</p>
