<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>-- 如何删除 SQL2005 过期的数据库备份文件呢？ <br />
<br />
在 SQL2005 数据库中，不可以自动删除过期的备份文件，所以借用第三方插件完成此功能。 <br />
-- 方式一：通过 Forfiles 删除指定目录下过期的备份文件 <br />
目的：删除目录 i: \sqldataup 中天前的 . bak 文件： <br />
<br />
步骤： <br />
<br />
1 、定义 FORFILES 批处理脚本如下： <br />
<br />
C: \> FORFILES / P i: \sqldataup / M *. bak / C "cmd /C del /Q @path" / d - 5 <br />
<br />
如果执行成功则返回当前盘符 C: \> 。 <br />
<br />
-- 如果没有需要删除的文件则返回信息错误 : 用指定的搜索标准没有找到文件。比如： <br />
<br />
--C:\>FORFILES /P i:\sqldataup /M *.bak /C "cmd /C del /Q @path" /d -5 <br />
<br />
-- 错误 : 用指定的搜索标准没有找到文件。 <br />
<br />
<br />
2 、通过计划任务调用批处理脚本如图所示,图太长请看这里 <br />
<br />
3 、当然也可以用 SQLAgent 调用 CMDEXEC 完成批处理作业。 <br />
<br />
<br />
方式二：如果在 SQL2008 中因为默认安装 Powershell 1.0 程序，故可以用 Powershell 编写脚本来完成定时删除过期文件。 <br />
<br />
太多内容，请看文章http://blog.csdn.net/claro/archive/2009/08/18/4458417.aspx。<br />
</p> 
uploaded by Patrick. 06/27/2016 14:28:33
