<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>alter function col_rev(<br />
 @i_version int, -- Excel 版本号 <br />
 @i_col int          -- 字段号(数值表示)<br />
 )<br />
returns varchar(20)<br />
as<br />
begin<br />
  declare @v_devide int;<br />
  declare @v_mod int;<br />
  declare @v_col int;<br />
  declare @str nvarchar(20);<br />
  set @v_col=@i_col;<br />
  set @str = '';<br />
  <br />
  if @i_version=2003 and @v_col<=256  -- Excle 2003 最多256列<br />
  begin<br />
    if @v_col>26<br />
    begin<br />
      set @str= (CASE when (@v_col%26)=0 then char(ascii('A')+(@v_col/26)-2)+'Z'<br />
                 ELSE char(ascii('A')+(@v_col/26)-1)+char(ascii('A')+(@v_col%26)-1) end); <br />
    end<br />
    else if @v_col=26<br />
    begin<br />
      set @str = 'Z';<br />
    end<br />
    else<br />
    begin<br />
      select @str=char(ascii('A')+(@v_col%26)-1);<br />
    end<br />
  end<br />
  return @str;<br />
end<br />
<br />
select '76' AS C1, dbo.col_rev(2003,76) as col UNION ALL<br />
select '77' AS C1, dbo.col_rev(2003,77) as col UNION ALL<br />
select '78' AS C1, dbo.col_rev(2003,78) as col UNION ALL<br />
select '79' AS C1, dbo.col_rev(2003,79);<br />
</p> 
uploaded by Patrick. 06/27/2016 14:19:09
