<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="7850d0ab-af5b-4632-b200-4f27ff1edee7.html" href="#" onclick="return MenuChange(this);">SQL 2005,2008删除过期备份</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/31/2011 15:19:30<br /><p>create proc sp_backupdatabase<br />
 @bak_path nvarchar(4000)=''       --备份路径;<br />
,@baktype int = null               --备份类型为全备,1为差异备,2为日志备份<br />
</p>
<H2><a id="811cc98d-422c-4871-88b2-7a0c97f9984a.html" href="#" onclick="return MenuChange(this);">MSSQL求連續ID內數量合計-常見解決方案</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/30/2011 15:17:08<br /><p>--> Title  : MSSQL求連續ID內數量合計-常見解決方案<br />
<br />
--> Author : wufeng4552<br />
</p>
<H2><a id="6e5ac8e0-3be9-4634-9e02-b6955bce18c5.html" href="#" onclick="return MenuChange(this);">重建重组索引的方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/25/2011 15:13:57<br /><p> --使用联机方式重建索引idx_refno <br />
ALTER INDEX [idx_refno] ON [ordDemo] REBUILD WITH (FILLFACTOR=80,ONLINE =ON)<br />
GO<br />
</p>
<H2><a id="b0395f2e-60de-461b-ab0c-d792ce1fd4e5.html" href="#" onclick="return MenuChange(this);">获取汉字首字母</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/17/2011 15:17:04<br /><p>--返回汉字首字母 <br />
<br />
create  function [dbo].[chinese_firstletter] <br />
</p>
<H2><a id="ccb9677d-bbb1-437c-9624-d84d7b514c90.html" href="#" onclick="return MenuChange(this);">自动生成测试代码(小楼）</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/13/2011 15:15:20<br /><p>-------------------------------------------------------------------------------   <br />
-- 自动生成测试数据共享加强版   <br />
--   <br />
</p>
<H2><a id="0c335d09-faee-437c-b2e4-0be2a3b5670a.html" href="#" onclick="return MenuChange(this);">处理表重复记录(查询和删除)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/09/2011 15:13:07<br /><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
</p>
