<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="8375d3e8-78b9-41e2-9b66-695dc26f7b89.html" href="#" onclick="return MenuChange(this);">库存先进先出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/15/2011 15:21:24<br /><p>--库存先进先出简单例子：<br />
<br />
create table t(<br />
</p>
<H2><a id="7f90f74a-6518-4a1f-bef3-20ac5fed343e.html" href="#" onclick="return MenuChange(this);">如何向一个自增字段插值？</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/07/2011 15:18:39<br /><p>--1、create table tablename(id int identity(1,1))go<br />
insert into tablename default values<br />
go<br />
</p>
