<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="7c482af4-ffb4-47a1-9cc9-a9765adfece9.html" href="#" onclick="return MenuChange(this);">排名</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/21/2011 15:13:29<br /><p>--示例数据<br />
CREATE TABLE tb(Name varchar(10),Score decimal(10,2))<br />
INSERT tb SELECT 'aa',99<br />
</p>
<H2><a id="d5026357-c76a-4fc9-b3aa-e46154f1e46f.html" href="#" onclick="return MenuChange(this);">索引碎片</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/15/2011 15:18:59<br /><p>--收集特定表上所有索引、堆的信息<br />
<br />
SELECT  sysIn.name AS IndexName ,<br />
</p>
