<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="eb1461fd-1ab7-4b73-8345-c6635ddc8947.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/27/2012 15:10:45<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="5f0905cf-e953-4071-a733-dcdcdd4e82c2.html" href="#" onclick="return MenuChange(this);">笔记五</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2012 15:30:35<br /><p>服务器配置选项<br />
--启动AWE<br />
sp_configure 'show advanced options',1<br />
</p>
