<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="96e90a2a-332a-466c-a8a8-7da38b492269.html" href="#" onclick="return MenuChange(this);">笔记四</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/20/2012 15:31:45<br /><p>---SQL Server对大容量内存的支持<br />
32位操作系统有个很大的缺陷，应用程序无法访问大于4G的进程地址空间，因为32位的指针无法保存大于4G的地址空间<br />
如果大于4G，则需要使用地址窗口化扩展插件(AWE)，具体操作如下：<br />
</p>
<H2><a id="fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0.html" href="#" onclick="return MenuChange(this);">字符串的拆分</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/14/2012 15:18:07<br /><p><br />
--> 测试数据: #T<br />
if object_id('tempdb.dbo.#T') is not null drop table #T<br />
</p>
