<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="481b3724-db6f-4062-a40d-a84d82eeec2d.html" href="#" onclick="return MenuChange(this);">显示索引消耗的磁盘情况</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2012 15:15:02<br /><p>--显示索引消耗的磁盘情况<br />
SELECT  CASE InnerTable.index_id<br />
          WHEN 0 THEN 'HEAP'<br />
</p>
<H2><a id="321adaf5-53c7-4de4-b459-7b8be7ec5ba5.html" href="#" onclick="return MenuChange(this);">去汉字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/19/2012 15:24:48<br /><p>declare @s varchar(50)<br />
set @s='Level 1-2,Tower E5,Plaza,No.44 East Chang An Ave.  东长安街44号东方广场东5座1-2层'<br />
while PATINDEX('%[吖-做]%',@s)>0<br />
</p>
<H2><a id="a9575a19-7681-4ca6-aa9b-e43dc7e3a6e5.html" href="#" onclick="return MenuChange(this);">sql xml 入门</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/18/2012 15:20:37<br /><p>/*<br />
sql xml 入门:<br />
    --by jinjazz<br />
</p>
<H2><a id="e7ffe59e-471c-4828-b78a-863bee41b14b.html" href="#" onclick="return MenuChange(this);">SQL防注入</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/15/2012 15:35:07<br /><p>SQL注入攻击的危害性很大。在讲解其防止办法之前，数据库管理员有必要先了解一下其攻击的原理。这有利于管理员采取有针对性的防治措施。<br />
<br />
　　一、 SQL注入攻击的简单示例。<br />
</p>
<H2><a id="a843191d-7989-4573-9627-138e4debf8c5.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/08/2012 15:12:56<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
