<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="61942072-3ac4-4814-bef3-00ed36e2c189.html" href="#" onclick="return MenuChange(this);">Tempdb</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/22/2012 15:28:59<br /><p>--USE tempdb<br />
--GO<br />
----检查表是否存在<br />
</p>
<H2><a id="d510c7b2-cd89-4370-ae7f-c44238c84ecb.html" href="#" onclick="return MenuChange(this);">查找丢失的索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/19/2012 15:22:15<br /><p>SELECT<br />
    avg_total_user_cost * avg_user_impact * ( user_scans + user_seeks ) AS PossibleImprovement ,<br />
    last_user_seek ,<br />
</p>
<H2><a id="3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33.html" href="#" onclick="return MenuChange(this);">删除重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/18/2012 15:20:33<br /><p>--功能概述:删除重复记录<br />
<br />
在几千条记录里,存在着些相同的记录,如何能用SQL语句,删除掉重复的呢?谢谢! <br />
</p>
<H2><a id="3076503b-a8c6-47f6-b0f7-d8a8d989585b.html" href="#" onclick="return MenuChange(this);">构造使用IN子句的动态Transact-SQL方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/11/2012 15:20:24<br /><p>--1. 构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
<br />
--a. 要查询的字段类型是数字型<br />
</p>
<H2><a id="03aeba27-f718-43e6-a57f-2ec18c2842c5.html" href="#" onclick="return MenuChange(this);">Home</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/04/2012 15:20:35<br /><p>SQL Server 日期算法<br />
<br />
一周的第一天<br />
</p>
<H2><a id="09f71cbc-6897-4861-b1e1-ae4bf052b178.html" href="#" onclick="return MenuChange(this);">查询各节点的父路径函数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/04/2012 15:17:43<br /><p>*<br />
标题：查询各节点的父路径函数<br />
作者：爱新觉罗·毓华(十八年风雨,守得冰山雪莲花开)  <br />
</p>
