<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="30346ddf-893b-4fc5-9bb0-161376fc5354.html" href="#" onclick="return MenuChange(this);">先进先出的一个例子</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/30/2013 15:22:41<br /><p>create table djjx<br />
(<br />
djbh varchar(20), --单据编号 key<br />
</p>
<H2><a id="cce6b4db-4564-4079-95ee-9810bfe62c16.html" href="#" onclick="return MenuChange(this);">Profile</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/28/2013 15:30:15<br /><p>-->Title:Generating test data<br />
-->Author:wufeng4552<br />
-->Date :2009-09-30 08:52:38<br />
</p>
<H2><a id="24506d47-b697-4844-bd6c-feb236020f2d.html" href="#" onclick="return MenuChange(this);">断号查询</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/23/2013 15:16:58<br /><p>--测试数据<br />
CREATE TABLE tb(col1 varchar(10),col2 int)<br />
INSERT tb SELECT 'a',2<br />
</p>
<H2><a id="98eb12d9-2cd4-4370-bfb2-25e0a4504021.html" href="#" onclick="return MenuChange(this);">分解字符串包含的信息值后然后合并到另外一表的信息</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/20/2013 15:09:32<br /><p>分解字符串包含的信息值后然后合并到另外一表的信息<br />
(爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-23  广东深圳)<br />
<br />
</p>
<H2><a id="77301e40-e5c4-43ba-b40f-f4a725ef5c53.html" href="#" onclick="return MenuChange(this);">BOM按节点排序应用实例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/12/2013 15:23:26<br /><p>BOM按节点排序应用实例 <br />
--------------------------------------------------------------------------<br />
<br />
</p>
<H2><a id="e53c5652-b64d-4f3a-8470-0ba21e7c9744.html" href="#" onclick="return MenuChange(this);">如何使用case when 进行排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/06/2013 15:13:59<br /><p>-->生成测试数据:<br />
GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
</p>
<H2><a id="e85dc8e0-d770-4f62-b9ce-71e97ddd21e0.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (5)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/06/2013 15:10:25<br /><p>http://id.91cool.net/sign/?name=%CE%DE%D3%C7&say=%B2%C5%B8%DF%C6%DF%B0%CB%B6%B7,%D1%A7%B8%BB%CE%E5%C1%F9%B3%B5,%B8%C4%D0%D0%C8%FD%CB%C4%B4%CE,%D4%C2%C8%EB%D2%BB%B6%FE%C7%A7! <br />
<br />
显示IP<br />
</p>
