<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="da9c4269-6f94-41ed-9678-4029bc6c7b41.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/30/2013 15:12:22<br /><p>--行列互转<br />
/******************************************************************************************************************************************************<br />
以学生成绩为例子，比较形象易懂<br />
</p>
<H2><a id="ca22e793-72b8-4408-a96b-aaeb525a73ef.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/25/2013 15:23:14<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="81482d3b-a102-491d-8a73-9de59551a413.html" href="#" onclick="return MenuChange(this);">拆分表字段的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/24/2013 15:19:23<br /><p>--分拆列值<br />
--原著：邹建<br />
--改编：爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-16  广东深圳<br />
</p>
<H2><a id="77551356-6e13-4055-809c-398e375ee522.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/15/2013 15:11:06<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="20888d7c-1ec1-4cfb-855c-91a81036d82c.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/03/2013 15:31:45<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="47b72355-c892-4536-a1b6-77c9e9f6a452.html" href="#" onclick="return MenuChange(this);">全角半角转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/02/2013 15:18:16<br /><p>if   exists   (select   *   from   dbo.sysobjects   where   id   =   object_id(N'[dbo].[f_convert]')   and   xtype   in   (N'FN',   N'IF',   N'TF'))   <br />
  drop   function   [dbo].[f_convert]   <br />
  GO   <br />
</p>
<H2><a id="fd7f2077-fd72-4871-9289-f7d8e986353c.html" href="#" onclick="return MenuChange(this);">数据库笔记3</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/01/2013 15:29:19<br /><p>/*<br />
功能：2000当中绘画日历 <br />
*/<br />
</p>
