<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="1e7ce1a7-bce9-4d5a-80f4-ea828ef8e441.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/30/2013 15:17:54<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="0b27bca5-7668-4474-8c4f-b94f9251163e.html" href="#" onclick="return MenuChange(this);">SQL SERVER数据库置疑后恢复步骤</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/26/2013 15:18:36<br /><p>--常规SQL SERVER数据库置疑后恢复步骤   <br />
--1． 恢复步骤：   <br />
--a.将smlog_log.ldf文件备份到其它目录下；   <br />
</p>
<H2><a id="4f6daf49-e3e8-4b15-a6ec-66cb02fb582f.html" href="#" onclick="return MenuChange(this);">取n到m行的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/17/2013 15:15:02<br /><p>取n到m行<br />
<br />
1. <br />
</p>
<H2><a id="677af428-b7fc-4d52-a0d3-ac1a79049d00.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (4)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/13/2013 15:27:52<br /><p><br />
declare @name nvarchar(100)<br />
declare cur cursor for select name from sysobjects where type = 'U'<br />
</p>
<H2><a id="9f4183f9-6e92-4f18-84a6-ebffbc6a62b3.html" href="#" onclick="return MenuChange(this);">Bulk Insert</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/12/2013 15:17:38<br /><p>/************************************************************************************************<br />
                          乌龟代码<br />
*************************************************************************************************/<br />
</p>
<H2><a id="450d25bd-6275-4dab-a09d-ca9f64ab3dfd.html" href="#" onclick="return MenuChange(this);">查看指定spid的脚本当前运行情况和状态</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/04/2013 15:11:33<br /><p>USE Master<br />
GO<br />
<br />
</p>
