<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="5147ba69-8834-482b-8276-59fac212fd6f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/24/2013 15:18:23<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="c0a01bcb-f377-49c1-9f15-1e16b39c14b4.html" href="#" onclick="return MenuChange(this);">存储过程调用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/09/2013 15:26:09<br /><p>第一种方法: 使用output参数<br />
<br />
USE AdventureWorks;<br />
</p>
<H2><a id="da0ad5c0-f9c7-4ce1-9b01-f89983df1a4c.html" href="#" onclick="return MenuChange(this);">SQL SERVER 2005 同步复制技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/06/2013 15:17:10<br /><p>SQL SERVER 2005 同步复制技术<br />
<br />
以下实现复制步骤（以快照复制为例） <br />
</p>
<H2><a id="c4dd4600-5e63-4f69-848c-ae384c4ab451.html" href="#" onclick="return MenuChange(this);">排序问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/04/2013 15:10:41<br /><p>排序问题 <br />
<br />
CREATE TABLE [t] ( <br />
</p>
<H2><a id="8aa58b1c-8bce-44a2-aee3-e55e23e44675.html" href="#" onclick="return MenuChange(this);">sql之left join、right join、inner join的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/01/2013 15:09:30<br /><p>left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录 <br />
right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录<br />
inner join(等值连接) 只返回两个表中联结字段相等的行<br />
</p>
