<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="76e5739e-b093-4502-aae9-0cca53a5fbcf.html" href="#" onclick="return MenuChange(this);">字符串的拆分 (2)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/19/2013 15:21:14<br /><p>　　use tempdb<br />
　　go<br />
　　--测试数据<br />
</p>
<H2><a id="0b2e0a11-dc58-46a5-b704-cc2ba0091a88.html" href="#" onclick="return MenuChange(this);">如何删除 SQL2005 过期的数据库备份文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/18/2013 15:31:36<br /><p>-- 如何删除 SQL2005 过期的数据库备份文件呢？ <br />
<br />
在 SQL2005 数据库中，不可以自动删除过期的备份文件，所以借用第三方插件完成此功能。 <br />
</p>
<H2><a id="f9def46d-663e-46cc-a605-1be68c7e244b.html" href="#" onclick="return MenuChange(this);">深度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/12/2013 15:28:31<br /><p>--测试数据   深度排序     <br />
  DECLARE   @t   TABLE(ID   char(3),PID   char(3),Name   nvarchar(10))   <br />
  INSERT   @t   SELECT   '001',NULL   ,'山东省'   <br />
</p>
<H2><a id="28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65.html" href="#" onclick="return MenuChange(this);">全文索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/09/2013 15:30:28<br /><p>-------------开启全文索引和创建全文索引目录<br />
exec sp_fulltext_database 'enable'<br />
--exec sp_fulltext_catalog 'gf_ft','drop'<br />
</p>
<H2><a id="8b7397ed-8c23-4d9c-8369-5bd5ea86965e.html" href="#" onclick="return MenuChange(this);">BigData</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/03/2013 15:21:47<br /><p>select loginame, * from master.dbo.sysprocesses<br />
where spid>50<br />
order by 1 <br />
</p>
