<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="a82dc287-12a1-46a6-a73b-ca9a99f00d59.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/20/2013 15:13:36<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="f173f843-8624-49cb-9e64-b71b6de80c66.html" href="#" onclick="return MenuChange(this);">如何写出性能优良的SQL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/13/2013 15:27:06<br /><p>如何写出性能优良的SQL<br />
（1） 选择最有效率的表名顺序(只在基于规则的优化器中有效)： <br />
ORACLE的解析器按照从右到左的顺序处理FROM子句中的表名，FROM子句中写在最后的表(基础表 driving table)将被最先处理，在FROM子句中包含多个表的情况下,你必须选择记录条数最少的表作为基础表。如果有3个以上的表连接查询, 那就需要选择交叉表(intersection table)作为基础表, 交叉表是指那个被其他表所引用的表. <br />
</p>
<H2><a id="f2ee88ca-0e6b-497b-bd6c-54b1de248bc6.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2013 15:18:42<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
