<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="784fc3b9-c47c-4058-82f4-4cadbc5798e9.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/26/2013 15:19:46<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="b1c73c9b-c548-436d-aa6e-d474c998035f.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/24/2013 15:22:49<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="ad2ec0eb-edd2-44fa-9f3f-92988c6f85dd.html" href="#" onclick="return MenuChange(this);">给TEMP减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/15/2013 15:13:58<br /><p>SQL Server会自动创建一个名为tempdb的数据库作为工作空间使用，当您在存储过程中创建一个临时表格时，比如(CREATE TABLE #MyTemp)，无论您正在使用哪个数据库，SQL数据库引擎都会将这个表格创建在tempdb数据库中。<br />
<br />
<br />
</p>
<H2><a id="0a5471f9-a690-44b9-b7d3-8c91ed9ae60f.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/01/2013 15:21:17<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
