<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="8e2a4a1a-ec41-4635-9586-e60fca4c62c0.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/29/2013 15:27:52<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="ebefbeaa-d3de-44a2-ad05-cd9f21021c7f.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (8)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/28/2013 15:13:44<br /><p>SQL语句练习题参考答案 <br />
1、 select Sname,Ssex,Class from Student;<br />
2、 select distinct depart from teacher;<br />
</p>
<H2><a id="32f3bb96-039b-4124-9756-3c52ae4586b9.html" href="#" onclick="return MenuChange(this);">同步两个数据库的示例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/16/2013 15:17:58<br /><p>--参考: <br />
/* <br />
作者:邹建 <br />
</p>
<H2><a id="5750d746-7558-4fbf-a345-0ce7c7482159.html" href="#" onclick="return MenuChange(this);">检查给定串是否存在于由区间及点集的给合内</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:34:20<br /><p>------------------------------------<br />
<br />
-- Author: happyflystone   <br />
</p>
<H2><a id="8ad0752a-c528-4b6b-894c-de735b190f16.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:21:50<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="b4ea6cb4-b0b0-46ed-a3ac-6761e2c694ef.html" href="#" onclick="return MenuChange(this);">Home</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:14:46<br /><p>构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
<br />
--1. 构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
</p>
<H2><a id="f93a6d9a-a873-421a-819d-a3ebf9ab4473.html" href="#" onclick="return MenuChange(this);">如何利用日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/05/2013 15:35:44<br /><p>/*--说明：<br />
下面的代码演示了如何利用日志还原功能，将主数据库中的数据变化及时反馈到备用数据库中<br />
备用数据库的数据可以随时用于查询，但不能被更新（备用数据库只读）。<br />
</p>
