<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="f79cb3a5-64e1-4c59-af09-70b892fb434a.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/28/2014 15:21:16<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<H2><a id="92081e28-8fe6-414e-b5e5-13839dbbf980.html" href="#" onclick="return MenuChange(this);">索引DMV</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/23/2014 15:12:18<br /><p>--查找缺失索引<br />
<br />
SELECT  MID.statement AS ObjectName ,<br />
</p>
<H2><a id="e8314b7e-603b-4db9-bae7-7005ea90cb29.html" href="#" onclick="return MenuChange(this);">bcp1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/18/2014 15:23:07<br /><p>/******* 导出到excel */<br />
EXEC master..xp_cmdshell 'bcp SettleDB.dbo.shanghu out c:\temp1.xls -c -q -S"GNETDATA/GNETDATA" -U"sa" -P""' <br />
<br />
</p>
<H2><a id="b76c778d-32c1-4b92-a059-07f12bdbf6bc.html" href="#" onclick="return MenuChange(this);">笔记七</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/17/2014 15:31:17<br /><p>--空间数据的一些操作<br />
<br />
1.在创建表时定义geometry类型的列<br />
</p>
<H2><a id="c8d57037-d173-4b81-b9a1-52d67aac829e.html" href="#" onclick="return MenuChange(this);">Java</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/17/2014 15:10:20<br /><p>--显示索引消耗的磁盘情况<br />
SELECT  CASE InnerTable.index_id<br />
          WHEN 0 THEN 'HEAP'<br />
</p>
<H2><a id="27a2cb2f-8867-420b-aca3-ad612e7f8060.html" href="#" onclick="return MenuChange(this);">查找无用的索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/13/2014 15:23:33<br /><p><br />
SELECT  ind.index_id ,<br />
        obj.name AS TableName ,<br />
</p>
<H2><a id="50d97020-a856-4bbc-9192-bb663d022eaf.html" href="#" onclick="return MenuChange(this);">获取所有的存储过程脚本</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/11/2014 15:28:01<br /><p>declare @proc_text varchar(max)  <br />
DECLARE get_proc_text_cursor CURSOR FOR <br />
SELECT<br />
</p>
<H2><a id="eba9db85-3d8c-43bd-acd9-d0607b0fce3a.html" href="#" onclick="return MenuChange(this);">读写逻辑读执行计划</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/10/2014 15:24:11<br /><p>SELECT  DB_NAME(R.database_id) AS DatabaseName ,<br />
        S.original_login_name AS LoginName ,<br />
        S.host_name AS ClientMachine ,<br />
</p>
<H2><a id="60642c1f-1a4a-4d43-b650-7016fd0e70bb.html" href="#" onclick="return MenuChange(this);">查看存储过程依赖的表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/09/2014 15:12:08<br /><p>DECLARE @procname NVARCHAR(100) = 'dbo.avnewmanubranchsplit_trend'<br />
 SELECT DISTINCT @procname        procname,SCHEMA_NAME(t.[schema_id]) + '.' <br />
        + OBJECT_NAME(referenced_major_id) <br />
</p>
<H2><a id="4f8cdaf8-892c-4093-8fa5-652ad584fc44.html" href="#" onclick="return MenuChange(this);">阳历转阴历</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/07/2014 15:20:16<br /><p>先建一表，放初始化资料<br />
因为农历的日期，是由天文学家推算出来的，到现在只有到2049年的，以后的有了还可以加入！<br />
CREATE TABLE SolarData<br />
</p>
<H2><a id="dbb24211-87e1-4021-9e35-cd8796e677f8.html" href="#" onclick="return MenuChange(this);">生成三个SQL随机数的方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/05/2014 15:33:15<br /><p>declare   @maxNumber   int,   --随机数最大值 <br />
   @minNumber   int,   --随机数最小值 <br />
                  @rows   int               --要取得的行数   <br />
</p>
<H2><a id="b5b15e8e-b229-4918-9a12-360cdccea0f8.html" href="#" onclick="return MenuChange(this);">将表数据生成SQL脚本的存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/03/2014 15:26:33<br /><p>--将表数据生成SQL脚本的存储过程 <br />
<br />
CREATE PROCEDURE dbo.UspOutputData <br />
</p>
