<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="15b846bf-645c-4b6a-959c-cdef60db4334.html" href="#" onclick="return MenuChange(this);">日期类型的优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/26/2014 15:10:27<br /><p>http://sd.csdn.net/a/20101130/282777.html<br />
</p>
<H2><a id="d191f87d-2993-4533-a7ca-acb109c4a0b7.html" href="#" onclick="return MenuChange(this);">日期类型的优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/20/2014 15:19:04<br /><p>http://sd.csdn.net/a/20101130/282777.html<br />
</p>
<H2><a id="92fd26f8-88d2-4b07-a115-e3e449d4f10f.html" href="#" onclick="return MenuChange(this);">SQL 2000和2005分页存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/11/2014 15:19:42<br /><p>set ANSI_NULLS ON<br />
set QUOTED_IDENTIFIER ON<br />
go<br />
</p>
<H2><a id="0d8ad8d1-5d24-4236-a70c-950f56228087.html" href="#" onclick="return MenuChange(this);">数字转换成EXCEL列名</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/05/2014 15:10:44<br /><p>alter function col_rev(<br />
 @i_version int, -- Excel 版本号 <br />
 @i_col int          -- 字段号(数值表示)<br />
</p>
