<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="453d102d-9336-436a-9973-fafdc71cd57e.html" href="#" onclick="return MenuChange(this);">自动生成测试代码(石头）</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/31/2014 15:20:01<br /><p>set nocount on<br />
go<br />
--处理当前串中的空格，对时分秒的处理<br />
</p>
<H2><a id="36048d20-d909-48e1-b066-230dead0ef61.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/29/2014 15:11:25<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="f6d0a3f5-dc5c-428b-bb7c-542412ba72f6.html" href="#" onclick="return MenuChange(this);">SQL经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/25/2014 15:17:18<br /><p>---------------------------------<br />
--  Author: htl258(Tony)<br />
--  Date  : 2009-08-05 23:13:42<br />
</p>
<H2><a id="ff15040d-f7e6-4880-b45f-5cfd7433cb53.html" href="#" onclick="return MenuChange(this);">删除数据库中所有外键约束</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/24/2014 15:25:35<br /><p>CREATE PROCEDURE sp_drop_all_fk   <br />
  <br />
as  <br />
</p>
<H2><a id="b6b121bb-a2e6-464c-a85c-024e81178a88.html" href="#" onclick="return MenuChange(this);">变态的行列转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/07/2014 15:09:24<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="6766a17f-20ca-46b1-9394-d9878ae6a43d.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/05/2014 15:24:55<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="440d6799-7f3c-4622-b0d0-3dbb1ab146d0.html" href="#" onclick="return MenuChange(this);">SQL转EXCEL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/01/2014 15:21:42<br /><p>SQL SERVER 和EXCEL的数据导入导出<br />
1、在SQL SERVER里查询Excel数据:<br />
-- ======================================================<br />
</p>
