<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="6b0c6cdf-bc48-47e7-a10a-ce1cb6b9c501.html" href="#" onclick="return MenuChange(this);">查看锁信息</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/30/2014 15:26:00<br /><p>create   table   #t(req_spid   int,obj_name   sysname)   <br />
<br />
    <br />
</p>
<H2><a id="930b59d7-fc22-4b31-ac5c-54633f215b9a.html" href="#" onclick="return MenuChange(this);">构造使用IN子句的动态Transact-SQL方法进行编号查询</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/27/2014 15:10:15<br /><p>构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
<br />
--1. 构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
</p>
<H2><a id="46303521-90b2-4d96-97b0-4b24921b59d5.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/24/2014 15:18:09<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
<H2><a id="fd46d90d-b19c-47f5-85bd-6530eb797431.html" href="#" onclick="return MenuChange(this);">拆分表字段的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/23/2014 15:17:24<br /><p>--分拆列值<br />
--原著：邹建<br />
--改编：爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-16  广东深圳<br />
</p>
<H2><a id="507d1e07-dfba-4917-9c8f-2b55e7030c48.html" href="#" onclick="return MenuChange(this);">BOM1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/21/2014 15:18:54<br /><p>--bom结构，查找节点下所有子节点：<br />
<br />
create table os(id int,parentid int,desn varchar(10))<br />
</p>
<H2><a id="e42c35fb-efcb-47b1-8d37-c883ff9dd7ce.html" href="#" onclick="return MenuChange(this);">动态查询</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2014 15:31:16<br /><p>--1. 构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
<br />
--a. 要查询的字段类型是数字型<br />
</p>
<H2><a id="6d43ae98-7a44-4f70-82f5-9cd5e064e43b.html" href="#" onclick="return MenuChange(this);">经典代码</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2014 15:29:24<br /><p>if object_id('[tb]') is not null drop table [tb] <br />
go <br />
create table [tb]([value1] int,[value2] int) <br />
</p>
<H2><a id="05d3aca3-ecdb-4797-8195-01ea5b7ceee4.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2014 15:08:49<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="a9f2d78f-5e72-4460-bd78-ff8e2977eded.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/11/2014 15:20:48<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
