<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="df3696ac-90c3-4129-9a60-b3cb7a247b6b.html" href="#" onclick="return MenuChange(this);">查每个分组前N条记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2014 15:25:35<br /><p>---------------------------------<br />
--  Author: liangCK 小梁<br />
--  Title : 查每个分组前N条记录<br />
</p>
<H2><a id="ea864080-0237-4c1a-948b-e09cdb74db00.html" href="#" onclick="return MenuChange(this);">BOM2</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/26/2014 15:26:40<br /><p>/*<br />
标题：SQL SERVER 2000中查询指定节点及其所有父节点的函数(字符串形式显示)<br />
作者：爱新觉罗·毓华(十八年风雨,守得冰山雪莲花开)  <br />
</p>
<H2><a id="da313740-5543-400e-bf02-d05a3cf5ea71.html" href="#" onclick="return MenuChange(this);">SQL复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/21/2014 15:27:12<br /><p>SQL复制表结构的通用存储过程 <br />
 <br />
-- Transfer对象的重要属性<br />
</p>
<H2><a id="a22de7c0-c85f-42a2-9cf7-1c2c1a596e7e.html" href="#" onclick="return MenuChange(this);">时间格式转换问题 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/21/2014 15:14:05<br /><p> 时间格式转换问题 <br />
因为新开发的软件需要用一些旧软件生成的一些数据，在时间格式上不统一，只能手工转换，研究了一下午写了三条语句，以前没怎么用过convert函数和case语句，还有"+"操作符在不同上下文环境也会起到不同的作用，把我搞晕了要，不过现在看来是差不多弄好了。 <br />
<br />
</p>
<H2><a id="8fec8598-01e2-45ae-9065-a6f38009402d.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (2)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/19/2014 15:14:27<br /><p>设置默认值alter table <表名> add <列名> <默认值类型>  default '<默认值>'<br />
设置主键alter table <表名> add constraint <主键名> primary key(<列名>)<br />
设置联合主键alter table <表名> add constraint <主键名> primary key(<列名1>，<列名2>，...,<列名N>)<br />
</p>
<H2><a id="7ef1f296-c0a4-4e81-bed2-85f489d68eb0.html" href="#" onclick="return MenuChange(this);">导出表视图中的数据为html 文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/15/2014 15:27:36<br /><p>IF OBJECT_ID(N'dbo.p_ExportHtml') IS NOT NULL<br />
<br />
    DROP PROC dbo.p_ExportHtml;<br />
</p>
<H2><a id="f7e30a42-7740-4615-87d5-0c9e92b8c701.html" href="#" onclick="return MenuChange(this);">查找无用的索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/10/2014 15:19:53<br /><p><br />
SELECT  ind.index_id ,<br />
        obj.name AS TableName ,<br />
</p>
<H2><a id="aad845b6-a48e-4e25-80ca-ac142bd0e757.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/08/2014 15:15:27<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
