<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="0cf6bad7-e27f-4a80-ac2d-3237445e19cb.html" href="#" onclick="return MenuChange(this);">SQL邮件操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/22/2014 15:20:02<br /><p>SQL Server 并没有内置邮件服务器（Mail Server），它跟我们发送邮件一样，需要用户名和密码通过 SMTP（Simple Message Transfer Protocol）去连接邮件服务器。我们想让 SQL Server 来发送邮件，首先要告诉它用户名称，密码，服务器地址，网络传送协议，邮件服务器的端口。。。等信息。<br />
　　以下脚本实现了数据库邮件的配置：<br />
--下面是具体的配置邮件步骤 <br />
</p>
<H2><a id="7a28b24b-dfb2-4e7c-94dd-c117d5b63af2.html" href="#" onclick="return MenuChange(this);">找出在2个日期之间的日期</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/10/2014 15:20:26<br /><p>declare @sdate datetime <br />
declare @edate datetime <br />
set @sdate = '2009-8-30' <br />
</p>
<H2><a id="e9daa50d-a7bd-4766-b7f0-0cd1c86103eb.html" href="#" onclick="return MenuChange(this);">SQL求中位数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/02/2014 15:25:45<br /><p>中位数（Median）统计学名词<br />
<br />
 1、定义：一组数据按从小到大（或从大到小）的顺序依次排列，处在中间位置的一个数（或最中间两个数据的平均数，注意：和众数不同，中位数不一定在这组数据中）。　 　　<br />
</p>
<H2><a id="98fd6d80-c62d-494b-b7c2-5d6bf9fb210a.html" href="#" onclick="return MenuChange(this);">查询独立的日期</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/01/2014 15:09:21<br /><p>GO<br />
IF OBJECT_ID('A')IS NOT NULL<br />
DROP TABLE  A<br />
</p>
