<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="a214408c-6b26-4ab2-ad36-e719790646e2.html" href="#" onclick="return MenuChange(this);">合并拆分表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/29/2014 15:21:03<br /><p>/****************************************************************************************************************************************************** <br />
合并分拆表数据 <br />
<br />
</p>
<H2><a id="b31bb5d6-f875-487b-82ec-b3519926f009.html" href="#" onclick="return MenuChange(this);">PerfTuningWithSQLServerDMVs_DavidsonFord_scripts</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/28/2014 15:25:19<br /><p>/* Complete Code Listing for "Performance Tuning with<br />
SQL Server DMVs" by Tim Ford and Louis Davidson<br />
<br />
</p>
<H2><a id="b1013cb7-407c-41aa-8236-e94dda2c9c4a.html" href="#" onclick="return MenuChange(this);">Transact-SQL语句导入导出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/27/2014 15:22:34<br /><p>Transact-SQL语句进行导入导出：<br />
<br />
1.在SQL SERVER里查询access数据:<br />
</p>
<H2><a id="97edf03a-cdd1-43dd-89b9-89509cf0307c.html" href="#" onclick="return MenuChange(this);">下一个生日还有多少天</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/14/2014 15:06:53<br /><p>/*<br />
6、编写一个函数func_calcdays，计算下一个生日还有多少天，函数<br />
   带两个输入参数（生日和当前日期），一个返回值（天数）。<br />
</p>
<H2><a id="70176e8a-1d60-4729-ac49-4a74884b1d8d.html" href="#" onclick="return MenuChange(this);">系统数据库中查询表的所有字段以及描述（2008，2000区分）以及查询表的外键</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/13/2014 15:07:26<br /><p>/**************************<br />
系统数据库中查询表的所有字段以及描述（2008，2000区分）以及查询表的外键<br />
<br />
</p>
<H2><a id="7e0f00e7-59aa-4672-83b9-b349e15ca728.html" href="#" onclick="return MenuChange(this);">经典递归问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/07/2014 15:21:34<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="eb390fc2-3829-4cc5-99a5-d91c098b07a0.html" href="#" onclick="return MenuChange(this);">不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/02/2014 15:23:03<br /><p>--不同服务器数据库之间的数据操作<br />
--************************************************************************************<br />
1、--创建链接服务器 <br />
</p>
