<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="e9c7838a-e517-4ff6-9904-596afab24cc7.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/25/2014 15:23:25<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="7f9995dc-3119-4e8e-a778-2317fddde385.html" href="#" onclick="return MenuChange(this);">MSSQL計算表達式的值常見解決方案</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/25/2014 15:14:38<br /><p>--> Title  : MSSQL計算表達式的值常見解決方案<br />
<br />
--> Author : wufeng4552<br />
</p>
<H2><a id="4fb394f9-0978-45fb-a59e-a388020a71d7.html" href="#" onclick="return MenuChange(this);">SQL Select语句完整的执行顺序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/20/2014 15:27:44<br /><p>SQL Select语句完整的执行顺序： <br />
<br />
1、from子句组装来自不同数据源的数据； <br />
</p>
<H2><a id="2c604e1a-1f18-4bc5-942b-f84af8baacb7.html" href="#" onclick="return MenuChange(this);">笔记二</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2014 15:09:42<br /><p>---查询索引操作的信息<br />
select * from sys.dm_db_index_usage_stats<br />
<br />
</p>
<H2><a id="31772079-939f-4a0c-b506-10877ca4fb85.html" href="#" onclick="return MenuChange(this);">行转列</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/13/2014 15:32:45<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="9f54f836-8947-4574-bc89-8bf34713bde6.html" href="#" onclick="return MenuChange(this);">SQL Server 2000连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/10/2014 15:21:00<br /><p>SQL Server 2000连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p>
<H2><a id="b28f19dd-bcce-46f2-bf68-9e51929c0fea.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (7)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2014 15:33:37<br /><p>declare @rarcmd varchar(8000),@rarfile varchar(200),@bakfile varchar(200)<br />
set @rarfile='d:\aaa.txt'<br />
set @bakfile='d:\aaa.rar'<br />
</p>
<H2><a id="7914bdd9-53b2-47cb-b95f-d11ec29f9190.html" href="#" onclick="return MenuChange(this);">循环数据库压缩日志文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2014 15:06:51<br /><p>--循环数据库压缩日志文件(假设日志文件fileid=2)<br />
create table #db(id int identity(1,1),name varchar(80),dbsize int,mdfsize int,ldfsize int)<br />
insert into #db<br />
</p>
