<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="622e6d2e-6873-453d-990f-6de0efd9ae1e.html" href="#" onclick="return MenuChange(this);">About</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/17/2015 15:26:47<br /><p>SELECT<br />
    avg_total_user_cost * avg_user_impact * ( user_scans + user_seeks ) AS PossibleImprovement ,<br />
    last_user_seek ,<br />
</p>
<H2><a id="202f3d4e-ec1e-4253-b2c2-037bf3511981.html" href="#" onclick="return MenuChange(this);">深度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/08/2015 15:26:33<br /><p>--测试数据   深度排序     <br />
  DECLARE   @t   TABLE(ID   char(3),PID   char(3),Name   nvarchar(10))   <br />
  INSERT   @t   SELECT   '001',NULL   ,'山东省'   <br />
</p>
<H2><a id="370132d5-96b2-4881-9b99-67a8d50b492e.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/05/2015 15:19:27<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
