<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="7773cf76-f443-44fe-a501-dded9d2a94c0.html" href="#" onclick="return MenuChange(this);">变态的行列转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/29/2015 15:31:56<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="e60e0f4f-ac69-4405-ac27-71f79fd9ef76.html" href="#" onclick="return MenuChange(this);">处理表重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/23/2015 15:16:05<br /><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
</p>
<H2><a id="e067a051-d10f-4ad0-938c-c359d00b565e.html" href="#" onclick="return MenuChange(this);">高难度行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/22/2015 15:16:05<br /><p>create table pds<br />
(姓名 varchar(8), <br />
 内容 varchar(5), <br />
</p>
<H2><a id="fc07116c-d65b-43d2-be2f-2473b9605155.html" href="#" onclick="return MenuChange(this);">BCP</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/19/2015 15:25:30<br /><p>1) 使用BCP导出整个表或视图。 <br />
<br />
BCP AdventureWorks.sales.currency out c:\currency1.txt -c -U"sa" -P"password" --使用密码连接 <br />
</p>
