<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="44c22833-a557-44f4-ba40-f797235325d1.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/24/2015 15:11:05<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="4a8d364b-d877-4b44-9bb6-f81e7a20e2b5.html" href="#" onclick="return MenuChange(this);">单个语句快于存储过程的原因分析</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/07/2015 15:16:36<br /><p>SQL Server中存储过程比直接运行SQL语句慢的原因 <br />
 在很多的资料中都描述说SQLSERVER的存储过程较普通的SQL语句有以下优点： <br />
1.       存储过程只在创造时进行编译即可，以后每次执行存储过程都不需再重新编译，而我们通常使用的SQL语句每执行一次就编译一次,所以使用存储过程可提高数据库执行速度。 <br />
</p>
<H2><a id="50153fcb-1ad6-4196-8301-5dc3daa68d6b.html" href="#" onclick="return MenuChange(this);">经典递归问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/03/2015 15:22:29<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
