<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="c8305b69-b849-47af-be8b-b1442dbf70c6.html" href="#" onclick="return MenuChange(this);">SQL断电的处理方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2015 15:23:16<br /><p>USE MASTER<br />
GO<br />
sp_dboption ‘databaseName’, ’single user’, ‘true’<br />
</p>
<H2><a id="cccae6fe-a79e-4854-a8d3-99a8f3ded70b.html" href="#" onclick="return MenuChange(this);">递归实现累计求和</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/26/2015 15:19:08<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="b780f9ce-c42f-4ca1-82bf-d1c77d707541.html" href="#" onclick="return MenuChange(this);">SQL2005的安装问题汇总</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/18/2015 15:16:16<br /><p>SQL2005的安装问题汇总<br />
SQL2005 分五个版本，如下所列，<br />
　　1.Enterprise(企业版), <br />
</p>
<H2><a id="ca6c9efe-3a1b-458b-b985-33d7b08dfee4.html" href="#" onclick="return MenuChange(this);">2008转到2005</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/05/2015 15:14:55<br /><p>2008转到2000的步骤 <br />
1. 生成for 2005版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
