<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="46851b42-bdf4-4a0c-aaef-e56a2240c41b.html" href="#" onclick="return MenuChange(this);">异机备份</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/28/2015 15:25:29<br /><p>有A数据库服务器，B本机； <br />
<br />
我现在想通过在B机器上通过代码调用SQL来执行A数据库的备份到B机器上 <br />
</p>
<H2><a id="09b0b998-19a2-44d9-a9c3-5fd1408f00c4.html" href="#" onclick="return MenuChange(this);">高难度行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/16/2015 15:33:59<br /><p>create table pds<br />
(姓名 varchar(8), <br />
 内容 varchar(5), <br />
</p>
<H2><a id="ee4646af-374a-43e9-9815-b241d9abe695.html" href="#" onclick="return MenuChange(this);">数据结构比较和表结构比较</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/03/2015 15:25:16<br /><p>*--数据结构比较 <br />
<br />
比较两个数据库中的视图/存储过程的结构(结构比较,不是功能比较) <br />
</p>
