<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="13e3b37b-f0a7-49a1-8c33-d806601e586e.html" href="#" onclick="return MenuChange(this);">下一个生日还有多少天</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/10/2015 15:20:22<br /><p>/*<br />
6、编写一个函数func_calcdays，计算下一个生日还有多少天，函数<br />
   带两个输入参数（生日和当前日期），一个返回值（天数）。<br />
</p>
<H2><a id="5d26e930-3d03-4357-bd93-f127fd660d35.html" href="#" onclick="return MenuChange(this);">只有mdf文件的恢复技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/07/2015 15:26:12<br /><p>只有mdf文件的恢复技术 <br />
<br />
　　由于种种原因，我们如果当时仅仅备份了mdf文件，那么恢复起来就是一件很麻烦的事情了。 <br />
</p>
