<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="bfe8db4d-970d-4c79-bb98-84a5b433ebfe.html" href="#" onclick="return MenuChange(this);">sp_MSforeachtable和sp_MSforeachdb用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/29/2015 15:29:08<br /><p>1.简介:<br />
有时经常会碰到要求遍历所有表,改变表的属性时,这时可以用到这两个存储过程;<br />
<br />
</p>
<H2><a id="63f115d5-7d15-4265-b182-55ed6768a308.html" href="#" onclick="return MenuChange(this);">查找指定節點下的子結點和父节点</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/19/2015 15:16:02<br /><p>-->Title:Generating test data<br />
-->Author:wufeng4552<br />
-->Date :2009-09-30 08:52:38<br />
</p>
