<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="189dc10e-b2c1-4ebc-95ac-aa7dc3861014.html" href="#" onclick="return MenuChange(this);">获取拼音字母</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2015 15:24:11<br /><p>Create  function fun_getPY <br />
 ( <br />
    @str nvarchar(4000) <br />
</p>
<H2><a id="bdcdc8b8-3b9b-42b4-86fa-77729e85d709.html" href="#" onclick="return MenuChange(this);">分区视图和树型的实现</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2015 15:21:45<br /><p>分区视图 <br />
分区视图是提高查询性能的一个很好的办法 <br />
<br />
</p>
<H2><a id="9e007ddf-36f0-4201-ab01-dc9296ea59b2.html" href="#" onclick="return MenuChange(this);">如何批量替换ntext</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/25/2015 15:24:00<br /><p><br />
update 表名 <br />
set text类型字段名=replace(convert(varchar(8000),text类型字段名),'要替换的字符','替换成的值')<br />
</p>
<H2><a id="2cd2205d-4bb7-46c5-87d8-3c47968ad5b4.html" href="#" onclick="return MenuChange(this);">拆分、合并、切换分区</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/10/2015 15:29:23<br /><p>USE master<br />
GO<br />
<br />
</p>
