<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="2016.06-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.06-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.06-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.06-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.06-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.06-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
<H2><a id="8ad0752a-c528-4b6b-894c-de735b190f16.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/03/2016 04:45:32<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="b1c73c9b-c548-436d-aa6e-d474c998035f.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/03/2016 02:59:51<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="1c83e627-771c-439d-a5fd-c1c3fff6188d.html" href="#" onclick="return MenuChange(this);">BOM深度广度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 15:25:51<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
go<br />
create table [tb]([modeid] int,modename varchar(20),parentid int)<br />
</p>
<H2><a id="d8b0e118-eecc-48e4-bc10-4db5a8022536.html" href="#" onclick="return MenuChange(this);">日志处理</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 13:12:16<br /><p>1、用BACKUP LOG database WITH NO_LOG清除日志 <br />
<br />
把数据库属性中的故障还原模型改为“简单”可以大大减慢日志增长的速度。 <br />
</p>
<H2><a id="a8976a57-4ae5-44b6-b0bb-ed6be29e4eaa.html" href="#" onclick="return MenuChange(this);">如何截取无规则字符串中的数字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 11:33:25<br /><p>--如何截取无规律的字符串中的数字：<br />
 <br />
declare   @str   varchar(100),@str2   varchar(100) <br />
</p>
<H2><a id="46851b42-bdf4-4a0c-aaef-e56a2240c41b.html" href="#" onclick="return MenuChange(this);">异机备份</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 01:17:17<br /><p>有A数据库服务器，B本机； <br />
<br />
我现在想通过在B机器上通过代码调用SQL来执行A数据库的备份到B机器上 <br />
</p>
<H2><a id="5de0f60b-c0e1-4438-961b-ea15241bca0f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2016 12:57:04<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="27a2cb2f-8867-420b-aca3-ad612e7f8060.html" href="#" onclick="return MenuChange(this);">查找无用的索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2016 06:38:13<br /><p><br />
SELECT  ind.index_id ,<br />
        obj.name AS TableName ,<br />
</p>
<H2><a id="49c851b7-e288-4381-bc32-08908d89a0a3.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2016 00:50:21<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<a id="2016.06-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.06-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.06-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.06-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.06-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.06-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
