<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="2016.05-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.05-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.05-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.05-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.05-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.05-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
<H2><a id="eb390fc2-3829-4cc5-99a5-d91c098b07a0.html" href="#" onclick="return MenuChange(this);">不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 12:11:49<br /><p>--不同服务器数据库之间的数据操作<br />
--************************************************************************************<br />
1、--创建链接服务器 <br />
</p>
<H2><a id="b780f9ce-c42f-4ca1-82bf-d1c77d707541.html" href="#" onclick="return MenuChange(this);">SQL2005的安装问题汇总</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 10:14:43<br /><p>SQL2005的安装问题汇总<br />
SQL2005 分五个版本，如下所列，<br />
　　1.Enterprise(企业版), <br />
</p>
<H2><a id="6d13552d-55a3-4c5e-8bd3-cc5883820ed2.html" href="#" onclick="return MenuChange(this);">标识列的处理</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 06:53:39<br /><p>引用邹建的：  <br />
  --创建测试表  <br />
  CREATE  TABLE  t1(ID  int  IDENTITY,A  int)  <br />
</p>
<H2><a id="ff15040d-f7e6-4880-b45f-5cfd7433cb53.html" href="#" onclick="return MenuChange(this);">删除数据库中所有外键约束</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 00:13:27<br /><p>CREATE PROCEDURE sp_drop_all_fk   <br />
  <br />
as  <br />
</p>
<H2><a id="dbb24211-87e1-4021-9e35-cd8796e677f8.html" href="#" onclick="return MenuChange(this);">生成三个SQL随机数的方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 20:38:08<br /><p>declare   @maxNumber   int,   --随机数最大值 <br />
   @minNumber   int,   --随机数最小值 <br />
                  @rows   int               --要取得的行数   <br />
</p>
<H2><a id="08626705-2ee2-43b3-a066-bfd0281cf52c.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 13:56:17<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="f2b8f1e4-c4bc-4f49-be96-cfeac2d59f5f.html" href="#" onclick="return MenuChange(this);">不同服务器不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 13:19:38<br /><p>/*不同服务器数据库之间的数据操作*/<br />
<br />
--创建链接服务器 <br />
</p>
<H2><a id="58c7de25-4a6f-46df-8df2-35085ea3e1d5.html" href="#" onclick="return MenuChange(this);">小写转大写金额</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 12:54:02<br /><p>Create Function F_LowerToUpper(@LowerMoney Decimal(38,4)) <br />
Returns Varchar(200)    --返回的大写金额的字符 <br />
As <br />
</p>
<H2><a id="3ca69daa-8f73-43a7-ae81-92403e672f18.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 12:18:34<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="d357c8f1-19d2-4bd7-9985-43acf87156ef.html" href="#" onclick="return MenuChange(this);">将表查询存储为标准的XML文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 10:40:01<br /><p>/*--存为XML<br />
 将表/查询存储为标准的XML文件<br />
--邹建 2003.12(引用请保留此信息)--*/<br />
</p>
<H2><a id="cce6b4db-4564-4079-95ee-9810bfe62c16.html" href="#" onclick="return MenuChange(this);">Profile</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 09:50:56<br /><p>-->Title:Generating test data<br />
-->Author:wufeng4552<br />
-->Date :2009-09-30 08:52:38<br />
</p>
<H2><a id="834f2fd2-21d7-4410-b597-7304579cb260.html" href="#" onclick="return MenuChange(this);">服务器登录的一些脚本</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 00:05:31<br /><p>select loginame, * from master.dbo.sysprocesses<br />
where spid>50<br />
order by 1 <br />
</p>
<H2><a id="769b9108-e490-4c5b-99ac-6652e4f1b827.html" href="#" onclick="return MenuChange(this);">Contact</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/10/2016 16:39:34<br /><p>--1. 构造使用IN子句的动态Transact-SQL方法进行编号查询<br />
<br />
--a. 要查询的字段类型是数字型<br />
</p>
<H2><a id="b28f19dd-bcce-46f2-bf68-9e51929c0fea.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (7)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/10/2016 11:41:29<br /><p>declare @rarcmd varchar(8000),@rarfile varchar(200),@bakfile varchar(200)<br />
set @rarfile='d:\aaa.txt'<br />
set @bakfile='d:\aaa.rar'<br />
</p>
<H2><a id="251fce7f-249a-45a0-9378-bc4521026811.html" href="#" onclick="return MenuChange(this);">间断和孤岛问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/10/2016 01:43:37<br /><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
</p>
<H2><a id="da313740-5543-400e-bf02-d05a3cf5ea71.html" href="#" onclick="return MenuChange(this);">SQL复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 22:32:39<br /><p>SQL复制表结构的通用存储过程 <br />
 <br />
-- Transfer对象的重要属性<br />
</p>
<H2><a id="eabb7c4f-730b-45c1-8399-eba813155cfd.html" href="#" onclick="return MenuChange(this);">SQL Server连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 13:01:29<br /><p>SQL Server连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p>
<H2><a id="5d26e930-3d03-4357-bd93-f127fd660d35.html" href="#" onclick="return MenuChange(this);">只有mdf文件的恢复技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 08:20:56<br /><p>只有mdf文件的恢复技术 <br />
<br />
　　由于种种原因，我们如果当时仅仅备份了mdf文件，那么恢复起来就是一件很麻烦的事情了。 <br />
</p>
<H2><a id="8b7397ed-8c23-4d9c-8369-5bd5ea86965e.html" href="#" onclick="return MenuChange(this);">BigData</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 08:19:30<br /><p>select loginame, * from master.dbo.sysprocesses<br />
where spid>50<br />
order by 1 <br />
</p>
<H2><a id="f79cb3a5-64e1-4c59-af09-70b892fb434a.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/08/2016 18:04:55<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<a id="2016.05-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.05-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.05-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.05-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.05-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.05-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
