<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="2016.05-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.05-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.05-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.05-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.05-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.05-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
<H2><a id="f2c20d39-79a1-4b77-963b-f0ce4b4aab48.html" href="#" onclick="return MenuChange(this);">将一列中所有的值一行显示</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 23:19:26<br /><p>----------------------------------------------------<br />
/*如何将一列中所有的值一行显示<br />
数据源<br />
</p>
<H2><a id="08ac02f6-29b0-4c1a-907d-f9585b9af8e8.html" href="#" onclick="return MenuChange(this);">字符串分拆</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 15:07:39<br /><p>if object_id('f_split')is not null drop function  f_split<br />
go<br />
create function f_split<br />
</p>
<H2><a id="ed70f8ba-d2e1-49c3-bd80-f1eb2e6e8399.html" href="#" onclick="return MenuChange(this);">搜索指定数据在那个对象中存在</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 08:51:51<br /><p>CREATE PROC sp_ValueSearch<br />
@value sql_variant,  --要搜索的数据<br />
@precision bit=1     --1=仅根据sql_variant中的数据类型查找对应类型的数据列.<>1,查询兼容的所有列,字符数据使用like匹配<br />
</p>
<H2><a id="fc07116c-d65b-43d2-be2f-2473b9605155.html" href="#" onclick="return MenuChange(this);">BCP</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 06:37:06<br /><p>1) 使用BCP导出整个表或视图。 <br />
<br />
BCP AdventureWorks.sales.currency out c:\currency1.txt -c -U"sa" -P"password" --使用密码连接 <br />
</p>
<H2><a id="1e7ce1a7-bce9-4d5a-80f4-ea828ef8e441.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 06:08:37<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="63f115d5-7d15-4265-b182-55ed6768a308.html" href="#" onclick="return MenuChange(this);">查找指定節點下的子結點和父节点</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 04:06:43<br /><p>-->Title:Generating test data<br />
-->Author:wufeng4552<br />
-->Date :2009-09-30 08:52:38<br />
</p>
<H2><a id="7f2e4112-4e7f-4042-aa7b-f3f4642a95bc.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 14:19:14<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="ad1b3fe7-e740-473d-be88-680ce6dc7e26.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 03:15:24<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="77551356-6e13-4055-809c-398e375ee522.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 02:09:32<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="6d43ae98-7a44-4f70-82f5-9cd5e064e43b.html" href="#" onclick="return MenuChange(this);">经典代码</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 01:29:10<br /><p>if object_id('[tb]') is not null drop table [tb] <br />
go <br />
create table [tb]([value1] int,[value2] int) <br />
</p>
<H2><a id="92081e28-8fe6-414e-b5e5-13839dbbf980.html" href="#" onclick="return MenuChange(this);">索引DMV</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/29/2016 14:42:10<br /><p>--查找缺失索引<br />
<br />
SELECT  MID.statement AS ObjectName ,<br />
</p>
<H2><a id="5a09748d-6f82-4d83-9b29-1fd284d2a43f.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/29/2016 10:14:25<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="3e35d11b-c212-4b25-9c04-b2257a9609bc.html" href="#" onclick="return MenuChange(this);">日期函数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/29/2016 05:59:08<br /><p>通常，你需要获得当前日期和计算一些其他的日期，例如，你的程序可能需要判断一个月的第一天或者最后一天。你们大部分人大概都知道怎样把日期进行分割（年、月、日等），然后仅仅用分割出来的年、月、日等放在几个函数中计算出自己所需要的日期！在这篇文章里，我将告诉你如何使用DATEADD和DATEDIFF函数来计算出在你的程序中可能你要用到的一些不同日期。  <br />
        在使用本文中的例子之前，你必须注意以下的问题。大部分可能不是所有例子在不同的机器上执行的结果可能不一样，这完全由哪一天是一个星期的第一天这个设置决定。第一天（DATEFIRST）设定决定了你的系统使用哪一天作为一周的第一天。所有以下的例子都是以星期天作为一周的第一天来建立，也就是第一天设置为7。假如你的第一天设置不一样，你可能需要调整这些例子，使它和不同的第一天设置相符合。你可以通过@@DATEFIRST函数来检查第一天设置。  <br />
        为了理解这些例子，我们先复习一下DATEDIFF和DATEADD函数。DATEDIFF函数计算两个日期之间的小时、天、周、月、年等时间间隔总数。DATEADD函数计算一个日期通过给时间间隔加减来获得一个新的日期。要了解更多的DATEDIFF和DATEADD函数以及时间间隔可以阅读微软联机帮助。  <br />
</p>
<H2><a id="b3ec2d5c-0201-4eb2-8541-d03fc4db4054.html" href="#" onclick="return MenuChange(this);">查看锁信息</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/29/2016 03:05:23<br /><p>create   table   #t(req_spid   int,obj_name   sysname)   <br />
<br />
    <br />
</p>
<H2><a id="402b73a5-0bba-4a10-858f-8d0d4208bc9d.html" href="#" onclick="return MenuChange(this);">复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 21:23:17<br /><p>复制表结构的通用存储过程 <br />
<br />
-- Transfer对象的重要属性 <br />
</p>
<H2><a id="e60e0f4f-ac69-4405-ac27-71f79fd9ef76.html" href="#" onclick="return MenuChange(this);">处理表重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 12:11:23<br /><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
</p>
<H2><a id="da0ad5c0-f9c7-4ce1-9b01-f89983df1a4c.html" href="#" onclick="return MenuChange(this);">SQL SERVER 2005 同步复制技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 09:57:12<br /><p>SQL SERVER 2005 同步复制技术<br />
<br />
以下实现复制步骤（以快照复制为例） <br />
</p>
<H2><a id="78cbfc42-a8b9-46cd-a91a-720a9beea944.html" href="#" onclick="return MenuChange(this);">动态sql语句基本语法1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 09:26:04<br /><p>1 :普通SQL语句可以用Exec执行 <br />
<br />
eg:   Select * from tableName <br />
</p>
<H2><a id="a22de7c0-c85f-42a2-9cf7-1c2c1a596e7e.html" href="#" onclick="return MenuChange(this);">时间格式转换问题 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 09:01:02<br /><p> 时间格式转换问题 <br />
因为新开发的软件需要用一些旧软件生成的一些数据，在时间格式上不统一，只能手工转换，研究了一下午写了三条语句，以前没怎么用过convert函数和case语句，还有"+"操作符在不同上下文环境也会起到不同的作用，把我搞晕了要，不过现在看来是差不多弄好了。 <br />
<br />
</p>
<a id="2016.05-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.05-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.05-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.05-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.05-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.05-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
