<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="e67e54af-657d-4a3b-8160-26e00651fc16.html" href="#" onclick="return MenuChange(this);">字符串拆分合并</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/27/2016 15:25:25<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="0bdf8d09-84e4-44d8-9a86-22aff658ab42.html" href="#" onclick="return MenuChange(this);">查看指定spid的脚本当前运行情况和状态</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/23/2016 15:11:59<br /><p>USE Master<br />
GO<br />
<br />
</p>
<H2><a id="32af00f7-f795-49ef-bbeb-ceea34a6081e.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/23/2016 15:10:58<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="eabb7c4f-730b-45c1-8399-eba813155cfd.html" href="#" onclick="return MenuChange(this);">SQL Server连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/23/2016 15:05:49<br /><p>SQL Server连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p>
<H2><a id="99f0466e-6cff-49f7-9afc-3df5b82dc999.html" href="#" onclick="return MenuChange(this);">笔记一</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/02/2016 15:13:14<br /><p>---用户定义数据类型<br />
create type postcode<br />
from varchar(6) null  --创建用户定义数据类型<br />
</p>
