<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="c677f08e-9545-4f27-80fd-5414ce5b0f79.html" href="#" onclick="return MenuChange(this);">批量删除多个表的多个字段</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/18/2016 15:25:02<br /><p>declare @tablename varchar(30)<br />
DECLARE cur_temp Cursor For <br />
select b.name from dbo.syscolumns a,dbo.sysobjects b<br />
</p>
<H2><a id="d7b26551-adbf-4708-890d-d55a84c3bd30.html" href="#" onclick="return MenuChange(this);">SQL事务日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/18/2016 15:23:48<br /><p>SQL事务日志还原实例 收藏 <br />
USE master<br />
GO<br />
</p>
<H2><a id="b297ebcb-c931-44e4-92e6-847430a3773f.html" href="#" onclick="return MenuChange(this);">自动备份数据库</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/16/2016 15:24:10<br /><p>有A数据库服务器，B本机； <br />
<br />
我现在想通过在B机器上通过代码调用SQL来执行A数据库的备份到B机器上 <br />
</p>
<H2><a id="ce9a46b4-f89c-4b63-b0d4-4150b0e7e5d9.html" href="#" onclick="return MenuChange(this);">Rlang</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/13/2016 15:29:04<br /><p> 时间格式转换问题 <br />
因为新开发的软件需要用一些旧软件生成的一些数据，在时间格式上不统一，只能手工转换，研究了一下午写了三条语句，以前没怎么用过convert函数和case语句，还有"+"操作符在不同上下文环境也会起到不同的作用，把我搞晕了要，不过现在看来是差不多弄好了。 <br />
<br />
</p>
