<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="2016.06-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.06-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.06-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.06-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.06-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.06-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
<H2><a id="d5026357-c76a-4fc9-b3aa-e46154f1e46f.html" href="#" onclick="return MenuChange(this);">索引碎片</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 09:46:50<br /><p>--收集特定表上所有索引、堆的信息<br />
<br />
SELECT  sysIn.name AS IndexName ,<br />
</p>
<H2><a id="ebefbeaa-d3de-44a2-ad05-cd9f21021c7f.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (8)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 05:47:29<br /><p>SQL语句练习题参考答案 <br />
1、 select Sname,Ssex,Class from Student;<br />
2、 select distinct depart from teacher;<br />
</p>
<H2><a id="b15ed6f3-72f5-41b1-ab8a-26f8d7344e35.html" href="#" onclick="return MenuChange(this);">删除系统内所有用户表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 05:24:55<br /><p>--删除所有用户表：<br />
--select * from sysobjects where xtype='U' and category=0<br />
use master<br />
</p>
<H2><a id="f63b3847-7509-4481-b7ca-dffe9b5ec819.html" href="#" onclick="return MenuChange(this);">Backup</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 05:16:57<br /><p>*<br />
标题：查询各节点的父路径函数<br />
作者：爱新觉罗·毓华(十八年风雨,守得冰山雪莲花开)  <br />
</p>
<H2><a id="c8d57037-d173-4b81-b9a1-52d67aac829e.html" href="#" onclick="return MenuChange(this);">Java</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 03:45:02<br /><p>--显示索引消耗的磁盘情况<br />
SELECT  CASE InnerTable.index_id<br />
          WHEN 0 THEN 'HEAP'<br />
</p>
<H2><a id="5738b7aa-78c4-470c-93a2-c6273995a339.html" href="#" onclick="return MenuChange(this);">小写转大写</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2016 07:23:53<br /><p>CREATE  FUNCTION [dbo].[f_num_chn] (@num numeric(14,5))   <br />
RETURNS varchar(100) WITH ENCRYPTION   <br />
AS   <br />
</p>
<H2><a id="f7e30a42-7740-4615-87d5-0c9e92b8c701.html" href="#" onclick="return MenuChange(this);">查找无用的索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2016 05:02:01<br /><p><br />
SELECT  ind.index_id ,<br />
        obj.name AS TableName ,<br />
</p>
<H2><a id="a82dc287-12a1-46a6-a73b-ca9a99f00d59.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2016 00:51:56<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="f95208ba-bbdb-4d21-a1a4-cbac464e9cc6.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 21:15:48<br /><p>--行列互转<br />
--摘自中国风博客，引用请标明内容来源<br />
--1、行换列<br />
</p>
<H2><a id="15b846bf-645c-4b6a-959c-cdef60db4334.html" href="#" onclick="return MenuChange(this);">日期类型的优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 19:14:18<br /><p>http://sd.csdn.net/a/20101130/282777.html<br />
</p>
<H2><a id="d860da2f-9b0e-4c0b-875c-b137e19e75a4.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 13:44:46<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="f9def46d-663e-46cc-a605-1be68c7e244b.html" href="#" onclick="return MenuChange(this);">深度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 02:12:47<br /><p>--测试数据   深度排序     <br />
  DECLARE   @t   TABLE(ID   char(3),PID   char(3),Name   nvarchar(10))   <br />
  INSERT   @t   SELECT   '001',NULL   ,'山东省'   <br />
</p>
<H2><a id="93586a7e-51ee-44cd-856e-60b855c5666b.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/15/2016 15:12:47<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="321adaf5-53c7-4de4-b459-7b8be7ec5ba5.html" href="#" onclick="return MenuChange(this);">去汉字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2016 14:56:23<br /><p>declare @s varchar(50)<br />
set @s='Level 1-2,Tower E5,Plaza,No.44 East Chang An Ave.  东长安街44号东方广场东5座1-2层'<br />
while PATINDEX('%[吖-做]%',@s)>0<br />
</p>
<H2><a id="92fd26f8-88d2-4b07-a115-e3e449d4f10f.html" href="#" onclick="return MenuChange(this);">SQL 2000和2005分页存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2016 12:18:03<br /><p>set ANSI_NULLS ON<br />
set QUOTED_IDENTIFIER ON<br />
go<br />
</p>
<H2><a id="9f4183f9-6e92-4f18-84a6-ebffbc6a62b3.html" href="#" onclick="return MenuChange(this);">Bulk Insert</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2016 08:05:08<br /><p>/************************************************************************************************<br />
                          乌龟代码<br />
*************************************************************************************************/<br />
</p>
<H2><a id="fd7f2077-fd72-4871-9289-f7d8e986353c.html" href="#" onclick="return MenuChange(this);">数据库笔记3</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2016 02:25:32<br /><p>/*<br />
功能：2000当中绘画日历 <br />
*/<br />
</p>
<H2><a id="f175553f-d67f-4699-9e2a-fc0fc9721ffd.html" href="#" onclick="return MenuChange(this);">如何给MS SQL数据库减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/13/2016 13:47:46<br /><p>--最好备份日志，以后可通过日志恢复数据。。。<br />
以下为日志处理方法<br />
一般不建议做第4,6两步<br />
</p>
<H2><a id="811cc98d-422c-4871-88b2-7a0c97f9984a.html" href="#" onclick="return MenuChange(this);">MSSQL求連續ID內數量合計-常見解決方案</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/13/2016 02:01:35<br /><p>--> Title  : MSSQL求連續ID內數量合計-常見解決方案<br />
<br />
--> Author : wufeng4552<br />
</p>
<H2><a id="963aab76-ec43-4067-ae82-1452d524794d.html" href="#" onclick="return MenuChange(this);">锁概念以及例程说明</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/12/2016 19:31:54<br /><p>http://blog.csdn.net/arrow_gx/archive/2009/03/19/4004938.aspx <br />
</p>
<a id="2016.06-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.06-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.06-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="2016.06-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>|<a id="2016.06-5.html" href="#" onclick="return MenuChange(this);">Page5>></a>|<a id="2016.06-6.html" href="#" onclick="return MenuChange(this);">Page6>></a>
