<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="2016.04-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.04-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.04-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>
<H2><a id="3162ea0d-12f8-4f24-a50e-586640663e61.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/21/2016 21:44:34<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
<H2><a id="3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33.html" href="#" onclick="return MenuChange(this);">删除重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/21/2016 16:45:46<br /><p>--功能概述:删除重复记录<br />
<br />
在几千条记录里,存在着些相同的记录,如何能用SQL语句,删除掉重复的呢?谢谢! <br />
</p>
<H2><a id="a9f2d78f-5e72-4460-bd78-ff8e2977eded.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/20/2016 20:13:46<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<H2><a id="7a28b24b-dfb2-4e7c-94dd-c117d5b63af2.html" href="#" onclick="return MenuChange(this);">找出在2个日期之间的日期</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/20/2016 07:25:57<br /><p>declare @sdate datetime <br />
declare @edate datetime <br />
set @sdate = '2009-8-30' <br />
</p>
<a id="2016.04-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="2016.04-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="2016.04-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>
