<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>全文索引</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:46<br />blog>><a  href="https://wzpabc.github.io?page=28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65" >wzpabc.github.io?page=28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65</a><p>-------------开启全文索引和创建全文索引目录<br />
exec sp_fulltext_database 'enable'<br />
--exec sp_fulltext_catalog 'gf_ft','drop'<br />
exec sp_fulltext_catalog 'gf_ft','create'<br />
<br />
<br />
-------------为news表创建全文索引 可索引列为 title,abstract,text<br />
<br />
exec sp_fulltext_table 'product','create','gf_ft','pk_product'<br />
exec sp_fulltext_column 'product','productname','add'<br />
<br />
-------------激活索引<br />
exec sp_fulltext_table 'product','activate'<br />
exec sp_fulltext_table 'product','start_full'<br />
<br />
--检查全文目录填充情况<br />
While fulltextcatalogproperty('gf_ft','populateStatus')<>0<br />
begin<br />
<br />
--如果全文目录正处于填充状态，则等待5秒后再检测一次<br />
waitfor delay '0:0:5'<br />
END<br />
<br />
exec sp_fulltext_catalog 'gf_ft','start_full'<br />
<br />
--检查全文目录填充情况<br />
While fulltextcatalogproperty('gf_ft','populateStatus')<>0<br />
begin<br />
<br />
--如果全文目录正处于填充状态，则等待5秒后再检测一次<br />
waitfor delay '0:0:5'<br />
END<br />
<br />
<br />
--------------测试------------------<br />
SELECT * FROM product WHERE CONTAINS(productname,'美赞臣')<br />
<br />
-----------------------卸载------------------<br />
<br />
EXEC sp_fulltext_table 'product','deactivate'<br />
exec sp_fulltext_column 'product', 'productname', 'drop'<br />
EXEC sp_fulltext_table 'product', 'drop'<br />
EXEC sp_fulltext_catalog 'gf_ft', 'stop'<br />
EXEC sp_fulltext_catalog 'gf_ft', 'drop'<br />
<br />
<br />
<br />
2.<br />
<br />
先了解一下全文索引是如何创建和使用的 <br />
<br />
<br />
      创建全文索引: <br />
<br />
<br />
      在MS SQL SERVER 2005里,全文索引是一个单独的服务项,默认是启动的,但是没有允许数据库启用全文索引,如果要在某个数据库中创建全文索引,先要启用数据库的全文索引.<br />
      启用方法:<br />
      1.数据库->属性->常规->启用全文索引<br />
      2.在查询中执行:sp_.........忘了,如果没有启用就执行创建索引目录,会提示. <br />
<br />
<br />
      <br />
      启用了索引了,就可以创建索引目录了<br />
      在查询中执行以下语句:<br />
      CREATE FULLTEXT CATALOG 索引目录名 <br />
<br />
<br />
      执行以后,就会在SQL SERVER的安装目录里看到一个同名的目录名了,路径为MSSQL.1/MSSQL/FTDATA/索引目录名 <br />
<br />
<br />
      <br />
      每个表只可以有一个全文索引,存放在指定的索引目录里,可以通过向导创建,也可以通过SQL创建<br />
      基本语法:<br />
      CREATE FULLTEXT INDEX ON tablename<br />
      （索引列1,索引列2...）<br />
      KEY INDEX indexname ON 索引目录名 <br />
<br />
<br />
      indexname是指已存在的基于指定表的唯一索引名.而不是唯一索引列名.如果索引不存在,需要先创建唯一索引. <br />
<br />
<br />
      <br />
      使用全文索引: <br />
<br />
<br />
      主要使用CONTAINS,FREETEXT进行查询 <br />
<br />
<br />
      假设已有一个表music,已为字段memo创建全文索引,那么要查询含有周杰伦或者jay的所有记录的语句为:<br />
      SELECT * FROM music WHERE CONTAINS（memo,'"周杰伦" or "jay"'） <br />
<br />
<br />
      也可以使用匹配模式进行包含条件组合,还可以使用and连接条件.<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65.html" >https://wzpabc.github.io/Template/28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65.html</a>
