<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>去汉字</h2><br /> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>declare @s varchar(50)<br />
set @s='Level 1-2,Tower E5,Plaza,No.44 East Chang An Ave.  东长安街44号东方广场东5座1-2层'<br />
while PATINDEX('%[吖-做]%',@s)>0<br />
    set @s=stuff(@s,PATINDEX('%[吖-做]%',@s),1,'')<br />
select @s<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/321adaf5-53c7-4de4-b459-7b8be7ec5ba5.html" >https://wzpabc.github.io/Template/321adaf5-53c7-4de4-b459-7b8be7ec5ba5.html</a>
