<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="61942072-3ac4-4814-bef3-00ed36e2c189.html" href="#" onclick="return MenuChange(this);">Tempdb</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>--USE tempdb<br />
--GO<br />
----检查表是否存在<br />
</p>
<H2><a id="e9daa50d-a7bd-4766-b7f0-0cd1c86103eb.html" href="#" onclick="return MenuChange(this);">SQL求中位数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>中位数（Median）统计学名词<br />
<br />
 1、定义：一组数据按从小到大（或从大到小）的顺序依次排列，处在中间位置的一个数（或最中间两个数据的平均数，注意：和众数不同，中位数不一定在这组数据中）。　 　　<br />
</p>
<H2><a id="0cf6bad7-e27f-4a80-ac2d-3237445e19cb.html" href="#" onclick="return MenuChange(this);">SQL邮件操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>SQL Server 并没有内置邮件服务器（Mail Server），它跟我们发送邮件一样，需要用户名和密码通过 SMTP（Simple Message Transfer Protocol）去连接邮件服务器。我们想让 SQL Server 来发送邮件，首先要告诉它用户名称，密码，服务器地址，网络传送协议，邮件服务器的端口。。。等信息。<br />
　　以下脚本实现了数据库邮件的配置：<br />
--下面是具体的配置邮件步骤 <br />
</p>
<H2><a id="440d6799-7f3c-4622-b0d0-3dbb1ab146d0.html" href="#" onclick="return MenuChange(this);">SQL转EXCEL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>SQL SERVER 和EXCEL的数据导入导出<br />
1、在SQL SERVER里查询Excel数据:<br />
-- ======================================================<br />
</p>
<H2><a id="f6d0a3f5-dc5c-428b-bb7c-542412ba72f6.html" href="#" onclick="return MenuChange(this);">SQL经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>---------------------------------<br />
--  Author: htl258(Tony)<br />
--  Date  : 2009-08-05 23:13:42<br />
</p>
<H2><a id="e7ffe59e-471c-4828-b78a-863bee41b14b.html" href="#" onclick="return MenuChange(this);">SQL防注入</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>SQL注入攻击的危害性很大。在讲解其防止办法之前，数据库管理员有必要先了解一下其攻击的原理。这有利于管理员采取有针对性的防治措施。<br />
<br />
　　一、 SQL注入攻击的简单示例。<br />
</p>
<H2><a id="c8305b69-b849-47af-be8b-b1442dbf70c6.html" href="#" onclick="return MenuChange(this);">SQL断电的处理方法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>USE MASTER<br />
GO<br />
sp_dboption ‘databaseName’, ’single user’, ‘true’<br />
</p>
<H2><a id="b1013cb7-407c-41aa-8236-e94dda2c9c4a.html" href="#" onclick="return MenuChange(this);">Transact-SQL语句导入导出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:17:40<br /><p>Transact-SQL语句进行导入导出：<br />
<br />
1.在SQL SERVER里查询access数据:<br />
</p>
