<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">4</a>
<H2><a id="81482d3b-a102-491d-8a73-9de59551a413.html" href="#" onclick="return MenuChange(this);">拆分表字段的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/24/2013 15:19:23<br /><p>--分拆列值<br />
--原著：邹建<br />
--改编：爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-16  广东深圳<br />
</p>
<H2><a id="77551356-6e13-4055-809c-398e375ee522.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/15/2013 15:11:06<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="20888d7c-1ec1-4cfb-855c-91a81036d82c.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/03/2013 15:31:45<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="8e2a4a1a-ec41-4635-9586-e60fca4c62c0.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/29/2013 15:27:52<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="93586a7e-51ee-44cd-856e-60b855c5666b.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/23/2013 15:11:32<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="4b67481b-8c72-453b-bfb4-a15b9661d7c9.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2013 15:20:41<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="0715f3ff-5263-4e1e-ad8b-5209c72097d8.html" href="#" onclick="return MenuChange(this);">先进先出的一个例子</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2013 15:11:14<br /><p>create table djjx<br />
(<br />
djbh varchar(20), --单据编号 key<br />
</p>
<H2><a id="5147ba69-8834-482b-8276-59fac212fd6f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/24/2013 15:18:23<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="784fc3b9-c47c-4058-82f4-4cadbc5798e9.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/26/2013 15:19:46<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="b1c73c9b-c548-436d-aa6e-d474c998035f.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/24/2013 15:22:49<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="0a5471f9-a690-44b9-b7d3-8c91ed9ae60f.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/01/2013 15:21:17<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="08626705-2ee2-43b3-a066-bfd0281cf52c.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/28/2013 15:31:42<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="73a63d7e-9003-4a8b-8c74-aff94b791b79.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2013 15:26:25<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="d02e76ec-6534-40ad-930a-7ea30d5af2d4.html" href="#" onclick="return MenuChange(this);">行列转换一例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2013 15:15:40<br /><p>GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
DROP TABLE TBL<br />
</p>
<H2><a id="45ba38c0-b391-4cf7-8c41-3bda713db53a.html" href="#" onclick="return MenuChange(this);">间断和孤岛问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/09/2013 15:20:39<br /><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
</p>
<H2><a id="a82dc287-12a1-46a6-a73b-ca9a99f00d59.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/20/2013 15:13:36<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="d54ea5bb-53f7-4783-a738-9f4ac6aa0208.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2013 15:25:36<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<H2><a id="1807ca51-d277-4004-a708-feff9d2df68f.html" href="#" onclick="return MenuChange(this);">字符串拆分合并</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/18/2013 15:10:59<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="251fce7f-249a-45a0-9378-bc4521026811.html" href="#" onclick="return MenuChange(this);">间断和孤岛问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/13/2013 15:26:08<br /><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
</p>
<H2><a id="30346ddf-893b-4fc5-9bb0-161376fc5354.html" href="#" onclick="return MenuChange(this);">先进先出的一个例子</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/30/2013 15:22:41<br /><p>create table djjx<br />
(<br />
djbh varchar(20), --单据编号 key<br />
</p>
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">4</a>
