<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="44c22833-a557-44f4-ba40-f797235325d1.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 08:01:16<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="8e2a4a1a-ec41-4635-9586-e60fca4c62c0.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 06:47:29<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="45ba38c0-b391-4cf7-8c41-3bda713db53a.html" href="#" onclick="return MenuChange(this);">间断和孤岛问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 02:23:18<br /><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
</p>
<H2><a id="aad845b6-a48e-4e25-80ca-ac142bd0e757.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/26/2016 22:36:58<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="370132d5-96b2-4881-9b99-67a8d50b492e.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/26/2016 00:16:10<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="97edf03a-cdd1-43dd-89b9-89509cf0307c.html" href="#" onclick="return MenuChange(this);">下一个生日还有多少天</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/25/2016 16:33:09<br /><p>/*<br />
6、编写一个函数func_calcdays，计算下一个生日还有多少天，函数<br />
   带两个输入参数（生日和当前日期），一个返回值（天数）。<br />
</p>
<H2><a id="13e3b37b-f0a7-49a1-8c33-d806601e586e.html" href="#" onclick="return MenuChange(this);">下一个生日还有多少天</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/24/2016 18:01:08<br /><p>/*<br />
6、编写一个函数func_calcdays，计算下一个生日还有多少天，函数<br />
   带两个输入参数（生日和当前日期），一个返回值（天数）。<br />
</p>
<H2><a id="969fa5c1-1565-4226-9aa4-e964601690cd.html" href="#" onclick="return MenuChange(this);">如何批量替换ntext</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/23/2016 09:30:07<br /><p><br />
update 表名 <br />
set text类型字段名=replace(convert(varchar(8000),text类型字段名),'要替换的字符','替换成的值')<br />
</p>
<H2><a id="05d3aca3-ecdb-4797-8195-01ea5b7ceee4.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/23/2016 08:31:22<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="e67e54af-657d-4a3b-8160-26e00651fc16.html" href="#" onclick="return MenuChange(this);">字符串拆分合并</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/21/2016 19:20:31<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="d191f87d-2993-4533-a7ca-acb109c4a0b7.html" href="#" onclick="return MenuChange(this);">日期类型的优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/21/2016 17:10:32<br /><p>http://sd.csdn.net/a/20101130/282777.html<br />
</p>
<H2><a id="784fc3b9-c47c-4058-82f4-4cadbc5798e9.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/19/2016 03:39:46<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="b15ed6f3-72f5-41b1-ab8a-26f8d7344e35.html" href="#" onclick="return MenuChange(this);">删除系统内所有用户表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 05:24:55<br /><p>--删除所有用户表：<br />
--select * from sysobjects where xtype='U' and category=0<br />
use master<br />
</p>
<H2><a id="a82dc287-12a1-46a6-a73b-ca9a99f00d59.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2016 00:51:56<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="f95208ba-bbdb-4d21-a1a4-cbac464e9cc6.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 21:15:48<br /><p>--行列互转<br />
--摘自中国风博客，引用请标明内容来源<br />
--1、行换列<br />
</p>
<H2><a id="15b846bf-645c-4b6a-959c-cdef60db4334.html" href="#" onclick="return MenuChange(this);">日期类型的优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 19:14:18<br /><p>http://sd.csdn.net/a/20101130/282777.html<br />
</p>
<H2><a id="d860da2f-9b0e-4c0b-875c-b137e19e75a4.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/16/2016 13:44:46<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="93586a7e-51ee-44cd-856e-60b855c5666b.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/15/2016 15:12:47<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="9e007ddf-36f0-4201-ab01-dc9296ea59b2.html" href="#" onclick="return MenuChange(this);">如何批量替换ntext</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/12/2016 13:08:45<br /><p><br />
update 表名 <br />
set text类型字段名=replace(convert(varchar(8000),text类型字段名),'要替换的字符','替换成的值')<br />
</p>
<H2><a id="e9c7838a-e517-4ff6-9904-596afab24cc7.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/11/2016 13:06:23<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="d54ea5bb-53f7-4783-a738-9f4ac6aa0208.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/09/2016 19:47:14<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<H2><a id="cbb709d5-29fd-4ab2-9a84-b55715fa4e7e.html" href="#" onclick="return MenuChange(this);">如何截取无规则字符串中的数字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/09/2016 08:55:57<br /><p>--如何截取无规律的字符串中的数字：<br />
 <br />
declare   @str   varchar(100),@str2   varchar(100) <br />
</p>
<H2><a id="82c0d470-eaba-49b3-8f60-843c16fc033f.html" href="#" onclick="return MenuChange(this);">删除系统内所有用户表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/09/2016 06:20:03<br /><p>--删除所有用户表：<br />
--select * from sysobjects where xtype='U' and category=0<br />
use master<br />
</p>
<H2><a id="d84008f8-687d-49f8-aa79-e1495e9eddcd.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/07/2016 01:20:19<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="30346ddf-893b-4fc5-9bb0-161376fc5354.html" href="#" onclick="return MenuChange(this);">先进先出的一个例子</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/06/2016 14:01:20<br /><p>create table djjx<br />
(<br />
djbh varchar(20), --单据编号 key<br />
</p>
<H2><a id="20888d7c-1ec1-4cfb-855c-91a81036d82c.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/06/2016 03:16:33<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="b6b121bb-a2e6-464c-a85c-024e81178a88.html" href="#" onclick="return MenuChange(this);">变态的行列转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/04/2016 10:09:26<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="372f246f-3a19-47ea-a074-9929ec6bd350.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/03/2016 21:55:14<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<H2><a id="b1c73c9b-c548-436d-aa6e-d474c998035f.html" href="#" onclick="return MenuChange(this);">性能调优博客</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/03/2016 02:59:51<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="a8976a57-4ae5-44b6-b0bb-ed6be29e4eaa.html" href="#" onclick="return MenuChange(this);">如何截取无规则字符串中的数字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 11:33:25<br /><p>--如何截取无规律的字符串中的数字：<br />
 <br />
declare   @str   varchar(100),@str2   varchar(100) <br />
</p>
<H2><a id="5de0f60b-c0e1-4438-961b-ea15241bca0f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2016 12:57:04<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="49c851b7-e288-4381-bc32-08908d89a0a3.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2016 00:50:21<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<H2><a id="1e7ce1a7-bce9-4d5a-80f4-ea828ef8e441.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 06:08:37<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="7f2e4112-4e7f-4042-aa7b-f3f4642a95bc.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 14:19:14<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="ad1b3fe7-e740-473d-be88-680ce6dc7e26.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 03:15:24<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="77551356-6e13-4055-809c-398e375ee522.html" href="#" onclick="return MenuChange(this);">SQL性能调优</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/30/2016 02:09:32<br /><p>http://www.cnblogs.com/Amaranthus/<br />
</p>
<H2><a id="5a09748d-6f82-4d83-9b29-1fd284d2a43f.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/29/2016 10:14:25<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="0775ca51-73ae-4268-8471-2a67d8e7a2d9.html" href="#" onclick="return MenuChange(this);">递归实现累计求和</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/27/2016 15:27:13<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="fd46d90d-b19c-47f5-85bd-6530eb797431.html" href="#" onclick="return MenuChange(this);">拆分表字段的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/25/2016 17:15:41<br /><p>--分拆列值<br />
--原著：邹建<br />
--改编：爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-16  广东深圳<br />
</p>
<H2><a id="7e0f00e7-59aa-4672-83b9-b349e15ca728.html" href="#" onclick="return MenuChange(this);">经典递归问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/24/2016 21:45:10<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="50153fcb-1ad6-4196-8301-5dc3daa68d6b.html" href="#" onclick="return MenuChange(this);">经典递归问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/22/2016 07:43:19<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="73a63d7e-9003-4a8b-8c74-aff94b791b79.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/21/2016 11:32:55<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="5147ba69-8834-482b-8276-59fac212fd6f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/20/2016 01:25:22<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="36048d20-d909-48e1-b066-230dead0ef61.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/17/2016 08:12:21<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="cccae6fe-a79e-4854-a8d3-99a8f3ded70b.html" href="#" onclick="return MenuChange(this);">递归实现累计求和</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/16/2016 10:18:22<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="0a5471f9-a690-44b9-b7d3-8c91ed9ae60f.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/16/2016 08:35:59<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="08641834-24b0-426f-9977-3f7c00065a7c.html" href="#" onclick="return MenuChange(this);">单个语句快于存储过程的原因分析</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/13/2016 18:49:46<br /><p>SQL Server中存储过程比直接运行SQL语句慢的原因 <br />
 在很多的资料中都描述说SQLSERVER的存储过程较普通的SQL语句有以下优点： <br />
1.       存储过程只在创造时进行编译即可，以后每次执行存储过程都不需再重新编译，而我们通常使用的SQL语句每执行一次就编译一次,所以使用存储过程可提高数据库执行速度。 <br />
</p>
<H2><a id="08626705-2ee2-43b3-a066-bfd0281cf52c.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 13:56:17<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="251fce7f-249a-45a0-9378-bc4521026811.html" href="#" onclick="return MenuChange(this);">间断和孤岛问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/10/2016 01:43:37<br /><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
</p>
<H2><a id="f79cb3a5-64e1-4c59-af09-70b892fb434a.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/08/2016 18:04:55<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<H2><a id="96756e30-8633-4b5c-8736-d3bdfe5a25ad.html" href="#" onclick="return MenuChange(this);">查询独立的日期</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/08/2016 09:37:31<br /><p>GO<br />
IF OBJECT_ID('A')IS NOT NULL<br />
DROP TABLE  A<br />
</p>
<H2><a id="1807ca51-d277-4004-a708-feff9d2df68f.html" href="#" onclick="return MenuChange(this);">字符串拆分合并</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/07/2016 11:38:37<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="4a8d364b-d877-4b44-9bb6-f81e7a20e2b5.html" href="#" onclick="return MenuChange(this);">单个语句快于存储过程的原因分析</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/07/2016 00:18:28<br /><p>SQL Server中存储过程比直接运行SQL语句慢的原因 <br />
 在很多的资料中都描述说SQLSERVER的存储过程较普通的SQL语句有以下优点： <br />
1.       存储过程只在创造时进行编译即可，以后每次执行存储过程都不需再重新编译，而我们通常使用的SQL语句每执行一次就编译一次,所以使用存储过程可提高数据库执行速度。 <br />
</p>
<H2><a id="e067a051-d10f-4ad0-938c-c359d00b565e.html" href="#" onclick="return MenuChange(this);">高难度行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/06/2016 01:07:58<br /><p>create table pds<br />
(姓名 varchar(8), <br />
 内容 varchar(5), <br />
</p>
<H2><a id="e53c5652-b64d-4f3a-8470-0ba21e7c9744.html" href="#" onclick="return MenuChange(this);">如何使用case when 进行排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/04/2016 18:20:51<br /><p>-->生成测试数据:<br />
GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
</p>
<H2><a id="cea69959-6645-42f4-86e4-974e8438d45c.html" href="#" onclick="return MenuChange(this);">如何使用case when 进行排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/03/2016 23:46:30<br /><p>-->生成测试数据:<br />
GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
</p>
<H2><a id="eb1461fd-1ab7-4b73-8345-c6635ddc8947.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/03/2016 21:28:59<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="98fd6d80-c62d-494b-b7c2-5d6bf9fb210a.html" href="#" onclick="return MenuChange(this);">查询独立的日期</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/03/2016 14:15:24<br /><p>GO<br />
IF OBJECT_ID('A')IS NOT NULL<br />
DROP TABLE  A<br />
</p>
<H2><a id="0f9991fc-9aaa-4dc9-a51a-c1f3297223ed.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/02/2016 21:07:02<br /><p>--行列互转<br />
--摘自中国风博客，引用请标明内容来源<br />
--1、行换列<br />
</p>
<H2><a id="4f490bae-c899-4499-89d2-980092a899d0.html" href="#" onclick="return MenuChange(this);">行列转换一例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/01/2016 18:53:35<br /><p>GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
DROP TABLE TBL<br />
</p>
<H2><a id="81482d3b-a102-491d-8a73-9de59551a413.html" href="#" onclick="return MenuChange(this);">拆分表字段的值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/01/2016 06:06:01<br /><p>--分拆列值<br />
--原著：邹建<br />
--改编：爱新觉罗.毓华(十八年风雨,守得冰山雪莲花开)  2007-12-16  广东深圳<br />
</p>
<H2><a id="09b0b998-19a2-44d9-a9c3-5fd1408f00c4.html" href="#" onclick="return MenuChange(this);">高难度行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/29/2016 17:05:43<br /><p>create table pds<br />
(姓名 varchar(8), <br />
 内容 varchar(5), <br />
</p>
<H2><a id="0715f3ff-5263-4e1e-ad8b-5209c72097d8.html" href="#" onclick="return MenuChange(this);">先进先出的一个例子</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/26/2016 14:56:13<br /><p>create table djjx<br />
(<br />
djbh varchar(20), --单据编号 key<br />
</p>
<H2><a id="6766a17f-20ca-46b1-9394-d9878ae6a43d.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/25/2016 09:38:39<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="7773cf76-f443-44fe-a501-dded9d2a94c0.html" href="#" onclick="return MenuChange(this);">变态的行列转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/25/2016 03:58:02<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="4b67481b-8c72-453b-bfb4-a15b9661d7c9.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/22/2016 11:07:56<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="d02e76ec-6534-40ad-930a-7ea30d5af2d4.html" href="#" onclick="return MenuChange(this);">行列转换一例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/21/2016 23:28:39<br /><p>GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
DROP TABLE TBL<br />
</p>
<H2><a id="a9f2d78f-5e72-4460-bd78-ff8e2977eded.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/20/2016 20:13:46<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
