<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>
<H2><a id="05d3aca3-ecdb-4797-8195-01ea5b7ceee4.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2014 15:08:49<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="a9f2d78f-5e72-4460-bd78-ff8e2977eded.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/11/2014 15:20:48<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<H2><a id="08641834-24b0-426f-9977-3f7c00065a7c.html" href="#" onclick="return MenuChange(this);">单个语句快于存储过程的原因分析</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/25/2014 15:21:38<br /><p>SQL Server中存储过程比直接运行SQL语句慢的原因 <br />
 在很多的资料中都描述说SQLSERVER的存储过程较普通的SQL语句有以下优点： <br />
1.       存储过程只在创造时进行编译即可，以后每次执行存储过程都不需再重新编译，而我们通常使用的SQL语句每执行一次就编译一次,所以使用存储过程可提高数据库执行速度。 <br />
</p>
<H2><a id="cea69959-6645-42f4-86e4-974e8438d45c.html" href="#" onclick="return MenuChange(this);">如何使用case when 进行排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/16/2014 15:12:39<br /><p>-->生成测试数据:<br />
GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
</p>
<H2><a id="0f9991fc-9aaa-4dc9-a51a-c1f3297223ed.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/07/2014 15:29:12<br /><p>--行列互转<br />
--摘自中国风博客，引用请标明内容来源<br />
--1、行换列<br />
</p>
<H2><a id="36048d20-d909-48e1-b066-230dead0ef61.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/29/2014 15:11:25<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="b6b121bb-a2e6-464c-a85c-024e81178a88.html" href="#" onclick="return MenuChange(this);">变态的行列转换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/07/2014 15:09:24<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="6766a17f-20ca-46b1-9394-d9878ae6a43d.html" href="#" onclick="return MenuChange(this);">经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/05/2014 15:24:55<br /><p>--> 测试数据：[tbla]<br />
go<br />
if object_id('[tbla]') is not null <br />
</p>
<H2><a id="97edf03a-cdd1-43dd-89b9-89509cf0307c.html" href="#" onclick="return MenuChange(this);">下一个生日还有多少天</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/14/2014 15:06:53<br /><p>/*<br />
6、编写一个函数func_calcdays，计算下一个生日还有多少天，函数<br />
   带两个输入参数（生日和当前日期），一个返回值（天数）。<br />
</p>
<H2><a id="7e0f00e7-59aa-4672-83b9-b349e15ca728.html" href="#" onclick="return MenuChange(this);">经典递归问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/07/2014 15:21:34<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="e9c7838a-e517-4ff6-9904-596afab24cc7.html" href="#" onclick="return MenuChange(this);">如何使用“最小缺失数”实现日期的自动补全</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/25/2014 15:23:25<br /><p>--如何用"最小缺失数"实现日期的自动补全<br />
-->生成测试数据:<br />
GO<br />
</p>
<H2><a id="aad845b6-a48e-4e25-80ca-ac142bd0e757.html" href="#" onclick="return MenuChange(this);">登录时间差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/08/2014 15:15:27<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<H2><a id="0775ca51-73ae-4268-8471-2a67d8e7a2d9.html" href="#" onclick="return MenuChange(this);">递归实现累计求和</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/27/2014 15:25:57<br /><p>--> 测试数据：[tbl]<br />
go<br />
if object_id('[tbl]') is not null <br />
</p>
<H2><a id="a8976a57-4ae5-44b6-b0bb-ed6be29e4eaa.html" href="#" onclick="return MenuChange(this);">如何截取无规则字符串中的数字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/23/2014 15:31:28<br /><p>--如何截取无规律的字符串中的数字：<br />
 <br />
declare   @str   varchar(100),@str2   varchar(100) <br />
</p>
<H2><a id="82c0d470-eaba-49b3-8f60-843c16fc033f.html" href="#" onclick="return MenuChange(this);">删除系统内所有用户表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/11/2014 15:11:40<br /><p>--删除所有用户表：<br />
--select * from sysobjects where xtype='U' and category=0<br />
use master<br />
</p>
<H2><a id="d84008f8-687d-49f8-aa79-e1495e9eddcd.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/04/2014 15:22:32<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="f79cb3a5-64e1-4c59-af09-70b892fb434a.html" href="#" onclick="return MenuChange(this);">全文索引Contains用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/28/2014 15:21:16<br /><p>mssql全文检索CONTAINS的用法.<br />
2011-06-10 12:53<br />
<br />
</p>
<H2><a id="f95208ba-bbdb-4d21-a1a4-cbac464e9cc6.html" href="#" onclick="return MenuChange(this);">行列互换</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/20/2014 15:27:42<br /><p>--行列互转<br />
--摘自中国风博客，引用请标明内容来源<br />
--1、行换列<br />
</p>
<H2><a id="7f2e4112-4e7f-4042-aa7b-f3f4642a95bc.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/04/2014 15:11:37<br /><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
<br />
</p>
<H2><a id="ad1b3fe7-e740-473d-be88-680ce6dc7e26.html" href="#" onclick="return MenuChange(this);">一个蛋疼的问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/02/2014 15:24:53<br /><p>go<br />
if object_id('tbl')is not null<br />
drop table tbl<br />
</p>
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>
