<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>
<H2><a id="e53c5652-b64d-4f3a-8470-0ba21e7c9744.html" href="#" onclick="return MenuChange(this);">如何使用case when 进行排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/06/2013 15:13:59<br /><p>-->生成测试数据:<br />
GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
</p>
<H2><a id="1e7ce1a7-bce9-4d5a-80f4-ea828ef8e441.html" href="#" onclick="return MenuChange(this);">分区表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/30/2013 15:17:54<br /><p>/*<br />
本文使对现有的数据库中新建一个表进行分区.暂未发现如何对一个已有数据<br />
的表进行分区处理的资料.本文事例仅为本人测试用.其中有很多未考虑之处<br />
</p>
<H2><a id="d860da2f-9b0e-4c0b-875c-b137e19e75a4.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/10/2012 15:22:25<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="4f490bae-c899-4499-89d2-980092a899d0.html" href="#" onclick="return MenuChange(this);">行列转换一例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/05/2012 15:08:51<br /><p>GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
DROP TABLE TBL<br />
</p>
<H2><a id="5de0f60b-c0e1-4438-961b-ea15241bca0f.html" href="#" onclick="return MenuChange(this);">DBA30问</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/10/2012 15:06:15<br /><p>很多开发人员都想成为一名数据库管理员，也有很多人一开始就把自己定位成为一名DBA，DBA究竟需要掌握些什么知识和技能呢?以下是我<br />
<br />
  做DBA工作和面试DBA时，整理的一些DBA方面的三十个问题，三十个大问题中还有许多小的问题，涵括了SQL Server 2008 R2培训比较多的技术知识点，与大家分享下，希望给有志做DBA的朋友们一些帮助：<br />
</p>
<H2><a id="5a09748d-6f82-4d83-9b29-1fd284d2a43f.html" href="#" onclick="return MenuChange(this);">累计求差</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/07/2012 15:14:43<br /><p>create table #aa (id int,cp varchar(10),qty int,totalqty int)<br />
insert into #aa values(1,'a',100,130)<br />
insert into #aa values(2,'a',20,130)<br />
</p>
<H2><a id="cbb709d5-29fd-4ab2-9a84-b55715fa4e7e.html" href="#" onclick="return MenuChange(this);">如何截取无规则字符串中的数字</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/07/2012 15:14:25<br /><p>--如何截取无规律的字符串中的数字：<br />
 <br />
declare   @str   varchar(100),@str2   varchar(100) <br />
</p>
<H2><a id="eb1461fd-1ab7-4b73-8345-c6635ddc8947.html" href="#" onclick="return MenuChange(this);">行列转换with  rollup的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/27/2012 15:10:45<br /><p>--> 测试数据：[tbl]<br />
if object_id('[tbl]') is not null drop table [tbl]<br />
create table [tbl]([xrq] datetime,[rgl] int,[jcmc] varchar(12))<br />
</p>
<H2><a id="49c851b7-e288-4381-bc32-08908d89a0a3.html" href="#" onclick="return MenuChange(this);">SQL Server nested loop join 效率试验 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 02/09/2012 15:35:21<br /><p>从很多网页上都看到,SQL Server有三种Join的算法, <br />
nested loop join, merge join, hash join. <br />
其中最常用的就是nested loop join.<br />
</p>
<a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">Page1>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-2.html" href="#" onclick="return MenuChange(this);">Page2>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-3.html" href="#" onclick="return MenuChange(this);">Page3>></a>|<a id="360936B7-A092-426A-8C70-35CC375709F8-4.html" href="#" onclick="return MenuChange(this);">Page4>></a>
