<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>2005转2000</h2><br /> 
uploaded by Patrick. 09/04/2014 15:16:40<br />blog>><a  href="https://wzpabc.github.io?page=3ca69daa-8f73-43a7-ae81-92403e672f18" >wzpabc.github.io?page=3ca69daa-8f73-43a7-ae81-92403e672f18</a><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
-- 打开"对象资源管理器"(没有的话按F8), 连接到你的实例 <br />
-- 右键要转到2000的库 <br />
-- 任务 <br />
-- 生成脚本 <br />
-- 在"脚本向导"的"选择数据库"中, 确定选择的是要转到2000的库 <br />
-- 勾选"为所选数据库中的所有对象编写脚本" <br />
-- 在接下来的"选择脚本选项"中, 找到"为服务器版本编写脚本"项, 选择"SQL Server 2000" <br />
-- 其他选项根据需要设置 <br />
-- 最后把脚本保存到一个 .sql 脚本文件 <br />
<br />
2. 在2000中创建目标数据库 <br />
在查询分析器(或2005的manger studio在打开脚本文件), 连接到SQL Server 2000,执行上面生成的脚本.以创建一个新的数据库 <br />
<br />
3. 将数据从2005导到2000 <br />
2005 的manger studio <br />
-- 打开"对象资源管理器"(没有的话按F8), 连接到你的实例 <br />
-- 右键要转到2000的库 <br />
-- 任务 <br />
-- 导出数据 <br />
-- 在"SQL Server 导入和导出向导"的"选择数据源"步骤中, 确定选择的是要导出的数据库 <br />
-- 在"选择目标"步骤中, 连接到 2000, 并选择步骤2新建的库 <br />
-- 在"选择源表和源视图"中, 选择所有的表 <br />
-- 最后完成 <br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/3ca69daa-8f73-43a7-ae81-92403e672f18.html" >https://wzpabc.github.io/Template/3ca69daa-8f73-43a7-ae81-92403e672f18.html</a>
