<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>删除重复记录</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:46<br />blog>><a  href="https://wzpabc.github.io?page=3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33" >wzpabc.github.io?page=3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33</a><p>--功能概述:删除重复记录<br />
<br />
在几千条记录里,存在着些相同的记录,如何能用SQL语句,删除掉重复的呢?谢谢! <br />
1、查找表中多余的重复记录，重复记录是根据单个字段（peopleId）来判断 <br />
select * from people <br />
where peopleId in (select  peopleId  from  people  group  by  peopleId  having  count(peopleId) > 1) <br />
<br />
2、删除表中多余的重复记录，重复记录是根据单个字段（peopleId）来判断，只留有rowid最小的记录 <br />
delete from people <br />
where peopleId  in (select  peopleId  from people  group  by  peopleId  having  count(peopleId) > 1) <br />
and rowid not in (select min(rowid) from  people  group by peopleId  having count(peopleId )>1) <br />
<br />
3、查找表中多余的重复记录（多个字段） <br />
select * from vitae a <br />
where (a.peopleId,a.seq) in  (select peopleId,seq from vitae group by peopleId,seq  having count(*) > 1) <br />
<br />
4、删除表中多余的重复记录（多个字段），只留有rowid最小的记录 <br />
delete from vitae a <br />
where (a.peopleId,a.seq) in  (select peopleId,seq from vitae group by peopleId,seq having count(*) > 1) <br />
and rowid not in (select min(rowid) from vitae group by peopleId,seq having count(*)>1) <br />
<br />
5、查找表中多余的重复记录（多个字段），不包含rowid最小的记录 <br />
select * from vitae a <br />
where (a.peopleId,a.seq) in  (select peopleId,seq from vitae group by peopleId,seq having count(*) > 1) <br />
and rowid not in (select min(rowid) from vitae group by peopleId,seq having count(*)>1) <br />
<br />
比方说在A表中存在一个字段“name”，而且不同记录之间的“name”值有可能会相同， <br />
现在就是需要查询出在该表中的各记录之间，“name”值存在重复的项； <br />
Select Name,Count(*) From A Group By Name Having Count(*) > 1 <br />
<br />
如果还查性别也相同大则如下: <br />
Select Name,sex,Count(*) From A Group By Name,sex Having Count(*) > 1<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33.html" >https://wzpabc.github.io/Template/3f2aa8d7-8fd5-4e23-a0b3-736cadb69b33.html</a>
