<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>间断和孤岛问题</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:49<br />blog>><a  href="https://wzpabc.github.io?page=45ba38c0-b391-4cf7-8c41-3bda713db53a" >wzpabc.github.io?page=45ba38c0-b391-4cf7-8c41-3bda713db53a</a><p>--确实范围和现有范围（也称间断和孤岛问题）<br />
--1、缺失范围（间断）<br />
/*<br />
收集人：TravyLee<br />
时间：2012-03-25<br />
如有引用，请标明“此内容源自MSSQL2008技术内幕之T-SQL”<br />
*/<br />
/*<br />
求解间断问题有几种方法，小弟我选择性能较高的三种（使用游标的方法省略<br />
有兴趣不全的大哥大姐请回复）<br />
---------------------------------------------------------------------<br />
间断问题的解决方案1；使用子查询<br />
step 1：找到间断之前的值，每个值增加一个间隔<br />
step 2：对于没一个间断的起点，找出序列中现有得值，再减去一个间隔<br />
本人理解为：找到原数据表中的值加一减一是否存在，若有不妥，望纠正<br />
生成测试数据:<br />
go<br />
if object_id('tbl')is not null <br />
drop table tbl<br />
go<br />
create table tbl(<br />
id int not null<br />
)<br />
go<br />
insert tbl<br />
values(2),(3),(11),(12),(13),(27),(33),(34),(35),(42)<br />
要求：找到上表数据中的不存在的id的范围，<br />
--实现输出结果：<br />
/*<br />
开始范围 结束范围<br />
 4        10<br />
 14       26<br />
 28       32<br />
 36       41<br />
 */<br />
 按照每个步骤实现：<br />
 step 1：找到间断之前的值，每个值增加一个间隔<br />
 我们可以清楚的发现，要找的间断范围的起始值实际上就是我们<br />
 现有数据中的某些值加1后存不存在现有数据表中的问题，通过<br />
 子查询实现：<br />
 <br />
 select id+1 as start_range from tbl as a<br />
 where not exists(select 1 from tbl as b<br />
 where b.id=a.id+1)and id<(select max(id) from tbl)<br />
 --此查询语句实现以下输出：<br />
 /*<br />
 start_range<br />
 4<br />
 14<br />
 28<br />
 36<br />
 */<br />
 step 2：对于没一个间断的起点，找出序列中现有得值，再减去一个间隔<br />
 <br />
 select id+1 as start_range,(select min(b.id) from tbl as b<br />
 where b.id>a.id)-1 as end_range<br />
 from tbl a where not exists(select 1 from tbl as b<br />
                        where b.id=a.id+1)<br />
     and id<(select max(id) from tbl)<br />
 --输出结果：<br />
 /*<br />
   start_range	end_range<br />
   4	10<br />
   14	26<br />
   28	32<br />
   36	41<br />
 */<br />
通过以上的相关子查询我们实现了找到原数据表中的间断范围。<br />
而且这种方式的效率较其他方式有绝对的优势<br />
<br />
<br />
间断问题的解决方案2；使用子查询（主意观察同1的区别）<br />
step 1:对每个现有的值匹配下一个现有的值，生成一对一对的当<br />
       前值和下一个值<br />
step 2:只保留下一个值减当前值大于1的间隔值对<br />
step 3:对剩下的值对，将每个当前值增加1个间隔，将每个下一<br />
       个值减去一个间隔<br />
<br />
--转换成T-SQL语句实现：<br />
--step 1:<br />
select id as cur,(select min(b.id) from tbl b where<br />
         b.id>a.id) as nxt from tbl a<br />
--此子查询生成的结果：<br />
/*<br />
 cur	nxt<br />
 2	 3<br />
 3	 11<br />
 11	 12<br />
 12	 13<br />
 13	 27<br />
 27	 33<br />
 33	 34<br />
 34	 35<br />
 35	 42<br />
 42	 NULL<br />
 */<br />
 step 2 and step 3:<br />
 select cur+1 as start_range,nxt-1 as end_range<br />
 from (select id as cur,(select min(b.id) from tbl b <br />
 where b.id>a.id) as nxt from tbl a ) as d<br />
      where nxt-cur>1<br />
--生成结果：<br />
/*<br />
 start_range	 end_range<br />
 4	 10<br />
 14	 26<br />
 28	 32<br />
 36	 41<br />
*/<br />
 间断问题的解决方案3；使用排名函数实现<br />
 <br />
 此种方法与第二种类似,这里我一步实现：<br />
 <br />
 ;with c as<br />
 (<br />
   select id,row_number()over(order by id) as rownum<br />
   from tbl<br />
 )<br />
 select cur.id+1 as strat_range,nxt.id-1 as end_range<br />
        from c as cur join c as nxt<br />
   on nxt.rownum=cur.rownum+1<br />
  where nxt.id-cur.id>1<br />
<br />
--输出结果：<br />
 /*<br />
 strat_range	end_range<br />
 4	 10<br />
 14	 26<br />
 28	 32<br />
 36	 41<br />
 */<br />
 <br />
*/<br />
--2、先有范围（孤岛）<br />
/*<br />
以上测试数据，试下如下输出：<br />
/*<br />
开始范围 结束范围<br />
2        3<br />
11       13<br />
27       27<br />
33       35<br />
42       42<br />
*/<br />
和间断问题一样，孤岛问题也有集中解决方案，这里也只介绍三种<br />
省略了用游标的实现方案：<br />
<br />
孤岛问题解决方案1：使用子查询和排名计算<br />
step 1:找出间断之后的点，为他们分配行号（这是孤岛的起点）<br />
step 2:找出间断之前的点，为他们分配行号（这是孤岛的终点）<br />
step 3:以行号相等作为条件，匹配孤岛的起点和终点<br />
<br />
--实现代码:<br />
    with startpoints as<br />
    (<br />
      select id,row_number()over(order by id) as rownum<br />
           from tbl as a where not exists(<br />
        select 1 from tbl as b where b.id=a.id-1) <br />
     /*<br />
     此查询语句单独运行的结果：<br />
     id	rownum<br />
     2	1<br />
     11	2<br />
     27	3<br />
     33	4<br />
     42	5<br />
     */<br />
    ),<br />
    endpoinds as<br />
    (<br />
      select id,row_number()over(order by id) as rownum<br />
          from tbl as a where not exists(<br />
        select 1 from tbl as b where b.id=a.id+1)<br />
   /*<br />
     此查询语句单独运行的结果：<br />
     id	rownum<br />
     3	1<br />
     13	2<br />
     27	3<br />
     35	4<br />
     42	5<br />
    */<br />
    )<br />
    select s.id as start_range,e.id as end_range<br />
    from startpoints as s<br />
    inner join endpoinds as e<br />
    on e.rownum=s.rownum<br />
--运行结果:   <br />
/*<br />
 start_range	end_range<br />
 2	3<br />
 11	13<br />
 27	27<br />
 33	35<br />
 42	42<br />
*/<br />
<br />
孤岛问题解决方案2：使用基于子查询的组标识符<br />
<br />
--直接给出代码：<br />
<br />
with d as<br />
(<br />
  select id,(select min(b.id) from tbl b where b.id>=a.id<br />
      and not exists (select * from tbl c where c.id=b.id+1)) as grp<br />
  from tbl a<br />
)<br />
select min(id) as start_range,max(id) as end_range<br />
from d group by grp<br />
/*<br />
start_range	end_range<br />
2	3<br />
11	13<br />
27	27<br />
33	35<br />
42	42<br />
*/<br />
<br />
<br />
孤岛问题解决方案3：使用基于子查询的组标识符:<br />
<br />
step 1:按照id顺序计算行号:<br />
   select id ,row_number()over(order by id) as rownum from tbl<br />
/*<br />
id	rownum<br />
2	1<br />
3	2<br />
11	3<br />
12	4<br />
13	5<br />
27	6<br />
33	7<br />
34	8<br />
35	9<br />
42	10<br />
*/<br />
step 2：生成id和行号的差:<br />
   select id,id-row_number()over(order by id) as diff from tbl<br />
/*<br />
id	diff<br />
2	1<br />
3	1<br />
11	8<br />
12	8<br />
13	8<br />
27	21<br />
33	26<br />
34	26<br />
35	26<br />
42	32<br />
*/<br />
这里解释一下这样做的原因；<br />
   因为在孤岛范围内，这两个序列都以相同的时间间隔来保持增长，所以<br />
   这时他们的差值保持不变。只要遇到一个新的孤岛，他们之间的差值就<br />
   会增加。这样做的目的为何，第三步将为你说明。<br />
step 3:分别取出第二个查询中生成的相同的diff的值的最大id和最小id<br />
    with t as(<br />
      select id,id-row_number()over(order by id) as diff from tbl<br />
    )<br />
    select min(id) as start_range,max(id) as end_range from t<br />
       group by diff<br />
/*<br />
start_range	end_range<br />
2	3<br />
11	13<br />
27	27<br />
33	35<br />
42	42<br />
*/<br />
<br />
求孤岛问题，低三种方法效率较前两种较高，具有比较强的技巧性<br />
希望在实际运用中采纳。<br />
*/<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/45ba38c0-b391-4cf7-8c41-3bda713db53a.html" >https://wzpabc.github.io/Template/45ba38c0-b391-4cf7-8c41-3bda713db53a.html</a>
