<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/*-1.-获得汉字字符串的首字母<br />
<br />
   根据大力的贴子改成.将大力的两个函数合并成了一个函数.<br />
   可以应用于助记码的查询<br />
--转载(最早见于j9988的发表,具体原作者不明)--*/<br />
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[fGetPy]') and xtype in (N'FN', N'IF', N'TF'))<br />
drop function [dbo].[fGetPy]<br />
GO<br />
<br />
--创建取拼音函数<br />
create function fGetPy(@Str varchar(500)='')<br />
returns varchar(500)<br />
as<br />
begin<br />
 declare @strlen int,@return varchar(500),@ii int<br />
 declare @n int,@c char(1),@chn nchar(1)<br />
<br />
 select @strlen=len(@str),@return='',@ii=0<br />
 set @ii=0<br />
 while @ii<@strlen<br />
 begin<br />
  select @ii=@ii+1,@n=63,@chn=substring(@str,@ii,1)<br />
  if @chn>'z'<br />
  select @n = @n +1<br />
     ,@c = case chn when @chn then char(@n) else @c end<br />
   from(<br />
    select top 27 * from (<br />
     select chn = '吖'<br />
     union all select '八'<br />
     union all select '嚓'<br />
     union all select '咑'<br />
     union all select '妸'<br />
     union all select '发'<br />
     union all select '旮'<br />
     union all select '铪'<br />
     union all select '丌'  --because have no 'i'<br />
     union all select '丌'<br />
     union all select '咔'<br />
     union all select '垃'<br />
     union all select '嘸'<br />
     union all select '拏'<br />
     union all select '噢'<br />
     union all select '妑'<br />
     union all select '七'<br />
     union all select '呥'<br />
     union all select '仨'<br />
     union all select '他'<br />
     union all select '屲'  --no 'u'<br />
     union all select '屲'  --no 'v'<br />
     union all select '屲'<br />
     union all select '夕'<br />
     union all select '丫'<br />
     union all select '帀'<br />
     union all select @chn) as a<br />
    order by chn COLLATE Chinese_PRC_CI_AS <br />
   ) as b<br />
  else set @c='a'<br />
  set @return=@return+@c<br />
 end<br />
 return(@return)<br />
end<br />
<br />
go<br />
--测试<br />
select dbo.fgetpy('东莞市') as 东莞市,dbo.fgetpy('ab中c国人') as 中国人<br />
<br />
--删除拼音函数<br />
drop function fgetpy<br />
<br />
 <br />
<br />
<br />
<br />
/*2.--获得汉字拼音的函数<br />
<br />
  需要创建一个拼音表,包含所有汉字的发音,这个可以通过转换全拼输入法的编码库得到,这里仅举了一个简单的例子.<br />
--*/<br />
<br />
--创建汉字拼音库<br />
create table YingShe(CHR  char(2),PY varchar(10))<br />
insert YingShe <br />
select '长','chang'<br />
 union all select '长','zhang'<br />
 union all select '城','cheng'<br />
 union all select '科','kel'<br />
 union all select '技','ji'<br />
 union all select '金','jin'<br />
 union all select '立','li'<br />
 union all select '章','zhang'<br />
 union all select '公','gong'<br />
 union all select '司','si'<br />
<br />
/*--下面是两个函数,一个以表的形式返回某个字符串的全部拼音,一个返回某某个字符串的其中一个拼音<br />
--*/<br />
<br />
--获取汉字拼音的函数--返回所有的拼音<br />
create function f_getpy_tb(@str varchar(100))<br />
returns @tb table(re varchar(8000))<br />
as<br />
begin<br />
declare @re table(id int,re varchar(8000))  --数据处理中间表<br />
<br />
declare @i int,@ilen int,@splitchr varchar(1)<br />
select @splitchr=' ' --两个拼音之间的分隔符(目的是为了通用性考虑)<br />
 ,@i=1,@ilen=len(@str)<br />
<br />
insert into @re select @i,py from YingShe where chr=substring(@str,@i,1)<br />
while @i<@ilen<br />
begin<br />
 set @i=@i+1<br />
 insert into @re select @i,re+@splitchr+py from @re a,YingShe b<br />
  where a.id=@i-1 and b.chr=substring(@str,@i,1)<br />
end<br />
<br />
insert into @tb select re from @re where id=@i<br />
return <br />
end<br />
go<br />
<br />
--获取汉字拼音的函数--返回汉字的某一个拼音<br />
create function f_getpy(@str varchar(100))<br />
returns varchar(8000)<br />
as<br />
begin<br />
declare @re varchar(8000)<br />
<br />
declare @i int,@ilen int,@splitchr varchar(1)<br />
select @splitchr=' ' --两个拼音之间的分隔符(目的是为了通用性考虑)<br />
 ,@i=1,@ilen=len(@str)<br />
<br />
select @re=py from YingShe where chr=substring(@str,@i,1)<br />
while @i<@ilen<br />
begin<br />
 set @i=@i+1<br />
 select top 1 @re=@re+@splitchr+py<br />
 from YingShe where chr=substring(@str,@i,1)<br />
end<br />
<br />
return(@re)<br />
end<br />
go<br />
<br />
--测试<br />
--返回'长城'的所有可能拼音<br />
select * from dbo.f_getpy_tb('长城')<br />
<br />
--返回'长城'的拼音<br />
select  dbo.f_getpy('长城')<br />
<br />
--删除拼音函数<br />
drop function f_getpy,f_getpy_tb<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:19:07
