<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>行列转换一例</h2><br /> 
uploaded by Patrick. 11/05/2012 15:08:51<br />blog>><a  href="https://wzpabc.github.io?page=4f490bae-c899-4499-89d2-980092a899d0" >wzpabc.github.io?page=4f490bae-c899-4499-89d2-980092a899d0</a><p>GO<br />
IF OBJECT_ID('TBL')IS NOT NULL<br />
DROP TABLE TBL<br />
GO<br />
CREATE TABLE TBL(<br />
编码 VARCHAR(10),<br />
名称 VARCHAR(10),<br />
颜色 VARCHAR(10),<br />
S INT ,<br />
M INT ,<br />
L INT,<br />
XL INT ,<br />
XXL INT <br />
)<br />
GO<br />
INSERT TBL<br />
SELECT '100000','牛仔裤','蓝色',1,1,1,1,0 UNION ALL<br />
SELECT '100001','衬衣','白色',1,0,0,0,1<br />
select * from tbl<br />
<br />
SELECT * FROM(<br />
select  * from tbl <br />
unpivot ([数量] for [尺码] in([S],[M],[L],[XL],[XXL]))b)A<br />
WHERE [数量]<>0<br />
/*<br />
编码	名称	颜色	数量	尺码<br />
100000	牛仔裤	蓝色	1	S<br />
100000	牛仔裤	蓝色	1	M<br />
100000	牛仔裤	蓝色	1	L<br />
100000	牛仔裤	蓝色	1	XL<br />
100001	衬衣	白色	1	S<br />
100001	衬衣	白色	1	XXL<br />
*/<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/4f490bae-c899-4499-89d2-980092a899d0.html" >https://wzpabc.github.io/Template/4f490bae-c899-4499-89d2-980092a899d0.html</a>
