<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>取n到m行的值</h2><br /> 
uploaded by Patrick. 06/27/2016 15:31:16<br /><p>取n到m行<br />
<br />
1. <br />
select top (n-m+1) * from tablename where id not in (select top n id from tablename order by id asc/*|desc*/) <br />
<br />
2. <br />
select top m * into 临时表(或表变量) from tablename order by columnname -- 将top m笔插入到临时表 <br />
set rowcount n   --只取n条结果<br />
select * from 表变量 order by columnname desc <br />
<br />
3. <br />
select top n * from  <br />
(select top m * from tablename order by columnname) a <br />
order by columnname desc <br />
<br />
<br />
4.如果tablename里没有其他identity列，那么： <br />
先生成一个序列,存储在一临时表中.<br />
select identity(int) id0,* into #temp from tablename <br />
<br />
取n到m条的语句为： <br />
select * from #temp where id0 > =n and id0  <= m <br />
<br />
如果你在执行select identity(int) id0,* into #temp from tablename这条语句的时候报错,那是因为你的DB中间的select into/bulkcopy属性没有打开要先执行： <br />
exec sp_dboption 你的DB名字,'select into/bulkcopy',true <br />
<br />
<br />
5.如果表里有identity属性，那么简单： <br />
select * from tablename where identity_col between n and m  <br />
<br />
6.SQL2005开始.可以使用row_number() over()生成行号<br />
;with cte as<br />
(<br />
 select id0=row_number() over(order by id),* from tablename<br />
)<br />
select * from cte where id0 between n to m<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/4f6daf49-e3e8-4b15-a6ec-66cb02fb582f.html" >https://wzpabc.github.io/Template/4f6daf49-e3e8-4b15-a6ec-66cb02fb582f.html</a>
