<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>MSSQL中如何用SQL清除所有表的数据</h2><br /> 
uploaded by Patrick. 11/24/2012 15:19:15<br />blog>><a  href="https://wzpabc.github.io?page=64b6798c-5ce0-4d03-aabd-fbbace8e022d" >wzpabc.github.io?page=64b6798c-5ce0-4d03-aabd-fbbace8e022d</a><p>MSSQL中如何用SQL清除所有表的数据？这个需求分三种类型： <br />
第一：只要数据库中表是空的； <br />
第二：表是空的，并且自增长列可以从１开始增长。 <br />
第三：表是空的，并且自增长列可以从１开始增长，而且存在表间的约束。 <br />
邀月稍微整理了下，放在这里，便于有需要的朋友参阅。 <br />
其实，这不算什么需求。只要用数据库的生成脚本，几分钟即可生成一个干净的表结构及存储过程、视图、约束等。这里提供了另一种用SQL解决问题的方案。权当是无聊的学习，加深点印象吧。呵呵。 <br />
首先，作一些假设：假设database名为TestDB_2000_2005_2008 <br />
预先准备一些脚本 <br />
<br />
<br />
Sql代码 <br />
use master      <br />
go      <br />
IF OBJECT_ID('TestDB_2000_2005_2008') IS NOT NULL      <br />
-- print 'Exist databse!'    <br />
-- else print 'OK!'    <br />
DROP Database TestDB_2000_2005_2008      <br />
GO      <br />
Create database TestDB_2000_2005_2008      <br />
go      <br />
use TestDB_2000_2005_2008      <br />
go      <br />
IF OBJECT_ID('b') IS NOT NULL      <br />
drop table b      <br />
go      <br />
create table b(id int identity(1,1),ba int,bb int)      <br />
--truncate table b      <br />
insert into b      <br />
select  1,1 union all      <br />
select 2,2 union all      <br />
select 1,1      <br />
IF OBJECT_ID('c') IS NOT NULL      <br />
drop table c      <br />
go      <br />
create table c(id int identity(1,1),ca int,cb int)      <br />
insert into c      <br />
select  1,2 union all      <br />
select 1,3    <br />
<br />
use master  <br />
go  <br />
IF OBJECT_ID('TestDB_2000_2005_2008') IS NOT NULL  <br />
-- print 'Exist databse!'  <br />
-- else print 'OK!'  <br />
DROP Database TestDB_2000_2005_2008  <br />
GO  <br />
Create database TestDB_2000_2005_2008  <br />
go  <br />
use TestDB_2000_2005_2008  <br />
go  <br />
IF OBJECT_ID('b') IS NOT NULL  <br />
drop table b    <br />
go  <br />
create table b(id int identity(1,1),ba int,bb int)  <br />
--truncate table b    <br />
insert into b    <br />
select  1,1 union all  <br />
select 2,2 union all  <br />
select 1,1  <br />
IF OBJECT_ID('c') IS NOT NULL  <br />
drop table c  <br />
go  <br />
create table c(id int identity(1,1),ca int,cb int)  <br />
insert into c    <br />
select  1,2 union all  <br />
select 1,3  <br />
<br />
先来看看第一种需求： 只要数据库中表是空的。 <br />
这个其实并不难，用一个游标循环得出所有表名，再清除所有表，delete或truncate table <br />
提供几个语句：以下语句均在SQL2000/SQL2005/SQL2008下使用通过。 <br />
<br />
方法甲： <br />
Sql代码 <br />
use TestDB_2000_2005_2008      <br />
go      <br />
select * from b      <br />
select * from c      <br />
Declare @t varchar (1024)      <br />
Declare @SQL varchar(2048)      <br />
Declare tbl_cur cursor for  select TABLE_NAME from INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'    <br />
OPEN tbl_cur FETCH NEXT  from tbl_cur INTO @t    <br />
WHILE @@FETCH_STATUS = 0      <br />
BEGIN    <br />
SET @SQL='TRUNCATE TABLE '+ @t    <br />
--print (@SQL)      <br />
EXEC (@SQL)      <br />
FETCH NEXT  from tbl_cur INTO @t    <br />
END    <br />
CLOSE tbl_cur      <br />
DEALLOCATE tbl_Cur      <br />
select * from b      <br />
select * from c    <br />
<br />
use TestDB_2000_2005_2008  <br />
go  <br />
select * from b    <br />
select * from c    <br />
Declare @t varchar (1024)  <br />
Declare @SQL varchar(2048)  <br />
Declare tbl_cur cursor for  select TABLE_NAME from INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'  <br />
OPEN tbl_cur FETCH NEXT  from tbl_cur INTO @t  <br />
WHILE @@FETCH_STATUS = 0  <br />
BEGIN  <br />
SET @SQL='TRUNCATE TABLE '+ @t  <br />
--print (@SQL)  <br />
EXEC (@SQL)  <br />
FETCH NEXT  from tbl_cur INTO @t  <br />
END  <br />
CLOSE tbl_cur  <br />
DEALLOCATE tbl_Cur  <br />
select * from b    <br />
select * from c  <br />
<br />
方法乙： <br />
Sql代码 <br />
use TestDB_2000_2005_2008      <br />
go      <br />
select * from b      <br />
select * from c      <br />
select * from d      <br />
select * from e      <br />
DECLARE @TableName VARCHAR(256)      <br />
DECLARE @varSQL VARCHAR(512)      <br />
DECLARE @getTBName CURSOR SET @getTBName = CURSOR FOR SELECT name FROM sys.Tables WHERE NAME NOT LIKE 'Category'    <br />
OPEN @getTBName FETCH NEXT FROM @getTBName INTO @TableName      <br />
WHILE @@FETCH_STATUS = 0      <br />
BEGIN      <br />
SET @varSQL = 'Truncate table '+ @TableName      <br />
--PRINT (@varSQL)      <br />
EXEC (@varSQL)      <br />
FETCH NEXT FROM @getTBName INTO @TableName      <br />
END      <br />
CLOSE @getTBName      <br />
DEALLOCATE @getTBName      <br />
----select * from b      <br />
----select * from c  <br />
<br />
use TestDB_2000_2005_2008  <br />
go  <br />
select * from b    <br />
select * from c    <br />
select * from d    <br />
select * from e    <br />
DECLARE @TableName VARCHAR(256)  <br />
DECLARE @varSQL VARCHAR(512)  <br />
DECLARE @getTBName CURSOR SET @getTBName = CURSOR FOR SELECT name FROM sys.Tables WHERE NAME NOT LIKE 'Category'  <br />
OPEN @getTBName FETCH NEXT FROM @getTBName INTO @TableName  <br />
WHILE @@FETCH_STATUS = 0  <br />
BEGIN  <br />
SET @varSQL = 'Truncate table '+ @TableName    <br />
--PRINT (@varSQL)  <br />
EXEC (@varSQL)  <br />
FETCH NEXT FROM @getTBName INTO @TableName  <br />
END  <br />
CLOSE @getTBName  <br />
DEALLOCATE @getTBName  <br />
----select * from b    <br />
----select * from c <br />
<br />
方法丙： <br />
Sql代码 <br />
Declare @t table(query varchar(2000),tables varchar(100))      <br />
Insert into @t    <br />
    select 'Truncate table ['+T.table_name+']', T.Table_Name from INFORMATION_SCHEMA.TABLES T      <br />
    left outer join INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC      <br />
    on T.table_name=TC.table_name      <br />
    where (TC.constraint_Type ='Foreign Key' or TC.constraint_Type is NULL) and    <br />
    T.table_name not in ('dtproperties','sysconstraints','syssegments') and    <br />
    Table_type='BASE TABLE'    <br />
Insert into @t    <br />
    select 'delete from ['+T.table_name+']', T.Table_Name from INFORMATION_SCHEMA.TABLES T      <br />
        left outer join INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC      <br />
      on T.table_name=TC.table_name where TC.constraint_Type ='Primary Key' and T.table_name <>'dtproperties'and Table_type='BASE TABLE'    <br />
Declare @sql varchar(8000)      <br />
Select @sql=IsNull(@sql+' ','')+ query from @t    <br />
print(@sql)      <br />
Exec(@sql)    <br />
<br />
Declare @t table(query varchar(2000),tables varchar(100))  <br />
Insert into @t  <br />
    select 'Truncate table ['+T.table_name+']', T.Table_Name from INFORMATION_SCHEMA.TABLES T  <br />
    left outer join INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC  <br />
    on T.table_name=TC.table_name  <br />
    where (TC.constraint_Type ='Foreign Key' or TC.constraint_Type is NULL) and  <br />
    T.table_name not in ('dtproperties','sysconstraints','syssegments') and  <br />
    Table_type='BASE TABLE'  <br />
Insert into @t  <br />
    select 'delete from ['+T.table_name+']', T.Table_Name from INFORMATION_SCHEMA.TABLES T  <br />
        left outer join INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC  <br />
      on T.table_name=TC.table_name where TC.constraint_Type ='Primary Key' and T.table_name <>'dtproperties'and Table_type='BASE TABLE'  <br />
Declare @sql varchar(8000)  <br />
Select @sql=IsNull(@sql+' ','')+ query from @t  <br />
print(@sql)  <br />
Exec(@sql)  <br />
<br />
<br />
再来看看第二种需求： 表是空的，并且自增长列可以从１开始增长 。 <br />
这种需求其实和第一种差不多。 因为我们在以上语句中使用的是 truncate　table 语句，所以，表的自增长 列是默认从头重新的。 <br />
<br />
关键是第三种需求： 表是空的，并且自增长列可以从１开始增长 ，而且存在表间的约束 。 <br />
这是个比较头痛的问题。因为外键约束，不能使用truncate table语句，但是，如果使用delete，又不能使自增长列从１开始重排。 <br />
<br />
我们不妨先来增加一些约束条件： <br />
Sql代码 <br />
CREATE TABLE [d] (  <br />
    [id] [int] IDENTITY (1, 1) NOT NULL ,  <br />
    [da] [int] NULL ,  <br />
    [db] [int] NULL ,  <br />
    CONSTRAINT [PK_d] PRIMARY KEY  CLUSTERED    <br />
    (  <br />
        [id]  <br />
    )  ON [PRIMARY]    <br />
) ON [PRIMARY]  <br />
CREATE TABLE [e] (  <br />
    [id] [int] IDENTITY (1, 1) NOT NULL ,  <br />
    [da] [int] NULL ,  <br />
    [db] [int] NULL ,  <br />
    [did] [int] NULL ,  <br />
    CONSTRAINT [FK_e_d] FOREIGN KEY    <br />
    (  <br />
        [did]  <br />
    ) REFERENCES [d] (  <br />
        [id]  <br />
    )  <br />
) ON [PRIMARY]  <br />
insert into d  <br />
select 5,6 union all  <br />
select 7,8 union all  <br />
select 9,9  <br />
insert into e  <br />
select 8,6,1 union all  <br />
select 8,8,2 union all  <br />
select 8,9,2  <br />
<br />
CREATE TABLE [d] ( <br />
    [id] [int] IDENTITY (1, 1) NOT NULL , <br />
    [da] [int] NULL , <br />
    [db] [int] NULL , <br />
    CONSTRAINT [PK_d] PRIMARY KEY  CLUSTERED <br />
    ( <br />
        [id] <br />
    )  ON [PRIMARY] <br />
) ON [PRIMARY] <br />
CREATE TABLE [e] ( <br />
    [id] [int] IDENTITY (1, 1) NOT NULL , <br />
    [da] [int] NULL , <br />
    [db] [int] NULL , <br />
    [did] [int] NULL , <br />
    CONSTRAINT [FK_e_d] FOREIGN KEY <br />
    ( <br />
        [did] <br />
    ) REFERENCES [d] ( <br />
        [id] <br />
    ) <br />
) ON [PRIMARY] <br />
insert into d <br />
select 5,6 union all <br />
select 7,8 union all <br />
select 9,9 <br />
insert into e <br />
select 8,6,1 union all <br />
select 8,8,2 union all <br />
select 8,9,2 <br />
<br />
此时再来执行甲乙丙语句时会提示：“无法截断表 'd'，因为该表正由 FOREIGN KEY 约束引用。” <br />
我们可以这样设想： <br />
1、先找出没有外键约束的表，truncate <br />
２、有外键的表，先delete,再复位identity列 <br />
于是得出， <br />
语句丁（注意没有使用游标 ） <br />
Sql代码 <br />
SET NoCount ON  <br />
   DECLARE @tableName varchar(512)   <br />
   Declare @SQL varchar(2048)   <br />
   SET @tableName=''  <br />
   WHILE EXISTS   <br />
   (      <br />
   --Find all child tables and those which have no relations   <br />
   SELECT T.table_name   FROM INFORMATION_SCHEMA.TABLES T   <br />
          LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC    ON T.table_name = TC.table_name   <br />
     WHERE ( TC.constraint_Type = 'Foreign Key' OR TC.constraint_Type IS NULL )   <br />
         AND T.table_name NOT IN ( 'dtproperties', 'sysconstraints', 'syssegments' )   <br />
         AND Table_type = 'BASE TABLE'  <br />
         AND T.table_name > @TableName   <br />
         )   <br />
    Begin  <br />
        SELECT @tableName = min(T.table_name)    FROM INFORMATION_SCHEMA.TABLES T   <br />
        LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC    ON T.table_name=TC.table_name   <br />
           WHERE ( TC.constraint_Type = 'Foreign Key' OR TC.constraint_Type IS NULL )   <br />
         AND T.table_name NOT IN ( 'dtproperties', 'sysconstraints', 'syssegments' )   <br />
         AND Table_type = 'BASE TABLE'  <br />
         AND T.table_name > @TableName   <br />
         --Truncate the table   <br />
         SET @SQL = 'Truncate table '+ @TableName    <br />
         print (@SQL)   <br />
         Exec(@SQL)   <br />
     End  <br />
     <br />
   SET @TableName=''  <br />
   WHILE EXISTS   <br />
   (    <br />
   --Find all Parent tables   <br />
     SELECT T.table_name     FROM INFORMATION_SCHEMA.TABLES T   <br />
     LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC     ON T.table_name = TC.table_name   <br />
     WHERE TC.constraint_Type = 'Primary Key'  <br />
     AND T.table_name <> 'dtproperties'  <br />
     AND Table_type='BASE TABLE'  <br />
     AND T.table_name > @TableName   <br />
     )   <br />
   Begin  <br />
     SELECT @tableName = min(T.table_name)   FROM INFORMATION_SCHEMA.TABLES T   <br />
          LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC   ON T.table_name=TC.table_name   <br />
     WHERE TC.constraint_Type = 'Primary Key'  <br />
     AND T.table_name <> 'dtproperties'  <br />
     AND Table_type = 'BASE TABLE'  <br />
     AND T.table_name > @TableName   <br />
     --Delete the table   <br />
       <br />
        SET @SQL = ' delete from '+ @TableName    <br />
         print (@SQL)   <br />
         Exec(@SQL)   <br />
     --Reset identity column   <br />
         IF EXISTS ( SELECT *   FROM INFORMATION_SCHEMA.COLUMNS   <br />
             WHERE COLUMNPROPERTY(   <br />
             OBJECT_ID( QUOTENAME(table_schema)+ '.' + QUOTENAME(@tableName) ),   <br />
             column_name,'IsIdentity'  <br />
             ) = 1   <br />
           )   <br />
     DBCC CHECKIDENT(@tableName,RESEED,0)   <br />
   End  <br />
   SET NoCount OFF  <br />
<br />
SET NoCount ON<br />
   DECLARE @tableName varchar(512)<br />
   Declare @SQL varchar(2048)<br />
   SET @tableName=''<br />
   WHILE EXISTS<br />
   (   <br />
   --Find all child tables and those which have no relations<br />
   SELECT T.table_name   FROM INFORMATION_SCHEMA.TABLES T<br />
          LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC    ON T.table_name = TC.table_name<br />
     WHERE ( TC.constraint_Type = 'Foreign Key' OR TC.constraint_Type IS NULL )<br />
         AND T.table_name NOT IN ( 'dtproperties', 'sysconstraints', 'syssegments' )<br />
         AND Table_type = 'BASE TABLE'<br />
         AND T.table_name > @TableName<br />
         )<br />
    Begin<br />
        SELECT @tableName = min(T.table_name)    FROM INFORMATION_SCHEMA.TABLES T<br />
        LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC    ON T.table_name=TC.table_name<br />
           WHERE ( TC.constraint_Type = 'Foreign Key' OR TC.constraint_Type IS NULL )<br />
         AND T.table_name NOT IN ( 'dtproperties', 'sysconstraints', 'syssegments' )<br />
         AND Table_type = 'BASE TABLE'<br />
         AND T.table_name > @TableName<br />
         --Truncate the table<br />
         SET @SQL = 'Truncate table '+ @TableName <br />
         print (@SQL)<br />
         Exec(@SQL)<br />
     End<br />
  <br />
   SET @TableName=''<br />
   WHILE EXISTS<br />
   ( <br />
   --Find all Parent tables<br />
     SELECT T.table_name     FROM INFORMATION_SCHEMA.TABLES T<br />
     LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC     ON T.table_name = TC.table_name<br />
     WHERE TC.constraint_Type = 'Primary Key'<br />
     AND T.table_name <> 'dtproperties'<br />
     AND Table_type='BASE TABLE'<br />
     AND T.table_name > @TableName<br />
     )<br />
   Begin<br />
     SELECT @tableName = min(T.table_name)   FROM INFORMATION_SCHEMA.TABLES T<br />
          LEFT OUTER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC   ON T.table_name=TC.table_name<br />
     WHERE TC.constraint_Type = 'Primary Key'<br />
     AND T.table_name <> 'dtproperties'<br />
     AND Table_type = 'BASE TABLE'<br />
     AND T.table_name > @TableName<br />
     --Delete the table<br />
    <br />
        SET @SQL = ' delete from '+ @TableName <br />
         print (@SQL)<br />
         Exec(@SQL)<br />
     --Reset identity column<br />
         IF EXISTS ( SELECT *   FROM INFORMATION_SCHEMA.COLUMNS<br />
             WHERE COLUMNPROPERTY(<br />
             OBJECT_ID( QUOTENAME(table_schema)+ '.' + QUOTENAME(@tableName) ),<br />
             column_name,'IsIdentity'<br />
             ) = 1<br />
           )<br />
     DBCC CHECKIDENT(@tableName,RESEED,0)<br />
   End<br />
   SET NoCount OFF<br />
<br />
小结：除了以上方法，还可以临时禁用外键约束。语句为： <br />
Sql代码 <br />
-- --禁用所有约束   <br />
--exec sp_msforeachtable 'alter table ? nocheck CONSTRAINT all'   <br />
-- --再启用所有外键约束   <br />
--exec sp_msforeachtable 'alter table ? check constraint all' <br />
<br />
如果没有上面的这些约束 还可以这样<br />
<br />
declare @sql  varchar(5000)<br />
set @sql = ''<br />
select @sql = @sql +'truncate table '+[name]+';'  from sysobjects where xtype='u'<br />
print  @sql<br />
exec(@sql)<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/64b6798c-5ce0-4d03-aabd-fbbace8e022d.html" >https://wzpabc.github.io/Template/64b6798c-5ce0-4d03-aabd-fbbace8e022d.html</a>
