<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>标识列的处理</h2><br /> 
uploaded by Patrick. 12/27/2012 15:26:44<br />blog>><a  href="https://wzpabc.github.io?page=6d13552d-55a3-4c5e-8bd3-cc5883820ed2" >wzpabc.github.io?page=6d13552d-55a3-4c5e-8bd3-cc5883820ed2</a><p>引用邹建的：  <br />
  --创建测试表  <br />
  CREATE  TABLE  t1(ID  int  IDENTITY,A  int)  <br />
  GO  <br />
  --插入记录  <br />
  INSERT  t1  VALUES(1)  <br />
  GO  <br />
    <br />
  --1.  将IDENTITY(标识)列变为普通列  <br />
  ALTER  TABLE  t1  ADD  ID_temp  int  <br />
  GO  <br />
    <br />
  UPDATE  t1  SET  ID_temp=ID  <br />
  ALTER  TABLE  t1  DROP  COLUMN  ID  <br />
  EXEC  sp_rename  N't1.ID_temp',N'ID',N'COLUMN'  <br />
  INSERT  t1  VALUES(100,9)  <br />
  GO  <br />
    <br />
  --2.  将普通列变为标识列  <br />
  CREATE  TABLE  t1_temp(ID  int,A  int  IDENTITY)  <br />
  SET  IDENTITY_INSERT  t1_temp  ON  <br />
  INSERT  t1_temp(ID,A)  SELECT  *  FROM  t1  <br />
  SET  IDENTITY_INSERT  t1_temp  OFF  <br />
  DROP  TABLE  T1  <br />
  GO  <br />
    <br />
  EXEC  sp_rename  N't1_temp',N't1'  <br />
  INSERT  t1  VALUES(109999)  <br />
  GO  <br />
    <br />
  --显示处理结果  <br />
  SELECT  *  FROM  t1  <br />
  /*--结果:  <br />
  ID                    A    <br />
  -----------------  -----------    <br />
  1                      1  <br />
  100                  9  <br />
  109999            10  <br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/6d13552d-55a3-4c5e-8bd3-cc5883820ed2.html" >https://wzpabc.github.io/Template/6d13552d-55a3-4c5e-8bd3-cc5883820ed2.html</a>
