<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>经典代码</h2><br /> 
uploaded by Patrick. 10/16/2014 15:29:24<br />blog>><a  href="https://wzpabc.github.io?page=6d43ae98-7a44-4f70-82f5-9cd5e064e43b" >wzpabc.github.io?page=6d43ae98-7a44-4f70-82f5-9cd5e064e43b</a><p>if object_id('[tb]') is not null drop table [tb] <br />
go <br />
create table [tb]([value1] int,[value2] int) <br />
insert [tb] <br />
select 1,12 union all <br />
select 1,13 union all <br />
select 1,23 union all <br />
select 0,14 union all <br />
select 0,15 union all <br />
select 1,16 union all <br />
select 0,23 union all <br />
select 0,22 union all <br />
select 1,21 union all <br />
select 1,12 <br />
<br />
select id=identity(int,1,1),* into # from tb<br />
select <br />
value1,value2,col3=(select count(1) from # where [value1]=a.[value1] and id<=a.id <br />
and id>=(select isnull(max(id),0) from # where id<a.id and value1!=a.value1)) <br />
from # a<br />
<br />
--结果：<br />
value1      value2      col3<br />
----------- ----------- -----------<br />
1           12          1<br />
1           13          2<br />
1           23          3<br />
0           14          1<br />
0           15          2<br />
1           16          1<br />
0           23          1<br />
0           22          2<br />
1           21          1<br />
1           12          2<br />
<br />
<br />
<br />
---------------------------------<br />
--  Author: htl258(Tony)<br />
--  Date  : 2009-08-05 14:08:24<br />
---------------------------------<br />
--> 生成测试数据表:tb<br />
<br />
If not object_id('[tb]') is null<br />
    Drop table [tb]<br />
Go<br />
Create table [tb]([Num] int,[Count2] int,[Code] varchar(10))<br />
Insert tb<br />
Select 92126,200,'100202' union all<br />
Select 94752,100,'100202' union all<br />
Select 19,200,'100201' union all<br />
Select 20,100,'100201'<br />
Go<br />
--Select * from tb<br />
<br />
-->SQL查询如下:<br />
select b.number num,a.[Count2],a.code <br />
from tb a <br />
    join master..spt_values b <br />
        on b.type='p' and a.num>90000<br />
        and b.number>=(a.num-90000)/100<br />
        and b.number<=(a.num-90000)%100<br />
union all<br />
select * from tb where num<90000<br />
/*<br />
num         Count2      code<br />
----------- ----------- ----------<br />
21          200         100202<br />
22          200         100202<br />
23          200         100202<br />
24          200         100202<br />
25          200         100202<br />
26          200         100202<br />
47          100         100202<br />
48          100         100202<br />
49          100         100202<br />
50          100         100202<br />
51          100         100202<br />
52          100         100202<br />
19          200         100201<br />
20          100         100201<br />
<br />
(14 行受影响)<br />
*/<br />
<br />
<br />
<br />
<br />
Create table T(col1 int,col2 int)<br />
insert into T values(1,null)<br />
insert into T values(2,null)<br />
insert into T values(3,null)<br />
insert into T values(4,null)<br />
insert into T values(1,null)<br />
insert into T values(2,null)<br />
insert into T values(3,null)<br />
insert into T values(1,null)<br />
insert into T values(2,null)<br />
GO<br />
<br />
declare @col1 int,@col2 int<br />
set @col2=0<br />
<br />
Update T<br />
set @col2= case when col1=@col1+1<br />
                then @col2<br />
                else @col2+1<br />
                end,<br />
    @col1=col1,<br />
    col2=@col2<br />
<br />
GO<br />
<br />
select * from T<br />
/*<br />
1    1<br />
2    1<br />
3    1<br />
4    1<br />
1    2<br />
2    2<br />
3    2<br />
1    3<br />
2    3<br />
*/<br />
<br />
Drop table T<br />
<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/6d43ae98-7a44-4f70-82f5-9cd5e064e43b.html" >https://wzpabc.github.io/Template/6d43ae98-7a44-4f70-82f5-9cd5e064e43b.html</a>
