<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>配置SQL内存</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:48<br />blog>><a  href="https://wzpabc.github.io?page=716b00ec-64ef-418d-9317-dacf355f9bb4" >wzpabc.github.io?page=716b00ec-64ef-418d-9317-dacf355f9bb4</a><p>--设置min server memory配置项<br />
EXEC SP_configure N'min server memory(MB)',0<br />
<br />
--设置max server memory配置项<br />
EXEC SP_configure N'max server memory(MB)',256<br />
<br />
--使更新生效<br />
RECONFIOURE WITH OVERRIDE<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/716b00ec-64ef-418d-9317-dacf355f9bb4.html" >https://wzpabc.github.io/Template/716b00ec-64ef-418d-9317-dacf355f9bb4.html</a>
