<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>计算年龄</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:46<br />blog>><a  href="https://wzpabc.github.io?page=72f39cf5-80e3-4710-9041-30b8a9524eee" >wzpabc.github.io?page=72f39cf5-80e3-4710-9041-30b8a9524eee</a><p>SELECT 年龄=case when  datediff(day,dateadd(year,datediff(year,'1982-07-18',getdate()),'1982-07-18'),getdate())>=0<br />
            then datediff(year,'1982-07-18',getdate())else datediff(YY,'1982-07-18',getdate())-1 end<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/72f39cf5-80e3-4710-9041-30b8a9524eee.html" >https://wzpabc.github.io/Template/72f39cf5-80e3-4710-9041-30b8a9524eee.html</a>
