<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQLServer2000同步复制技术实现步骤<br />
作者:gaojier 日期:2007-06-25<br />
字体大小: 小 中 大 <br />
一、 预备工作<br />
1.发布服务器,订阅服务器都创建一个同名的windows用户,并设置相同的密码,做为发布快照文件夹的有效访问用户<br />
--管理工具<br />
--计算机管理<br />
--用户和组<br />
--右键用户<br />
--新建用户<br />
--建立一个隶属于administrator组的登陆windows的用户（SynUser）<br />
2.在发布服务器上,新建一个共享目录,做为发布的快照文件的存放目录,操作:<br />
我的电脑--D:\ 新建一个目录,名为: PUB<br />
--右键这个新建的目录<br />
--属性--共享<br />
--选择"共享该文件夹"<br />
--通过"权限"按纽来设置具体的用户权限,保证第一步中创建的用户(SynUser) 具有对该文件夹的所有权限<br />
--确定<br />
3.设置SQL代理(SQLSERVERAGENT)服务的启动用户(发布/订阅服务器均做此设置)<br />
开始--程序--管理工具--服务<br />
--右键SQLSERVERAGENT<br />
--属性--登陆--选择"此账户"<br />
--输入或者选择第一步中创建的windows登录用户名（SynUser）<br />
--"密码"中输入该用户的密码<br />
4.设置SQL Server身份验证模式,解决连接时的权限问题(发布/订阅服务器均做此设置)<br />
企业管理器<br />
--右键SQL实例--属性<br />
--安全性--身份验证<br />
--选择"SQL Server 和 Windows"<br />
--确定<br />
5.在发布服务器和订阅服务器上互相注册<br />
企业管理器<br />
--右键SQL Server组<br />
--新建SQL Server注册...<br />
--下一步--可用的服务器中,输入你要注册的远程服务器名 --添加<br />
--下一步--连接使用,选择第二个"SQL Server身份验证"<br />
--下一步--输入用户名和密码（SynUser）<br />
--下一步--选择SQL Server组,也可以创建一个新组<br />
--下一步--完成<br />
6.对于只能用IP,不能用计算机名的,为其注册服务器别名（此步在实施中没用到）<br />
  (在连接端配置,比如,在订阅服务器上配置的话,服务器名称中输入的是发布服务器的IP)<br />
开始--程序--Microsoft SQL Server--客户端网络实用工具<br />
--别名--添加<br />
--网络库选择"tcp/ip"--服务器别名输入SQL服务器名<br />
--连接参数--服务器名称中输入SQL服务器ip地址<br />
--如果你修改了SQL的端口,取消选择"动态决定端口",并输入对应的端口号<br />
二、 正式配置<br />
1、配置发布服务器<br />
打开企业管理器，在发布服务器（B、C、D）上执行以下步骤:<br />
(1) 从[工具]下拉菜单的[复制]子菜单中选择[配置发布、订阅服务器和分发]出现配置发布和分发向导 <br />
(2) [下一步] 选择分发服务器 可以选择把发布服务器自己作为分发服务器或者其他sql的服务器（选择自己）<br />
(3) [下一步] 设置快照文件夹 <br />
采用默认\\servername\Pub<br />
(4) [下一步] 自定义配置 <br />
可以选择:是,让我设置分发数据库属性启用发布服务器或设置发布设置<br />
否,使用下列默认设置（推荐）<br />
(5) [下一步] 设置分发数据库名称和位置 采用默认值<br />
(6) [下一步] 启用发布服务器 选择作为发布的服务器<br />
(7) [下一步] 选择需要发布的数据库和发布类型<br />
(8) [下一步] 选择注册订阅服务器<br />
(9) [下一步] 完成配置<br />
2、创建出版物<br />
发布服务器B、C、D上<br />
(1)从[工具]菜单的[复制]子菜单中选择[创建和管理发布]命令<br />
(2)选择要创建出版物的数据库，然后单击[创建发布]<br />
(3)在[创建发布向导]的提示对话框中单击[下一步]系统就会弹出一个对话框。对话框上的内容是复制的三个类型。我们现在选第一个也就是默认的快照发布(其他两个大家可以去看看帮助)<br />
(4)单击[下一步]系统要求指定可以订阅该发布的数据库服务器类型,<br />
SQLSERVER允许在不同的数据库如 orACLE或ACCESS之间进行数据复制。<br />
但是在这里我们选择运行"SQL SERVER 2000"的数据库服务器<br />
(5)单击[下一步]系统就弹出一个定义文章的对话框也就是选择要出版的表<br />
注意: 如果前面选择了事务发布 则再这一步中只能选择带有主键的表<br />
(6)选择发布名称和描述<br />
(7)自定义发布属性 向导提供的选择:<br />
是 我将自定义数据筛选,启用匿名订阅和或其他自定义属性<br />
否 根据指定方式创建发布 （建议采用自定义的方式）<br />
(8)[下一步] 选择筛选发布的方式 <br />
(9)[下一步] 可以选择是否允许匿名订阅<br />
1)如果选择署名订阅,则需要在发布服务器上添加订阅服务器<br />
方法: [工具]->[复制]->[配置发布、订阅服务器和分发的属性]->[订阅服务器] 中添加<br />
否则在订阅服务器上请求订阅时会出现的提示:改发布不允许匿名订阅<br />
如果仍然需要匿名订阅则用以下解决办法 <br />
[企业管理器]->[复制]->[发布内容]->[属性]->[订阅选项] 选择允许匿名请求订阅<br />
2)如果选择匿名订阅,则配置订阅服务器时不会出现以上提示<br />
(10)[下一步] 设置快照 代理程序调度<br />
(11)[下一步] 完成配置<br />
当完成出版物的创建后创建出版物的数据库也就变成了一个共享数据库。<br />
<br />
 <br />
<br />
----------------------------<br />
<br />
<br />
--参考: <br />
/* <br />
作者:邹建 <br />
*/ <br />
<br />
/*--同步两个数据库的示例 <br />
<br />
有数据 <br />
srv1.库名..author有字段:id,name,phone, <br />
srv2.库名..author有字段:id,name,telphone,adress <br />
<br />
要求： <br />
srv1.库名..author增加记录则srv1.库名..author记录增加 <br />
srv1.库名..author的phone字段更新，则srv1.库名..author对应字段telphone更新 <br />
--*/ <br />
<br />
--大致的处理步骤 <br />
--1.在   srv1   上创建连接服务器,以便在   srv1   中操作   srv2,实现同步 <br />
exec   sp_addlinkedserver     'srv2','','SQLOLEDB','srv2的sql实例名或ip' <br />
exec   sp_addlinkedsrvlogin   'srv2','false',null,'用户名','密码' <br />
go <br />
<br />
--2.在   srv1   和   srv2   这两台电脑中,启动   msdtc(分布式事务处理服务),并且设置为自动启动 <br />
我的电脑--控制面板--管理工具--服务--右键   Distributed   Transaction   Coordinator--属性--启动--并将启动类型设置为自动启动 <br />
go <br />
<br />
<br />
--然后创建一个作业定时调用上面的同步处理存储过程就行了 <br />
<br />
企业管理器 <br />
--管理 <br />
--SQL   Server代理 <br />
--右键作业 <br />
--新建作业 <br />
--"常规"项中输入作业名称 <br />
--"步骤"项 <br />
--新建 <br />
--"步骤名"中输入步骤名 <br />
--"类型"中选择"Transact-SQL   脚本(TSQL)" <br />
--"数据库"选择执行命令的数据库 <br />
--"命令"中输入要执行的语句:   exec   p_process   <br />
--确定 <br />
--"调度"项 <br />
--新建调度 <br />
--"名称"中输入调度名称 <br />
--"调度类型"中选择你的作业执行安排 <br />
--如果选择"反复出现" <br />
--点"更改"来设置你的时间安排 <br />
<br />
<br />
然后将SQL   Agent服务启动,并设置为自动启动,否则你的作业不会被执行 <br />
<br />
设置方法: <br />
我的电脑--控制面板--管理工具--服务--右键   SQLSERVERAGENT--属性--启动类型--选择"自动启动"--确定. <br />
<br />
<br />
--3.实现同步处理的方法2,定时同步 <br />
<br />
--在srv1中创建如下的同步处理存储过程 <br />
create   proc   p_process   <br />
as <br />
--更新修改过的数据 <br />
update   b   set   name=i.name,telphone=i.telphone <br />
from   srv2.库名.dbo.author   b,author   i <br />
where   b.id=i.id   and <br />
(b.name <> i.name   or   b.telphone <> i.telphone) <br />
<br />
--插入新增的数据 <br />
insert   srv2.库名.dbo.author(id,name,telphone) <br />
select   id,name,telphone   from   author   i <br />
where   not   exists( <br />
select   *   from   srv2.库名.dbo.author   where   id=i.id) <br />
<br />
--删除已经删除的数据(如果需要的话) <br />
delete   b   <br />
from   srv2.库名.dbo.author   b <br />
where   not   exists( <br />
select   *   from   author   where   id=b.id) <br />
go <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
