<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--示例数据<br />
CREATE TABLE tb(Name varchar(10),Score decimal(10,2))<br />
INSERT tb SELECT 'aa',99<br />
UNION ALL SELECT 'bb',56<br />
UNION ALL SELECT 'cc',56<br />
UNION ALL SELECT 'dd',77<br />
UNION ALL SELECT 'ee',78<br />
UNION ALL SELECT 'ff',76<br />
UNION ALL SELECT 'gg',78<br />
UNION ALL SELECT 'ff',50<br />
GO<br />
<br />
--1. 名次生成方式1,Score重复时合并名次<br />
SELECT *,Place=(SELECT COUNT(DISTINCT Score) FROM tb WHERE Score>=a.Score)<br />
FROM tb a<br />
ORDER BY Place<br />
/*--结果<br />
Name       Score        Place <br />
---------------- ----------------- ----------- <br />
aa         99.00        1<br />
ee         78.00        2<br />
gg         78.00        2<br />
dd         77.00        3<br />
ff         76.00        4<br />
bb         56.00        5<br />
cc         56.00        5<br />
ff         50.00        6<br />
--*/<br />
<br />
<br />
<br />
--2. 名次生成方式2,Score重复时保留名次空缺<br />
SELECT *,Place=(SELECT COUNT(Score) FROM tb WHERE Score>a.Score)+1<br />
FROM tb a<br />
ORDER BY Place<br />
/*--结果<br />
Name       Score        Place <br />
--------------- ----------------- ----------- <br />
aa         99.00        1<br />
ee         78.00        2<br />
gg         78.00        2<br />
dd         77.00        4<br />
ff         76.00        5<br />
bb         56.00        6<br />
cc         56.00        6<br />
ff         50.00        8<br />
--*/<br />
</p> 
uploaded by Patrick. 06/27/2016 14:32:44
