<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="0c335d09-faee-437c-b2e4-0be2a3b5670a.html" href="#" onclick="return MenuChange(this);">处理表重复记录(查询和删除)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
</p>
<H2><a id="32f3bb96-039b-4124-9756-3c52ae4586b9.html" href="#" onclick="return MenuChange(this);">同步两个数据库的示例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>--参考: <br />
/* <br />
作者:邹建 <br />
</p>
<H2><a id="e60e0f4f-ac69-4405-ac27-71f79fd9ef76.html" href="#" onclick="return MenuChange(this);">处理表重复记录</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
</p>
<H2><a id="402b73a5-0bba-4a10-858f-8d0d4208bc9d.html" href="#" onclick="return MenuChange(this);">复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>复制表结构的通用存储过程 <br />
<br />
-- Transfer对象的重要属性 <br />
</p>
<H2><a id="f93a6d9a-a873-421a-819d-a3ebf9ab4473.html" href="#" onclick="return MenuChange(this);">如何利用日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>/*--说明：<br />
下面的代码演示了如何利用日志还原功能，将主数据库中的数据变化及时反馈到备用数据库中<br />
备用数据库的数据可以随时用于查询，但不能被更新（备用数据库只读）。<br />
</p>
<H2><a id="f173f843-8624-49cb-9e64-b71b6de80c66.html" href="#" onclick="return MenuChange(this);">如何写出性能优良的SQL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>如何写出性能优良的SQL<br />
（1） 选择最有效率的表名顺序(只在基于规则的优化器中有效)： <br />
ORACLE的解析器按照从右到左的顺序处理FROM子句中的表名，FROM子句中写在最后的表(基础表 driving table)将被最先处理，在FROM子句中包含多个表的情况下,你必须选择记录条数最少的表作为基础表。如果有3个以上的表连接查询, 那就需要选择交叉表(intersection table)作为基础表, 交叉表是指那个被其他表所引用的表. <br />
</p>
<H2><a id="0b2e0a11-dc58-46a5-b704-cc2ba0091a88.html" href="#" onclick="return MenuChange(this);">如何删除 SQL2005 过期的数据库备份文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>-- 如何删除 SQL2005 过期的数据库备份文件呢？ <br />
<br />
在 SQL2005 数据库中，不可以自动删除过期的备份文件，所以借用第三方插件完成此功能。 <br />
</p>
<H2><a id="bb83b647-37f2-41a8-9fa6-d1dae5f310a5.html" href="#" onclick="return MenuChange(this);">备份作业</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>/*******************完整备份作业*******************/<br />
--完整备份,每周一次<br />
USE Master<br />
</p>
<H2><a id="a214408c-6b26-4ab2-ad36-e719790646e2.html" href="#" onclick="return MenuChange(this);">合并拆分表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:57:48<br /><p>/****************************************************************************************************************************************************** <br />
合并分拆表数据 <br />
<br />
</p>
