<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>如何向一个自增字段插值？</h2><br /> 
uploaded by Patrick. 04/22/2016 06:13:45<br />blog>><a  href="https://wzpabc.github.io?page=7f90f74a-6518-4a1f-bef3-20ac5fed343e" >wzpabc.github.io?page=7f90f74a-6518-4a1f-bef3-20ac5fed343e</a><p>--1、create table tablename(id int identity(1,1))go<br />
insert into tablename default values<br />
go<br />
select * from tablenamegodrop table tablename<br />
go--<br />
2、--还用上个表。set identity_insert   tablename on<br />
insert tablename(id) select 2<br />
set identity_insert   tablename  off<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/7f90f74a-6518-4a1f-bef3-20ac5fed343e.html" >https://wzpabc.github.io/Template/7f90f74a-6518-4a1f-bef3-20ac5fed343e.html</a>
