<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>新建 文本文档 (2)</h2><br /> 
uploaded by Patrick. 05/19/2014 15:14:27<br />blog>><a  href="https://wzpabc.github.io?page=8fec8598-01e2-45ae-9065-a6f38009402d" >wzpabc.github.io?page=8fec8598-01e2-45ae-9065-a6f38009402d</a><p>设置默认值alter table <表名> add <列名> <默认值类型>  default '<默认值>'<br />
设置主键alter table <表名> add constraint <主键名> primary key(<列名>)<br />
设置联合主键alter table <表名> add constraint <主键名> primary key(<列名1>，<列名2>，...,<列名N>)<br />
约束alter table <表名> add constraint <约束名> check (<约束语句>)在输入语句的时候<>是不需要的 <br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/8fec8598-01e2-45ae-9065-a6f38009402d.html" >https://wzpabc.github.io/Template/8fec8598-01e2-45ae-9065-a6f38009402d.html</a>
