<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--查找缺失索引<br />
<br />
SELECT  MID.statement AS ObjectName ,<br />
        MID.equality_columns ,<br />
        MID.inequality_columns ,<br />
        MID.included_columns ,<br />
        MIGS.avg_user_impact AS ExpectedPerformanceImprovement ,<br />
        ( MIGS.user_seeks + MIGS.user_scans ) * MIGS.avg_total_user_cost<br />
        * MIGS.avg_user_impact AS PossibleImprovement<br />
FROM    sys.dm_db_missing_index_details AS MID<br />
        INNER JOIN sys.dm_db_missing_index_groups AS MIG ON MID.index_handle = MIG.index_handle<br />
        INNER JOIN sys.dm_db_missing_index_group_stats AS MIGS ON MIG.index_group_handle = MIGS.group_handle<br />
GO<br />
<br />
--索引使用明细<br />
<br />
USE AdventureWorks<br />
GO<br />
SELECT  O.name AS ObjectName ,<br />
        I.name AS IndexName ,<br />
        IUS.user_seeks ,<br />
        IUS.user_scans ,<br />
        IUS.last_user_seek ,<br />
        IUS.last_user_scan<br />
FROM    sys.dm_db_index_usage_stats AS IUS<br />
        INNER JOIN sys.indexes AS I ON IUS.object_id = I.object_id<br />
                                       AND IUS.index_id = I.index_id<br />
        INNER JOIN sys.objects AS O ON IUS.object_id = O.object_id<br />
GO<br />
<br />
--索引碎片<br />
USE AdventureWorks<br />
GO<br />
SELECT  O.name AS ObjectName ,<br />
        I.name AS IndexName ,<br />
        IPS.avg_page_space_used_in_percent AS AverageSpaceUsedInPages ,<br />
        IPS.avg_fragmentation_in_percent AS AverageFragmentation ,<br />
        IPS.fragment_count AS FragmentCount ,<br />
        suggestedIndexOperation = CASE WHEN IPS.avg_fragmentation_in_percent <= 30<br />
                                       THEN 'ReOrganize Index'<br />
                                       ELSE 'ReBuild Index'<br />
                                  END<br />
FROM    sys.dm_db_index_physical_stats(DB_ID(), NULL, NULL, NULL, 'DETAILED')<br />
        AS IPS<br />
        INNER JOIN sys.indexes AS I ON IPS.index_id = I.index_id<br />
                                       AND IPS.object_id = I.object_id<br />
        INNER JOIN sys.objects AS O ON IPS.object_id = O.object_id<br />
WHERE   IPS.avg_fragmentation_in_percent > 5<br />
ORDER BY AverageFragmentation DESC <br />
GO<br />
</p> 
uploaded by Patrick. 06/27/2016 14:32:43
