<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="e8314b7e-603b-4db9-bae7-7005ea90cb29.html" href="#" onclick="return MenuChange(this);">bcp1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 16:53:46<br /><p>/******* 导出到excel */<br />
EXEC master..xp_cmdshell 'bcp SettleDB.dbo.shanghu out c:\temp1.xls -c -q -S"GNETDATA/GNETDATA" -U"sa" -P""' <br />
<br />
</p>
<H2><a id="ca6c9efe-3a1b-458b-b985-33d7b08dfee4.html" href="#" onclick="return MenuChange(this);">2008转到2005</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/26/2016 11:35:15<br /><p>2008转到2000的步骤 <br />
1. 生成for 2005版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="cc0d2a0c-2334-4022-96ab-bc05e0e9ac77.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/24/2016 08:31:41<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
<H2><a id="32af00f7-f795-49ef-bbeb-ceea34a6081e.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/10/2016 22:23:35<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="ea864080-0237-4c1a-948b-e09cdb74db00.html" href="#" onclick="return MenuChange(this);">BOM2</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/10/2016 13:27:08<br /><p>/*<br />
标题：SQL SERVER 2000中查询指定节点及其所有父节点的函数(字符串形式显示)<br />
作者：爱新觉罗·毓华(十八年风雨,守得冰山雪莲花开)  <br />
</p>
<H2><a id="fc07116c-d65b-43d2-be2f-2473b9605155.html" href="#" onclick="return MenuChange(this);">BCP</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/31/2016 06:37:06<br /><p>1) 使用BCP导出整个表或视图。 <br />
<br />
BCP AdventureWorks.sales.currency out c:\currency1.txt -c -U"sa" -P"password" --使用密码连接 <br />
</p>
<H2><a id="507d1e07-dfba-4917-9c8f-2b55e7030c48.html" href="#" onclick="return MenuChange(this);">BOM1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/18/2016 19:33:07<br /><p>--bom结构，查找节点下所有子节点：<br />
<br />
create table os(id int,parentid int,desn varchar(10))<br />
</p>
<H2><a id="3ca69daa-8f73-43a7-ae81-92403e672f18.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 12:18:34<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="46303521-90b2-4d96-97b0-4b24921b59d5.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/07/2016 20:23:35<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
<H2><a id="3aa2b320-4245-4228-b016-392e27739f56.html" href="#" onclick="return MenuChange(this);">BCPALL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/01/2016 19:56:32<br /><p><br />
IF object_id('usp_insert_PaymentTables') IS NOT NULL<br />
	   BEGIN <br />
</p>
<H2><a id="f2ee88ca-0e6b-497b-bd6c-54b1de248bc6.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/01/2016 07:52:34<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="3c22a96c-030d-4f42-8140-007ae3a6c8e8.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2016 12:52:00<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="ca22e793-72b8-4408-a96b-aaeb525a73ef.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/28/2016 06:17:03<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="8802948a-e051-4c8f-b0a5-cf3f6e0131c1.html" href="#" onclick="return MenuChange(this);">BCP DYNAMIC</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/27/2016 07:58:24<br /><p> <br />
 --BCP OUT<br />
 SELECT <br />
</p>
<H2><a id="a843191d-7989-4573-9627-138e4debf8c5.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/23/2016 14:24:30<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="3162ea0d-12f8-4f24-a50e-586640663e61.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/21/2016 21:44:34<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
