<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>动态sql语句基本语法</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:46<br />blog>><a  href="https://wzpabc.github.io?page=a1934fcd-0a91-4e05-b9d0-e59220190dab" >wzpabc.github.io?page=a1934fcd-0a91-4e05-b9d0-e59220190dab</a><p>1 :普通SQL语句可以用exec执行 <br />
<br />
Select * from tableName <br />
exec('select * from tableName') <br />
exec sp_executesql N'select * from tableName' -- 请注意字符串前一定要加N <br />
<br />
2:字段名，表名，数据库名之类作为变量时，必须用动态SQL <br />
<br />
declare @fname varchar(20) <br />
set @fname = 'FiledName' <br />
Select @fname from tableName -- 错误,不会提示错误，但结果为固定值FiledName,并非所要。 <br />
exec('select ' + @fname + ' from tableName') -- 请注意 加号前后的 单引号的边上加空格 <br />
<br />
当然将字符串改成变量的形式也可 <br />
declare @fname varchar(20) <br />
set @fname = 'FiledName' --设置字段名 <br />
<br />
declare @s varchar(1000) <br />
set @s = 'select ' + @fname + ' from tableName' <br />
exec(@s) -- 成功 <br />
exec sp_executesql @s -- 此句会报错 <br />
<br />
declare @s Nvarchar(1000) -- 注意此处改为nvarchar(1000) <br />
set @s = 'select ' + @fname + ' from tableName' <br />
exec(@s) -- 成功 <br />
exec sp_executesql @s -- 此句正确 <br />
<br />
3. 输出参数 <br />
declare @num int, @sqls nvarchar(4000) <br />
set @sqls='select count(*) from tableName' <br />
exec(@sqls) <br />
<br />
--如何将exec执行结果放入变量中？ <br />
<br />
declare @num int, @sqls nvarchar(4000) <br />
set @sqls='select @a=count(*) from tableName ' <br />
exec sp_executesql @sqls,N'@a int output',@num output <br />
select @num <br />
<br />
<br />
1 :普通SQL语句可以用Exec执行      例:      Select * from tableName <br />
                Exec('select * from tableName') <br />
                Exec sp_executesql N'select * from tableName'    -- 请注意字符串前一定要加N <br />
<br />
2:字段名，表名，数据库名之类作为变量时，必须用动态SQL <br />
<br />
    错误:       declare @fname varchar(20) <br />
                set @fname = 'FiledName' <br />
                Select @fname from tableName              -- 错误,不会提示错误，但结果为固定值FiledName,并非所要。<br />
    正确:      Exec('select ' + @fname + ' from tableName')     -- 请注意加号前后的单引号的边上加空格<br />
<br />
    当然将字符串改成变量的形式也可<br />
                declare @fname varchar(20) <br />
                set @fname = 'FiledName' --设置字段名<br />
<br />
                declare @s varchar(1000) <br />
                set @s = 'select ' + @fname + ' from tableName' <br />
                Exec(@s)                -- 成功<br />
                exec sp_executesql @s   -- 此句会报错<br />
<br />
              --注：@s参数必须为ntext或nchar或nvarchar类型,必须将declare @s varchar(1000) 改为declare @s Nvarchar(1000) <br />
<br />
<br />
<br />
               如下：<br />
                declare @s Nvarchar(1000) -- 注意此处改为nvarchar(1000) <br />
<br />
                set @fname = 'FiledName' --设置字段名<br />
                set @s = 'select ' + @fname + ' from tableName' <br />
                Exec(@s)                -- 成功    <br />
                exec sp_executesql @s   -- 此句正确<br />
<br />
3. 输入或输出参数<br />
<br />
      (1)输入参数:<br />
          declare @QueryString nvarchar(1000) --动态查询语句变量(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
          declare @paramstring nvarchar(200) --设置动态语句中的参数的字符串(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
          declare @input_id int--定义需传入动态语句的参数的值<br />
<br />
          set @QueryString='select * from tablename  where id=@id'  --id为字段名，@id为要传入的参数<br />
          set @paramstring='@id int' --设置动态语句中参数的定义的字符串<br />
          set @input_id =1  --设置需传入动态语句的参数的值为1<br />
          exec sp_executesql @querystring,@paramstring,@id=@input_id　　<br />
          若有多个参数:<br />
          declare @QueryString nvarchar(1000) --动态查询语句变量(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
          declare @paramstring nvarchar(200) --设置动态语句中的参数的字符串(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
          declare @input_id int--定义需传入动态语句的参数的值,参数1<br />
          declare @input_name varchar(20)--定义需传入动态语句的参数的值,参数2<br />
<br />
          set @QueryString='select * from tablename  where id=@id and name=@name'   --id与name为字段名，@id与@name为要传入的参数<br />
          set @paramstring='@id int,@name varchar(20)' --设置动态语句中参数的定义的字符串,多个参数用","隔开<br />
          set @input_id =1  --设置需传入动态语句的参数的值为1<br />
          set @input_name='张三'   --设置需传入动态语句的参数的值为"张三"<br />
          exec sp_executesql @querystring,@paramstring,@id=@input_id,@name=@input_name　--请注意参数的顺序<br />
     (2)输出参数<br />
             declare @num int, @sqls nvarchar(4000) <br />
            set @sqls='select count(*) from tableName' <br />
            exec(@sqls) <br />
        --如何将exec执行结果放入变量中？          <br />
        declare @QueryString nvarchar(1000) --动态查询语名变量(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
        declare @paramstring nvarchar(200) --设置动态语句中的参数的字符串(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
        declare @output_result int--查询结果赋给@output_result <br />
<br />
        set @QueryString='select @totalcount=count(*) from tablename' --@totalcount　为输出结果参数<br />
        set @paramstring='@totalcount int output' --设置动态语句中参数的定义的字符串,多个参数用","隔开<br />
        exec sp_executesql @querystring,@paramstring,@totalcount=@output_result output<br />
        select @output_result<br />
        当然，输入与输出参数可以一起使用，大家可以自己去试一试。<br />
        另外，动态语句查询的结果集要输出的话，我只想到以下用临时表的方法，不知各位有没有更好的方法.<br />
        IF object_id('[tempdb].[dbo].#tmp') IS NOT NULL --判断临时表#tmp是否存在,存在则删除<br />
            drop table #tmp<br />
        select * into #tmp from tablename where 1=2 --创建临时表#tmp,其结构与tablename相同<br />
<br />
        declare @QueryString nvarchar(1000) --动态查询语名变量(注：必须为ntext或nchar哐nvarchar类型，不能是varchar类型)<br />
        set @QueryString='select * from tablename '<br />
        insert into #tmp(field1,field2,...) exec(@querystirng) <br />
<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/a1934fcd-0a91-4e05-b9d0-e59220190dab.html" >https://wzpabc.github.io/Template/a1934fcd-0a91-4e05-b9d0-e59220190dab.html</a>
