<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>
	<span style="font-size: 16px;"> <strong>Napoleon Was
			Ill</strong></span>
</p>
<p>
	<span style="font-size: 16px;"><img src="/images/gif4.gif" >Jack had gone to the university
		to study history, but at the end of his first year, his history
		professor failed him in his examinations, and he was told that he
		would have to leave the university.<br /> However, his father decided that
		he would go to see the professor to urge him to let Jack continue his
		studies the following year.<br /></span>
</p>

<p>
	<span style="font-size: 16px;"> &quot;He&lsquo;s a good
		boy,&quot; said Jack&lsquo;s father, &quot;and if you let him pass
		this time, I&lsquo;m sure he&lsquo;ll improve a lot next year and pass
		the examinations at the end of it really well.&quot;</span>
</p>
<p>
	<span style="font-size: 16px;"> &quot;No, no, that&lsquo;s quite
		impossible,&quot; replied the professor immediately.<br /> &quot;Do you
		know, last month I asked him when Napoleon had died, he didn&lsquo;t
		know!&quot;</span>
</p>
<p>
	<span style="font-size: 16px;"> &quot;Please, sir, give him
		another chance,&quot; said Jack&lsquo;s father.<br /> &quot;You see,
		I&lsquo;m afraid we don&lsquo;t take any newspaper in our house, so
		none of us even know that Napoleon was ill.&quot;</span>
</p>

