<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>删除系统内所有用户表</h2><br /> 
uploaded by Patrick. 06/22/2016 15:30:49<br />blog>><a  href="https://wzpabc.github.io?page=b15ed6f3-72f5-41b1-ab8a-26f8d7344e35" >wzpabc.github.io?page=b15ed6f3-72f5-41b1-ab8a-26f8d7344e35</a><p>--删除所有用户表：<br />
--select * from sysobjects where xtype='U' and category=0<br />
use master<br />
declare @str varchar(max)<br />
set @str=''<br />
select @str=@str+' drop table '+quotename(name,'')+';'<br />
from sysobjects where xtype='U' and category=0 <br />
--and name not in('table','user','return','order','客户信息')<br />
print @str<br />
exec(@str)<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/b15ed6f3-72f5-41b1-ab8a-26f8d7344e35.html" >https://wzpabc.github.io/Template/b15ed6f3-72f5-41b1-ab8a-26f8d7344e35.html</a>
