<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>declare @rarcmd varchar(8000),@rarfile varchar(200),@bakfile varchar(200)<br />
set @rarfile='d:\aaa.txt'<br />
set @bakfile='d:\aaa.rar'<br />
set @rarcmd ='C:\WinRAR.exe a '+@bakfile+'  -ep1 '+@rarfile<br />
exec master..xp_cmdshell @rarcmd <br />
<br />
<br />
SELECT  <br />
SERVERPROPERTY('productversion'), <br />
SERVERPROPERTY ('productlevel'), <br />
SERVERPROPERTY ('edition')<br />
<br />
<br />
select value_in_use from sys.configurations where name='c2 audit mode'<br />
</p> 
uploaded by Patrick. 06/27/2016 14:32:44
