<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>1:replace 函数<br />
第一个参数你的字符串，第二个参数你想替换的部分，第三个参数你要替换成什么<br />
select replace('lihan','a','b')<br />
                                                                  <br />
-----------------------------<br />
lihbn<br />
<br />
（所影响的行数为 1 行）<br />
=========================================================<br />
2:substring函数<br />
第一个参数你的字符串，第二个是开始替换位置，第三个结束替换位置<br />
select substring('lihan',0,3);<br />
----- <br />
li<br />
<br />
（所影响的行数为 1 行）<br />
=========================================================<br />
3:charindex函数<br />
第一个参数你要查找的char，第二个参数你被查找的字符串 返回参数一在参数二的位置<br />
select  charindex('a','lihan')<br />
----------- <br />
4<br />
<br />
（所影响的行数为 1 行）<br />
<br />
===========================================================<br />
4：ASCII函数<br />
返回字符表达式中最左侧的字符的 ASCII 代码值。<br />
select ASCII('lihan')<br />
----------- <br />
108<br />
<br />
（所影响的行数为 1 行）<br />
<br />
================================================================<br />
5：nchar函数<br />
根据 Unicode 标准的定义，返回具有指定的整数代码的 Unicode 字符。<br />
参数是介于 0 与 65535 之间的正整数。如果指定了超出此范围的值，将返回 NULL。<br />
select nchar(3213)<br />
---- <br />
unicode字符<br />
<br />
（所影响的行数为 1 行）<br />
<br />
=========================================================<br />
6：soundex<br />
返回一个由四个字符组成的代码 (SOUNDEX)，用于评估两个字符串的相似性。<br />
SELECT SOUNDEX ('lihan'), SOUNDEX ('lihon');<br />
----- ----- <br />
L546  L542<br />
<br />
（所影响的行数为 1 行）<br />
=========================================================<br />
7：char<br />
参数为介于 0 和 255 之间的整数。如果该整数表达式不在此范围内，将返回 NULL 值。<br />
SELECT char(125)<br />
---- <br />
}<br />
<br />
（所影响的行数为 1 行）<br />
<br />
==========================================================<br />
8：str函数<br />
第一个参数必须为数字，第二个参数表示转化成char型占的位置，小于参数一位置返回*，大于右对齐<br />
SELECT str(12345,3)<br />
---- <br />
***<br />
<br />
（所影响的行数为 1 行）<br />
<br />
SELECT str(12345,12)<br />
------------ <br />
       12345<br />
<br />
（所影响的行数为 1 行）<br />
===========================================================<br />
9：difference函数<br />
返回一个整数值，指示两个字符表达式的 SOUNDEX 值之间的差异。<br />
返回的整数是 SOUNDEX 值中相同字符的个数。返回的值从 0 到 4 不等：0 表示几乎不同或完全不同，4 表示几乎相同或完全相同。<br />
SELECT difference('lihan','liha')<br />
----------- <br />
3<br />
<br />
（所影响的行数为 1 行）<br />
<br />
<br />
==================================================================<br />
10：stuff函数（四个参数）<br />
函数将字符串插入另一字符串。它在第一个字符串中从开始位置删除指定长度的字符；然后将第二个字符串插入第一个字符串的开始位置。<br />
SELECT stuff('lihan',2,3,'lihan')<br />
-------- <br />
llihann<br />
<br />
（所影响的行数为 1 行）<br />
===============================================================<br />
<br />
11：left函数<br />
返回最左边N个字符，由参数决定<br />
select left('lihan',4)<br />
----- <br />
liha<br />
<br />
（所影响的行数为 1 行）<br />
================================================================<br />
<br />
12 right函数<br />
返回最右边N个字符，由参数决定<br />
select right('lihan',4)<br />
----- <br />
ihan<br />
<br />
（所影响的行数为 1 行）<br />
================================================================<br />
<br />
13：replicate函数<br />
我的认为是把参数一复制参数二次<br />
select replicate('lihan',4)<br />
-------------------- <br />
lihanlihanlihanlihan<br />
<br />
（所影响的行数为 1 行）<br />
<br />
================================================================<br />
<br />
14：len函数<br />
返回参数长度<br />
select len('lihan')<br />
----------- <br />
5<br />
<br />
（所影响的行数为 1 行）<br />
<br />
<br />
================================================================<br />
15：reverse函数<br />
反转字符串<br />
select reverse('lihan')<br />
----- <br />
nahil<br />
<br />
（所影响的行数为 1 行）<br />
<br />
<br />
=================================================================<br />
<br />
16：lower和upper函数<br />
参数大小写转化<br />
select lower(upper('lihan'))<br />
-------------------- <br />
lihan<br />
<br />
（所影响的行数为 1 行）<br />
<br />
====================================================================<br />
<br />
17：ltrim和rtrim函数<br />
删除左边空格和右面空格<br />
select ltrim('    lihan                 ')<br />
-------------------------- <br />
lihan                 <br />
<br />
（所影响的行数为 1 行）<br />
select rtrim('    lihan')<br />
--------- <br />
    lihan<br />
<br />
（所影响的行数为 1 行）<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:19:09
