<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL Server数据库查询速度慢的原因有很多，常见的有以下几种： <br />
<br />
　　　　1、没有索引或者没有用到索引(这是查询慢最常见的问题，是程序设计的缺陷)<br />
　　　　2、I/O吞吐量小，形成了瓶颈效应。<br />
　　　　3、没有创建计算列导致查询不优化。<br />
　　　　4、内存不足<br />
　　　　5、网络速度慢<br />
　　　　6、查询出的数据量过大（可以采用多次查询，其他的方法降低数据量）<br />
　　　　7、锁或者死锁(这也是查询慢最常见的问题，是程序设计的缺陷)<br />
　　　　8、sp_lock,sp_who,活动的用户查看,原因是读写竞争资源。<br />
　　　　9、返回了不必要的行和列<br />
　　　　10、查询语句不好，没有优化 <br />
<br />
　　●可以通过以下方法来优化查询 : <br />
<br />
　　1、把数据、日志、索引放到不同的I/O设备上，增加读取速度，以前可以将Tempdb应放在RAID0上，SQL2000不在支持。数据量（尺寸）越大，提高I/O越重要。 <br />
<br />
　　2、纵向、横向分割表，减少表的尺寸(sp_spaceuse) <br />
<br />
　　3、升级硬件 <br />
<br />
　　4、根据查询条件,建立索引,优化索引、优化访问方式，限制结果集的数据量。注意填充因子要适当（最好是使用默认值0）。索引应该尽量小，使用字节数小的列建索引好（参照索引的创建）,不要对有限的几个值的字段建单一索引如性别字段。 <br />
<br />
　　5、提高网速。 <br />
<br />
　　6、扩大服务器的内存,Windows 2000和SQL server 2000能支持4-8G的内存。 <br />
<br />
　　配置虚拟内存：虚拟内存大小应基于计算机上并发运行的服务进行配置。运行 Microsoft SQL Server? 2000时，可考虑将虚拟内存大小设置为计算机中安装的物理内存的1.5倍。如果另外安装了全文检索功能，并打算运行Microsoft搜索服务以便执行全文索引和查询，可考虑：将虚拟内存大小配置为至少是计算机中安装的物理内存的3倍。将SQL Server max server memory服务器配置选项配置为物理内存的1.5倍（虚拟内存大小设置的一半）。 <br />
<br />
　　7、增加服务器CPU个数;但是必须 明白并行处理串行处理更需要资源例如内存。使用并行还是串行程是MSSQL自动评估选择的。单个任务分解成多个任务，就可以在处理器上运行。例如耽搁查询 的排序、连接、扫描和GROUP BY字句同时执行，SQL SERVER根据系统的负载情况决定最优的并行等级，复杂的需要消耗大量的CPU的查询最适合并行处理。但是更新操作UPDATE,INSERT， DELETE还不能并行处理。 <br />
<br />
　　8、如果是使用like进行查询的话，简单的使用index是不行的，但是全文索引，耗空间。 like ''a%'' 使用索引 like ''%a'' 不使用索引用 like ''%a%'' 查询时，查询耗时和字段值总长度成正比,所以不能用CHAR类型，而是VARCHAR。对于字段的值很长的建全文索引。 <br />
<br />
　　9、DB Server 和APPLication Server 分离；OLTP和OLAP分离 <br />
<br />
　　10、分布式分区视图可用于实现数据库服务器联合体。 <br />
<br />
　　联合体是一组分开管理的服务器，但它们相互协作分担系统的处理负荷。这种通过分区数据形成数据库服务器联合体的机制能够扩大一组服务器，以支持大型的多层 Web 站点的处理需要。有关更多信息，参见设计联合数据库服务器。（参照SQL帮助文件''分区视图''） <br />
<br />
　　a、在实现分区视图之前，必须先水平分区表 <br />
<br />
　　b、 在创建成员表后，在每个成员服务器上定义一个分布式分区视图，并且每个视图具有相同的名称。这样，引用分布式分区视图名的查询可以在任何一个成员服务器上 运行。系统操作如同每个成员服务器上都有一个原始表的复本一样，但其实每个服务器上只有一个成员表和一个分布式分区视图。数据的位置对应用程序是透明的。 <br />
<br />
　　11、重建索引 DBCC REINDEX ,DBCC INDEXDEFRAG,收缩数据和日志 DBCC SHRINKDB,DBCC SHRINKFILE. 设置自动收缩日志.对于大的数据库不要设置数据库自动增长，它会降低服务器的性能。 <br />
<br />
　　在T-sql的写法上有很大的讲究，下面列出常见的要点：首先，DBMS处理查询计划的过程是这样的： <br />
<br />
　　　　1、 查询语句的词法、语法检查<br />
　　　　2、 将语句提交给DBMS的查询优化器<br />
　　　　3、 优化器做代数优化和存取路径的优化<br />
　　　　4、 由预编译模块生成查询规划<br />
　　　　5、 然后在合适的时间提交给系统处理执行<br />
　　　　6、 最后将执行结果返回给用户。 <br />
<br />
　　其次，看一下SQL SERVER的数据存放的结构：一个页面的大小为8K(8060)字节，8个页面为一个盘区，按照B树存放。 <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
