<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
<H2><a id="6d43ae98-7a44-4f70-82f5-9cd5e064e43b.html" href="#" onclick="return MenuChange(this);">经典代码</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/16/2014 15:29:24<br /><p>if object_id('[tb]') is not null drop table [tb] <br />
go <br />
create table [tb]([value1] int,[value2] int) <br />
</p>
<H2><a id="5ac8becd-81eb-43e5-97b1-e5d04a725744.html" href="#" onclick="return MenuChange(this);">查询指定节点及其所有子节点</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/30/2014 15:15:05<br /><p>create table tb(id varchar(3) , pid varchar(3) , name varchar(10)) <br />
insert into tb values('001' , null  , '广东省') <br />
insert into tb values('002' , '001' , '广州市') <br />
</p>
<H2><a id="0fd076e8-f057-4ade-b315-be187e21f152.html" href="#" onclick="return MenuChange(this);">自增列的处理</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/27/2014 15:20:06<br /><p>--创建测试表<br />
CREATE TABLE t1(ID int IDENTITY,A int)<br />
GO<br />
</p>
<H2><a id="7c199d6a-f7ea-42de-bec8-af144e02db76.html" href="#" onclick="return MenuChange(this);">小计合计的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/17/2014 15:21:16<br /><p>create table #t(a int,b int,c int,d int,e int) <br />
insert into #t values(1,2,3,4,5) <br />
insert into #t values(1,2,3,4,6) <br />
</p>
<H2><a id="3c22a96c-030d-4f42-8140-007ae3a6c8e8.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/10/2014 15:23:08<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
<H2><a id="453d102d-9336-436a-9973-fafdc71cd57e.html" href="#" onclick="return MenuChange(this);">自动生成测试代码(石头）</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/31/2014 15:20:01<br /><p>set nocount on<br />
go<br />
--处理当前串中的空格，对时分秒的处理<br />
</p>
<H2><a id="f6d0a3f5-dc5c-428b-bb7c-542412ba72f6.html" href="#" onclick="return MenuChange(this);">SQL经典算法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/25/2014 15:17:18<br /><p>---------------------------------<br />
--  Author: htl258(Tony)<br />
--  Date  : 2009-08-05 23:13:42<br />
</p>
<H2><a id="ff15040d-f7e6-4880-b45f-5cfd7433cb53.html" href="#" onclick="return MenuChange(this);">删除数据库中所有外键约束</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/24/2014 15:25:35<br /><p>CREATE PROCEDURE sp_drop_all_fk   <br />
  <br />
as  <br />
</p>
<H2><a id="440d6799-7f3c-4622-b0d0-3dbb1ab146d0.html" href="#" onclick="return MenuChange(this);">SQL转EXCEL</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/01/2014 15:21:42<br /><p>SQL SERVER 和EXCEL的数据导入导出<br />
1、在SQL SERVER里查询Excel数据:<br />
-- ======================================================<br />
</p>
<H2><a id="a214408c-6b26-4ab2-ad36-e719790646e2.html" href="#" onclick="return MenuChange(this);">合并拆分表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/29/2014 15:21:03<br /><p>/****************************************************************************************************************************************************** <br />
合并分拆表数据 <br />
<br />
</p>
<H2><a id="b31bb5d6-f875-487b-82ec-b3519926f009.html" href="#" onclick="return MenuChange(this);">PerfTuningWithSQLServerDMVs_DavidsonFord_scripts</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/28/2014 15:25:19<br /><p>/* Complete Code Listing for "Performance Tuning with<br />
SQL Server DMVs" by Tim Ford and Louis Davidson<br />
<br />
</p>
<H2><a id="b1013cb7-407c-41aa-8236-e94dda2c9c4a.html" href="#" onclick="return MenuChange(this);">Transact-SQL语句导入导出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/27/2014 15:22:34<br /><p>Transact-SQL语句进行导入导出：<br />
<br />
1.在SQL SERVER里查询access数据:<br />
</p>
<H2><a id="70176e8a-1d60-4729-ac49-4a74884b1d8d.html" href="#" onclick="return MenuChange(this);">系统数据库中查询表的所有字段以及描述（2008，2000区分）以及查询表的外键</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/13/2014 15:07:26<br /><p>/**************************<br />
系统数据库中查询表的所有字段以及描述（2008，2000区分）以及查询表的外键<br />
<br />
</p>
<H2><a id="eb390fc2-3829-4cc5-99a5-d91c098b07a0.html" href="#" onclick="return MenuChange(this);">不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/02/2014 15:23:03<br /><p>--不同服务器数据库之间的数据操作<br />
--************************************************************************************<br />
1、--创建链接服务器 <br />
</p>
<H2><a id="7f9995dc-3119-4e8e-a778-2317fddde385.html" href="#" onclick="return MenuChange(this);">MSSQL計算表達式的值常見解決方案</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/25/2014 15:14:38<br /><p>--> Title  : MSSQL計算表達式的值常見解決方案<br />
<br />
--> Author : wufeng4552<br />
</p>
<H2><a id="4fb394f9-0978-45fb-a59e-a388020a71d7.html" href="#" onclick="return MenuChange(this);">SQL Select语句完整的执行顺序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/20/2014 15:27:44<br /><p>SQL Select语句完整的执行顺序： <br />
<br />
1、from子句组装来自不同数据源的数据； <br />
</p>
<H2><a id="2c604e1a-1f18-4bc5-942b-f84af8baacb7.html" href="#" onclick="return MenuChange(this);">笔记二</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2014 15:09:42<br /><p>---查询索引操作的信息<br />
select * from sys.dm_db_index_usage_stats<br />
<br />
</p>
<H2><a id="31772079-939f-4a0c-b506-10877ca4fb85.html" href="#" onclick="return MenuChange(this);">行转列</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/13/2014 15:32:45<br /><p>表a <br />
name    num <br />
aa      1 <br />
</p>
<H2><a id="9f54f836-8947-4574-bc89-8bf34713bde6.html" href="#" onclick="return MenuChange(this);">SQL Server 2000连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/10/2014 15:21:00<br /><p>SQL Server 2000连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p>
<H2><a id="b28f19dd-bcce-46f2-bf68-9e51929c0fea.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (7)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/01/2014 15:33:37<br /><p>declare @rarcmd varchar(8000),@rarfile varchar(200),@bakfile varchar(200)<br />
set @rarfile='d:\aaa.txt'<br />
set @bakfile='d:\aaa.rar'<br />
</p>
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
