<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
<H2><a id="8375d3e8-78b9-41e2-9b66-695dc26f7b89.html" href="#" onclick="return MenuChange(this);">库存先进先出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/15/2011 15:21:24<br /><p>--库存先进先出简单例子：<br />
<br />
create table t(<br />
</p>
<H2><a id="7f90f74a-6518-4a1f-bef3-20ac5fed343e.html" href="#" onclick="return MenuChange(this);">如何向一个自增字段插值？</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/07/2011 15:18:39<br /><p>--1、create table tablename(id int identity(1,1))go<br />
insert into tablename default values<br />
go<br />
</p>
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
