<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
<H2><a id="5750d746-7558-4fbf-a345-0ce7c7482159.html" href="#" onclick="return MenuChange(this);">检查给定串是否存在于由区间及点集的给合内</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:34:20<br /><p>------------------------------------<br />
<br />
-- Author: happyflystone   <br />
</p>
<H2><a id="8ad0752a-c528-4b6b-894c-de735b190f16.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:21:50<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="f93a6d9a-a873-421a-819d-a3ebf9ab4473.html" href="#" onclick="return MenuChange(this);">如何利用日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/05/2013 15:35:44<br /><p>/*--说明：<br />
下面的代码演示了如何利用日志还原功能，将主数据库中的数据变化及时反馈到备用数据库中<br />
备用数据库的数据可以随时用于查询，但不能被更新（备用数据库只读）。<br />
</p>
<H2><a id="07088bfa-4280-474e-b5c7-194cc012ea61.html" href="#" onclick="return MenuChange(this);">笔记六</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/21/2013 15:14:30<br /><p>--SQL 2008使用空间数据<br />
<br />
SQL SERVER 2008支持两种空间数据类型，geometry和geography.其中geometry数据类型支持平面或平面球数据,geography可用于存储GPS经度和纬度坐标等椭球体数据。<br />
</p>
<H2><a id="f175553f-d67f-4699-9e2a-fc0fc9721ffd.html" href="#" onclick="return MenuChange(this);">如何给MS SQL数据库减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2013 15:30:32<br /><p>--最好备份日志，以后可通过日志恢复数据。。。<br />
以下为日志处理方法<br />
一般不建议做第4,6两步<br />
</p>
<H2><a id="8ff648a2-f3fb-4179-8151-2e2299cec9e3.html" href="#" onclick="return MenuChange(this);">数据库笔记2</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2013 15:15:05<br /><p>1、说明：复制表(只复制结构,源表名：a 新表名：b) (Access可用) <br />
法一：select * into b from a where 1 <>1 <br />
法二：select top 0 * into b from a <br />
</p>
<H2><a id="49fabf8d-6730-4433-851a-52c8c295072c.html" href="#" onclick="return MenuChange(this);">拼音处理</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/10/2013 15:16:51<br /><p>/*-1.-获得汉字字符串的首字母<br />
<br />
   根据大力的贴子改成.将大力的两个函数合并成了一个函数.<br />
</p>
<H2><a id="f8f86f67-02be-497c-8a05-10441cc81e3f.html" href="#" onclick="return MenuChange(this);">动态sql语句用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/05/2013 15:25:28<br /><p>--动态语句语法<br />
/******************************************************************************************************************************************************<br />
动态语句语法:exec\sp_executesql语法<br />
</p>
<H2><a id="76e5739e-b093-4502-aae9-0cca53a5fbcf.html" href="#" onclick="return MenuChange(this);">字符串的拆分 (2)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/19/2013 15:21:14<br /><p>　　use tempdb<br />
　　go<br />
　　--测试数据<br />
</p>
<H2><a id="0b2e0a11-dc58-46a5-b704-cc2ba0091a88.html" href="#" onclick="return MenuChange(this);">如何删除 SQL2005 过期的数据库备份文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/18/2013 15:31:36<br /><p>-- 如何删除 SQL2005 过期的数据库备份文件呢？ <br />
<br />
在 SQL2005 数据库中，不可以自动删除过期的备份文件，所以借用第三方插件完成此功能。 <br />
</p>
<H2><a id="28aa772d-dcf4-48c1-ab6a-bdcd0ee44a65.html" href="#" onclick="return MenuChange(this);">全文索引</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/09/2013 15:30:28<br /><p>-------------开启全文索引和创建全文索引目录<br />
exec sp_fulltext_database 'enable'<br />
--exec sp_fulltext_catalog 'gf_ft','drop'<br />
</p>
<H2><a id="8b7397ed-8c23-4d9c-8369-5bd5ea86965e.html" href="#" onclick="return MenuChange(this);">BigData</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/03/2013 15:21:47<br /><p>select loginame, * from master.dbo.sysprocesses<br />
where spid>50<br />
order by 1 <br />
</p>
<H2><a id="c0a01bcb-f377-49c1-9f15-1e16b39c14b4.html" href="#" onclick="return MenuChange(this);">存储过程调用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/09/2013 15:26:09<br /><p>第一种方法: 使用output参数<br />
<br />
USE AdventureWorks;<br />
</p>
<H2><a id="da0ad5c0-f9c7-4ce1-9b01-f89983df1a4c.html" href="#" onclick="return MenuChange(this);">SQL SERVER 2005 同步复制技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/06/2013 15:17:10<br /><p>SQL SERVER 2005 同步复制技术<br />
<br />
以下实现复制步骤（以快照复制为例） <br />
</p>
<H2><a id="c4dd4600-5e63-4f69-848c-ae384c4ab451.html" href="#" onclick="return MenuChange(this);">排序问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/04/2013 15:10:41<br /><p>排序问题 <br />
<br />
CREATE TABLE [t] ( <br />
</p>
<H2><a id="8aa58b1c-8bce-44a2-aee3-e55e23e44675.html" href="#" onclick="return MenuChange(this);">sql之left join、right join、inner join的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/01/2013 15:09:30<br /><p>left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录 <br />
right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录<br />
inner join(等值连接) 只返回两个表中联结字段相等的行<br />
</p>
<H2><a id="ad2ec0eb-edd2-44fa-9f3f-92988c6f85dd.html" href="#" onclick="return MenuChange(this);">给TEMP减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/15/2013 15:13:58<br /><p>SQL Server会自动创建一个名为tempdb的数据库作为工作空间使用，当您在存储过程中创建一个临时表格时，比如(CREATE TABLE #MyTemp)，无论您正在使用哪个数据库，SQL数据库引擎都会将这个表格创建在tempdb数据库中。<br />
<br />
<br />
</p>
<H2><a id="24558145-13b6-4694-abb4-a6ede554b83d.html" href="#" onclick="return MenuChange(this);">全文索引1</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/24/2013 15:22:18<br /><p>create   table   testIndex <br />
( <br />
          id   int   identity(1,1)   primary   key, <br />
</p>
<H2><a id="16833211-0076-445a-aa30-b46609e0985c.html" href="#" onclick="return MenuChange(this);">自动生成存储过程格式</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/21/2013 15:26:37<br /><p>SET QUOTED_IDENTIFIER ON<br />
SET ANSI_NULLS ON<br />
GO<br />
</p>
<H2><a id="075b0095-a103-4989-b26c-3be550b7bf7d.html" href="#" onclick="return MenuChange(this);">如何用SQL语句在两个数据库间复制存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2013 15:24:50<br /><p>--1.在目标服务器上建立如下对象(被同步的服务器)   <br />
    <br />
  if   exists   (select   *   from   dbo.sysobjects   where   id   =   object_id(N'[sys_syscomments_bak]')   and   OBJECTPROPERTY(id,   N'IsUserTable')   =   1)   <br />
</p>
<a id="BigData-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="BigData-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="BigData-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="BigData-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="BigData-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="BigData-6.html" href="#" onclick="return MenuChange(this);">6</a>|<a id="BigData-7.html" href="#" onclick="return MenuChange(this);">7</a>|<a id="BigData-8.html" href="#" onclick="return MenuChange(this);">8</a>|<a id="BigData-9.html" href="#" onclick="return MenuChange(this);">9</a>|<a id="BigData-10.html" href="#" onclick="return MenuChange(this);">10</a>
