<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="22c0cf8a-07b6-47b1-ac2c-012b594c12c4.html" href="#" onclick="return MenuChange(this);">MS SQL SERVER数据库置疑后恢复步骤</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>MS SQL SERVER数据库置疑后恢复步骤 <br />
--SQL SERVER数据库置疑后恢复步骤   <br />
--1． 恢复步骤：   <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="f1725577-c9d8-42e0-8dac-0674ca244074.html" href="#" onclick="return MenuChange(this);">CTE实现递归</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>USE tempdb<br />
GO<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="768a9fa1-4d3d-41d8-ae93-1064cef713b7.html" href="#" onclick="return MenuChange(this);">SQL2000同步复制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQLServer2000同步复制技术实现步骤<br />
作者:gaojier 日期:2007-06-25<br />
字体大小: 小 中 大 <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="8b6ba626-c0c5-4034-9e67-10a708cc71c0.html" href="#" onclick="return MenuChange(this);">SQL备份与还原经典文档</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>====================================================================== <br />
SQL备份 <br />
====================================================================== <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="69b5d49b-e969-4308-bf93-1133b951c844.html" href="#" onclick="return MenuChange(this);">SQL 多列取最大或者最小值</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/*<br />
<br />
lvl1  lvl2    lvl3    lvl4    lvl <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="e7342710-f7d9-4318-8538-137e3e5729e3.html" href="#" onclick="return MenuChange(this);">事务、阻塞、统计信息</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--监控当前正在运行的事务<br />
SELECT  ST.transaction_id AS TransactionID ,<br />
        DB_NAME(DT.database_id) AS DatabaseName ,<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="7afd44e3-c6ed-446f-a9c9-144a411ce38a.html" href="#" onclick="return MenuChange(this);">Sql server表值函数</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>Sql server表值函数<br />
关键字: sql server, 表值函数 <br />
Sql server 的表值函数是返回一个Table类型,table类型相当与一张存储在内存中的一张虚拟表。<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="bcfcdf7a-9cc2-4a87-8ab2-15415eadabd9.html" href="#" onclick="return MenuChange(this);">SQL2005更改排序规则</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>请问怎么更改排序规则呢 <br />
<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="a8c52bcb-9b2f-47f8-b6aa-2325595aa52d.html" href="#" onclick="return MenuChange(this);">使用聚集索引和非聚集索引的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>使用聚集索引和非聚集索引的区别<br />
使用聚集索引 <br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="8bf91656-a078-439a-824d-27bab93e9216.html" href="#" onclick="return MenuChange(this);">sql server2005安全管理之用户、角色、架构 与 权限 </a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>sql server2005安全管理之用户、角色、架构 与 权限 <br />
2008-12-04 16:47 <br />
--打开数据库 <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="ceee7296-e250-46ff-9a9e-3967a8f84e96.html" href="#" onclick="return MenuChange(this);">BOM查找父结点和子结</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>-->Title:Generating test data<br />
-->Author:wufeng4552<br />
-->Date :2009-09-30 08:52:38<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="ea609ae8-2107-4392-812b-3ddc2fae4697.html" href="#" onclick="return MenuChange(this);">IO</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--监控SQLServer实例上的日志文件和数据文件<br />
SELECT  DB_NAME(VFS.database_id) AS DatabaseName ,<br />
        MF.name AS LogicalFileName ,<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="60393c87-e168-43a0-a94d-447b4564c173.html" href="#" onclick="return MenuChange(this);">SQL2005下利用XML进行项目的合并与拆分</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL2005下利用XML进行项目的合并与拆分<br />
　　通常情况下我们对相同项目进分组求和，那是相当的简单啦，只要select.. group by加聚合函数就行了，可是对于串一类的项目进行合并时就不这么简单了，同样分解一个按指定分隔符分隔的串或分析指定位置的串，在2000下我们通常是创建一个函数，然后分组或提取就行了，现我们主要讨论在2005下利用xml来完成这个工作。<br />
　　1、先来一个简单点，如下的例子对aaa相同的项目合并。<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="3da5f244-56fd-4863-848a-480cc979b939.html" href="#" onclick="return MenuChange(this);">SQL2008 Merge关键字用法与简例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--------------------------------------------------------------------------<br />
<br />
--  Author : htl258(Tony)<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="fd600517-6518-4414-b3a4-58bd3f7e38d3.html" href="#" onclick="return MenuChange(this);">SQL备份和还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>备份<br />
BACKUP DATABASE text<br />
to disk='c:\11.bak' with init<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="5e3693bb-c638-495f-ba24-592eb0742997.html" href="#" onclick="return MenuChange(this);">SQL 性能调优综述</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>近期因工作需要，希望比较全面的总结下SQL SERVER数据库性能优化相关的注意事项，在网上搜索了一下,发现很多文章,有的都列出了上百条,但是仔细看发现，有很多似是而非或者过时(可能对SQL SERVER6.5以前的版本或者ORACLE是适用的)的信息，只好自己根据以前的经验和测试结果进行总结了。<br />
<br />
我始终认为，一个系统的性能的提高，不单单是试运行或者维护阶段的性能调优的任务，也不单单是开发阶段的事情，而是在整个软件生命周期都需要注意，进行有效工作才能达到的。所以我希望按照软件生命周期的不同阶段来总结数据库性能优化相关的注意事项。<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="b7e5dee7-31a7-4276-abc4-5f9927207973.html" href="#" onclick="return MenuChange(this);">SQL优化</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL Server数据库查询速度慢的原因有很多，常见的有以下几种： <br />
<br />
　　　　1、没有索引或者没有用到索引(这是查询慢最常见的问题，是程序设计的缺陷)<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="468cc877-0379-4050-a5d4-62f604bfa688.html" href="#" onclick="return MenuChange(this);">作业</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>---2000<br />
企业管理器<br />
--管理<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="0f245f81-f67f-4675-895b-65efbe8c7303.html" href="#" onclick="return MenuChange(this);">SQL SERVER 数据库实用SQL语句</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>【SQL SERVER 数据库实用SQL语句】 <br />
<br />
1.按姓氏笔画排序: <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="41882f38-5205-404f-bdef-68fc76d16489.html" href="#" onclick="return MenuChange(this);">使用PARSENAME拆分字符串</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>DECLARE @T TABLE<br />
(<br />
 COL VARCHAR(80)<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="94b3cefb-9fc3-4286-8099-6d9698e9b9cf.html" href="#" onclick="return MenuChange(this);">BOM结构</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>CREATE TABLE BOM(PID INT,ID INT)<br />
INSERT INTO BOM SELECT 801,101<br />
INSERT INTO BOM SELECT 801,102<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="afba7fb7-f769-492e-8753-762d8574d24f.html" href="#" onclick="return MenuChange(this);">SQL2008 Merge关键字用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--------------------------------------------------------------------------<br />
<br />
--  Author : htl258(Tony)<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="6e8a9a20-c7df-4b19-8906-8507c167b021.html" href="#" onclick="return MenuChange(this);">XML在T－SQL查询中的典型应用</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/*<br />
SQLServer2005 XML在T－SQL查询中的典型应用<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="25e4ef2e-fa0b-4874-b355-91a4525eb2fd.html" href="#" onclick="return MenuChange(this);">EXEC和sp_executesql的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>MSSQL为我们提供了两种动态执行SQL语句的命令，分别是EXEC和sp_executesql;通常,sp_executesql则更具有优势，它 提供了输入输出接口，而EXEC没有。还有一个最大的好处就是利用sp_executesql，能够重用执行计划，这就大大提供了执行性能(对于这个我在 后面的例子中会详加说明)，还可以编写更安全的代码。EXEC在某些情况下会更灵活。除非您有令人信服的理由使用EXEC，否侧尽量使用 sp_executesql.<br />
<br />
1,EXEC的使用<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="2cf51fbf-8176-410e-8d7d-930803e71762.html" href="#" onclick="return MenuChange(this);">sql 查询慢的48个原因分析</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>sql 查询慢的48个原因分析。<br />
<br />
　　查询速度慢的原因很多，常见如下几种：<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="276765f8-9fd9-49fd-ae2b-a42585d7c919.html" href="#" onclick="return MenuChange(this);">JOIN的用法</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>DECLARE <br />
@TA TABLE (IDA INT,VA VARCHAR(10))<br />
DECLARE<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="d1b2fac9-2273-40f6-a8b5-a77e948bd909.html" href="#" onclick="return MenuChange(this);">Bulk Insert (2)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/************************************************************************************************<br />
                          乌龟代码<br />
*************************************************************************************************/<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="847e875d-f9be-44cc-9317-aa0946da585d.html" href="#" onclick="return MenuChange(this);">SQL优先级</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>(8)SELECT (9)DISTINCT (11)<TOP_specification> <select_list><br />
(1)FROM <left_table><br />
(3)    <join_type> JOIN <right_table><br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="1d8b351a-7bd9-4f1b-8228-addfb24f37d6.html" href="#" onclick="return MenuChange(this);">SQL数据库加密</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>转贴自teched讲师:  牛可  <br />
<br />
基本概念:<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="49ff2b8d-881b-4293-87e7-b704a49407bb.html" href="#" onclick="return MenuChange(this);">使用Log Explorer查看和恢复数据</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>使用Log Explorer查看和恢复数据 <br />
<br />
Log Explorer 4.1.可用于SQL Server2005的日志查看工具<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="0b27bca5-7668-4474-8c4f-b94f9251163e.html" href="#" onclick="return MenuChange(this);">SQL SERVER数据库置疑后恢复步骤</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--常规SQL SERVER数据库置疑后恢复步骤   <br />
--1． 恢复步骤：   <br />
--a.将smlog_log.ldf文件备份到其它目录下；   <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="1c83e627-771c-439d-a5fd-c1c3fff6188d.html" href="#" onclick="return MenuChange(this);">BOM深度广度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>if object_id('[tb]') is not null drop table [tb]<br />
go<br />
create table [tb]([modeid] int,modename varchar(20),parentid int)<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="f2b8f1e4-c4bc-4f49-be96-cfeac2d59f5f.html" href="#" onclick="return MenuChange(this);">不同服务器不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/*不同服务器数据库之间的数据操作*/<br />
<br />
--创建链接服务器 <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="da313740-5543-400e-bf02-d05a3cf5ea71.html" href="#" onclick="return MenuChange(this);">SQL复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL复制表结构的通用存储过程 <br />
 <br />
-- Transfer对象的重要属性<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="b780f9ce-c42f-4ca1-82bf-d1c77d707541.html" href="#" onclick="return MenuChange(this);">SQL2005的安装问题汇总</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL2005的安装问题汇总<br />
SQL2005 分五个版本，如下所列，<br />
　　1.Enterprise(企业版), <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="d7b26551-adbf-4708-890d-d55a84c3bd30.html" href="#" onclick="return MenuChange(this);">SQL事务日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL事务日志还原实例 收藏 <br />
USE master<br />
GO<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="eb390fc2-3829-4cc5-99a5-d91c098b07a0.html" href="#" onclick="return MenuChange(this);">不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--不同服务器数据库之间的数据操作<br />
--************************************************************************************<br />
1、--创建链接服务器 <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="8ad0752a-c528-4b6b-894c-de735b190f16.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="a9575a19-7681-4ca6-aa9b-e43dc7e3a6e5.html" href="#" onclick="return MenuChange(this);">sql xml 入门</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/*<br />
sql xml 入门:<br />
    --by jinjazz<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="8aa58b1c-8bce-44a2-aee3-e55e23e44675.html" href="#" onclick="return MenuChange(this);">sql之left join、right join、inner join的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录 <br />
right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录<br />
inner join(等值连接) 只返回两个表中联结字段相等的行<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="eabb7c4f-730b-45c1-8399-eba813155cfd.html" href="#" onclick="return MenuChange(this);">SQL Server连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL Server连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="9f4183f9-6e92-4f18-84a6-ebffbc6a62b3.html" href="#" onclick="return MenuChange(this);">Bulk Insert</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>/************************************************************************************************<br />
                          乌龟代码<br />
*************************************************************************************************/<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="77301e40-e5c4-43ba-b40f-f4a725ef5c53.html" href="#" onclick="return MenuChange(this);">BOM按节点排序应用实例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>BOM按节点排序应用实例 <br />
--------------------------------------------------------------------------<br />
<br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
<H2><a id="da0ad5c0-f9c7-4ce1-9b01-f89983df1a4c.html" href="#" onclick="return MenuChange(this);">SQL SERVER 2005 同步复制技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>SQL SERVER 2005 同步复制技术<br />
<br />
以下实现复制步骤（以快照复制为例） <br />
</p> 
uploaded by Patrick. 06/27/2016 14:36:49
