<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="a9575a19-7681-4ca6-aa9b-e43dc7e3a6e5.html" href="#" onclick="return MenuChange(this);">sql xml 入门</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/23/2016 20:03:41<br /><p>/*<br />
sql xml 入门:<br />
    --by jinjazz<br />
</p>
<H2><a id="77301e40-e5c4-43ba-b40f-f4a725ef5c53.html" href="#" onclick="return MenuChange(this);">BOM按节点排序应用实例</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/18/2016 18:59:29<br /><p>BOM按节点排序应用实例 <br />
--------------------------------------------------------------------------<br />
<br />
</p>
<H2><a id="9f4183f9-6e92-4f18-84a6-ebffbc6a62b3.html" href="#" onclick="return MenuChange(this);">Bulk Insert</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/14/2016 08:05:08<br /><p>/************************************************************************************************<br />
                          乌龟代码<br />
*************************************************************************************************/<br />
</p>
<H2><a id="8ad0752a-c528-4b6b-894c-de735b190f16.html" href="#" onclick="return MenuChange(this);">BOM循环</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/03/2016 04:45:32<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
create table [tb] (id int,name varchar(1),pid int)<br />
insert into [tb]<br />
</p>
<H2><a id="1c83e627-771c-439d-a5fd-c1c3fff6188d.html" href="#" onclick="return MenuChange(this);">BOM深度广度排序</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/02/2016 15:25:51<br /><p>if object_id('[tb]') is not null drop table [tb]<br />
go<br />
create table [tb]([modeid] int,modename varchar(20),parentid int)<br />
</p>
<H2><a id="da0ad5c0-f9c7-4ce1-9b01-f89983df1a4c.html" href="#" onclick="return MenuChange(this);">SQL SERVER 2005 同步复制技术</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/28/2016 09:57:12<br /><p>SQL SERVER 2005 同步复制技术<br />
<br />
以下实现复制步骤（以快照复制为例） <br />
</p>
<H2><a id="8aa58b1c-8bce-44a2-aee3-e55e23e44675.html" href="#" onclick="return MenuChange(this);">sql之left join、right join、inner join的区别</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/22/2016 21:53:27<br /><p>left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录 <br />
right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录<br />
inner join(等值连接) 只返回两个表中联结字段相等的行<br />
</p>
<H2><a id="eb390fc2-3829-4cc5-99a5-d91c098b07a0.html" href="#" onclick="return MenuChange(this);">不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 12:11:49<br /><p>--不同服务器数据库之间的数据操作<br />
--************************************************************************************<br />
1、--创建链接服务器 <br />
</p>
<H2><a id="b780f9ce-c42f-4ca1-82bf-d1c77d707541.html" href="#" onclick="return MenuChange(this);">SQL2005的安装问题汇总</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/12/2016 10:14:43<br /><p>SQL2005的安装问题汇总<br />
SQL2005 分五个版本，如下所列，<br />
　　1.Enterprise(企业版), <br />
</p>
<H2><a id="f2b8f1e4-c4bc-4f49-be96-cfeac2d59f5f.html" href="#" onclick="return MenuChange(this);">不同服务器不同服务器数据库之间的数据操作</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/11/2016 13:19:38<br /><p>/*不同服务器数据库之间的数据操作*/<br />
<br />
--创建链接服务器 <br />
</p>
<H2><a id="da313740-5543-400e-bf02-d05a3cf5ea71.html" href="#" onclick="return MenuChange(this);">SQL复制表结构的通用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 22:32:39<br /><p>SQL复制表结构的通用存储过程 <br />
 <br />
-- Transfer对象的重要属性<br />
</p>
<H2><a id="eabb7c4f-730b-45c1-8399-eba813155cfd.html" href="#" onclick="return MenuChange(this);">SQL Server连接中的四个最常见错误</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/09/2016 13:01:29<br /><p>SQL Server连接中的四个最常见错误:<br />
一."SQL Server 不存在或访问被拒绝"<br />
这个是最复杂的,错误发生的原因比较多,需要检查的方面也比较多.<br />
</p>
<H2><a id="d7b26551-adbf-4708-890d-d55a84c3bd30.html" href="#" onclick="return MenuChange(this);">SQL事务日志还原</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 05/01/2016 02:15:51<br /><p>SQL事务日志还原实例 收藏 <br />
USE master<br />
GO<br />
</p>
<H2><a id="0b27bca5-7668-4474-8c4f-b94f9251163e.html" href="#" onclick="return MenuChange(this);">SQL SERVER数据库置疑后恢复步骤</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/29/2016 14:19:05<br /><p>--常规SQL SERVER数据库置疑后恢复步骤   <br />
--1． 恢复步骤：   <br />
--a.将smlog_log.ldf文件备份到其它目录下；   <br />
</p>
