<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>查找丢失的索引</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:47<br />blog>><a  href="https://wzpabc.github.io?page=d510c7b2-cd89-4370-ae7f-c44238c84ecb" >wzpabc.github.io?page=d510c7b2-cd89-4370-ae7f-c44238c84ecb</a><p>SELECT<br />
    avg_total_user_cost * avg_user_impact * ( user_scans + user_seeks ) AS PossibleImprovement ,<br />
    last_user_seek ,<br />
    last_user_scan ,<br />
    [statement] AS [Object] ,<br />
    'CREATE INDEX [IDX_' + CONVERT(VARCHAR(32), GS.group_handle) + '_' + CONVERT(VARCHAR(32), D.index_handle) + '_' + REPLACE(REPLACE(REPLACE([STATEMENT], ']', ''), '[', ''), '.', '') + ']' + ' ON ' + [statement] + ' (' + ISNULL(equality_columns, '') + CASE WHEN equality_columns IS NOT NULL AND inequality_columns IS NOT NULL THEN ','<br />
                                                                                                                                                                                                                                                                  ELSE ''<br />
                                                                                                                                                                                                                                                             END + ISNULL(inequality_columns, '') + ')' + ISNULL(' INCLUDE (' + included_columns + ')', '') AS Create_Index_Syntax<br />
FROM<br />
    sys.dm_db_missing_index_groups AS G<br />
INNER JOIN sys.dm_db_missing_index_group_stats AS GS ON G.index_group_handle = GS.group_handle<br />
INNER JOIN sys.dm_db_missing_index_details AS D ON G.index_handle = D.index_handle<br />
ORDER BY<br />
    PossibleImprovement DESC<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/d510c7b2-cd89-4370-ae7f-c44238c84ecb.html" >https://wzpabc.github.io/Template/d510c7b2-cd89-4370-ae7f-c44238c84ecb.html</a>
