<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>生成流水号</h2><br /> 
uploaded by Patrick. 06/27/2016 15:31:18<br /><p>--下面的代码生成长度为8的编号，编号以BH开头，其余6位为流水号。<br />
--得到新编号的函数<br />
CREATE FUNCTION f_NextBH()<br />
RETURNS char(8)<br />
AS<br />
BEGIN<br />
	RETURN(SELECT 'BH'+RIGHT(1000001+ISNULL(RIGHT(MAX(BH),6),0),6) FROM tb WITH(XLOCK,PAGLOCK))<br />
END<br />
GO<br />
<br />
--在表中应用函数<br />
CREATE TABLE tb(<br />
BH char(8) PRIMARY KEY DEFAULT dbo.f_NextBH(),<br />
col int)<br />
<br />
--插入资料<br />
BEGIN TRAN<br />
	INSERT tb(col) VALUES(1)<br />
	INSERT tb(col) VALUES(2)<br />
	INSERT tb(col) VALUES(3)<br />
	DELETE tb WHERE col=3<br />
	INSERT tb(col) VALUES(4)<br />
	INSERT tb(BH,col) VALUES(dbo.f_NextBH(),14)<br />
COMMIT TRAN<br />
<br />
--显示结果<br />
SELECT * FROM tb<br />
/*--结果<br />
BH         col <br />
---------------- ----------- <br />
BH000001  1<br />
BH000002  2<br />
BH000003  4<br />
BH000004  14<br />
--*/<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/d914e4db-5f61-4844-bcd9-d6e81ec86dad.html" >https://wzpabc.github.io/Template/d914e4db-5f61-4844-bcd9-d6e81ec86dad.html</a>
