<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>处理表重复记录</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:48<br />blog>><a  href="https://wzpabc.github.io?page=e60e0f4f-ac69-4405-ac27-71f79fd9ef76" >wzpabc.github.io?page=e60e0f4f-ac69-4405-ac27-71f79fd9ef76</a><p>--处理表重复记录(查询和删除)<br />
/******************************************************************************************************************************************************<br />
1、Num、Name相同的重复值记录,没有大小关系只保留一条<br />
2、Name相同,ID有大小关系时,保留大或小其中一个记录<br />
整理人：中国风(Roy)<br />
<br />
日期:2008.06.06<br />
******************************************************************************************************************************************************/<br />
<br />
--1、用于查询重复处理记录(如果列没有大小关系时2000用生成自增列和临时表处理,SQL2005用row_number函数处理)<br />
<br />
--> --> (Roy)生成測試數據<br />
 <br />
if not object_id('Tempdb..#T') is null<br />
    drop table #T<br />
Go<br />
Create table #T([ID] int,[Name] nvarchar(1),[Memo] nvarchar(2))<br />
Insert #T<br />
select 1,N'A',N'A1' union all<br />
select 2,N'A',N'A2' union all<br />
select 3,N'A',N'A3' union all<br />
select 4,N'B',N'B1' union all<br />
select 5,N'B',N'B2'<br />
Go<br />
<br />
<br />
--I、Name相同ID最小的记录(推荐用1,2,3),方法3在SQl05时，效率高于1、2<br />
方法1:<br />
Select * from #T a where not exists(select 1 from #T where Name=a.Name and ID<a.ID)<br />
<br />
方法2:<br />
select a.* from #T a join (select min(ID)ID,Name from #T group by Name) b on a.Name=b.Name and a.ID=b.ID<br />
<br />
方法3:<br />
select * from #T a where ID=(select min(ID) from #T where Name=a.Name)<br />
<br />
方法4:<br />
select a.* from #T a join #T b on a.Name=b.Name and a.ID>=b.ID group by a.ID,a.Name,a.Memo having count(1)=1 <br />
<br />
方法5:<br />
select * from #T a group by ID,Name,Memo having ID=(select min(ID)from #T where Name=a.Name)<br />
<br />
方法6:<br />
select * from #T a where (select count(1) from #T where Name=a.Name and ID<a.ID)=0<br />
<br />
方法7:<br />
select * from #T a where ID=(select top 1 ID from #T where Name=a.name order by ID)<br />
<br />
方法8:<br />
select * from #T a where ID!>all(select ID from #T where Name=a.Name)<br />
<br />
方法9(注:ID为唯一时可用):<br />
select * from #T a where ID in(select min(ID) from #T group by Name)<br />
<br />
--SQL2005:<br />
<br />
方法10:<br />
select ID,Name,Memo from (select *,min(ID)over(partition by Name) as MinID from #T a)T where ID=MinID<br />
<br />
方法11:<br />
<br />
select ID,Name,Memo from (select *,row_number()over(partition by Name order by ID) as MinID from #T a)T where MinID=1<br />
<br />
生成结果:<br />
/*<br />
ID          Name Memo<br />
----------- ---- ----<br />
1           A    A1<br />
4           B    B1<br />
<br />
(2 行受影响)<br />
*/<br />
<br />
<br />
--II、Name相同ID最大的记录,与min相反:<br />
方法1:<br />
Select * from #T a where not exists(select 1 from #T where Name=a.Name and ID>a.ID)<br />
<br />
方法2:<br />
select a.* from #T a join (select max(ID)ID,Name from #T group by Name) b on a.Name=b.Name and a.ID=b.ID order by ID<br />
<br />
方法3:<br />
select * from #T a where ID=(select max(ID) from #T where Name=a.Name) order by ID<br />
<br />
方法4:<br />
select a.* from #T a join #T b on a.Name=b.Name and a.ID<=b.ID group by a.ID,a.Name,a.Memo having count(1)=1 <br />
<br />
方法5:<br />
select * from #T a group by ID,Name,Memo having ID=(select max(ID)from #T where Name=a.Name)<br />
<br />
方法6:<br />
select * from #T a where (select count(1) from #T where Name=a.Name and ID>a.ID)=0<br />
<br />
方法7:<br />
select * from #T a where ID=(select top 1 ID from #T where Name=a.name order by ID desc)<br />
<br />
方法8:<br />
select * from #T a where ID!<all(select ID from #T where Name=a.Name)<br />
<br />
方法9(注:ID为唯一时可用):<br />
select * from #T a where ID in(select max(ID) from #T group by Name)<br />
<br />
--SQL2005:<br />
<br />
方法10:<br />
select ID,Name,Memo from (select *,max(ID)over(partition by Name) as MinID from #T a)T where ID=MinID<br />
<br />
方法11:<br />
select ID,Name,Memo from (select *,row_number()over(partition by Name order by ID desc) as MinID from #T a)T where MinID=1<br />
<br />
生成结果2:<br />
/*<br />
ID          Name Memo<br />
----------- ---- ----<br />
3           A    A3<br />
5           B    B2<br />
<br />
(2 行受影响)<br />
*/<br />
<br />
<br />
<br />
--2、删除重复记录有大小关系时,保留大或小其中一个记录<br />
<br />
<br />
--> --> (Roy)生成測試數據<br />
<br />
if not object_id('Tempdb..#T') is null<br />
    drop table #T<br />
Go<br />
Create table #T([ID] int,[Name] nvarchar(1),[Memo] nvarchar(2))<br />
Insert #T<br />
select 1,N'A',N'A1' union all<br />
select 2,N'A',N'A2' union all<br />
select 3,N'A',N'A3' union all<br />
select 4,N'B',N'B1' union all<br />
select 5,N'B',N'B2'<br />
Go<br />
<br />
--I、Name相同ID最小的记录(推荐用1,2,3),保留最小一条<br />
方法1:<br />
delete a from #T a where  exists(select 1 from #T where Name=a.Name and ID<a.ID)<br />
<br />
方法2:<br />
delete a  from #T a left join (select min(ID)ID,Name from #T group by Name) b on a.Name=b.Name and a.ID=b.ID where b.Id is null<br />
<br />
方法3:<br />
delete a from #T a where ID not in (select min(ID) from #T where Name=a.Name)<br />
<br />
方法4(注:ID为唯一时可用):<br />
delete a from #T a where ID not in(select min(ID)from #T group by Name)<br />
<br />
方法5:<br />
delete a from #T a where (select count(1) from #T where Name=a.Name and ID<a.ID)>0<br />
<br />
方法6:<br />
delete a from #T a where ID<>(select top 1 ID from #T where Name=a.name order by ID)<br />
<br />
方法7:<br />
delete a from #T a where ID>any(select ID from #T where Name=a.Name)<br />
<br />
<br />
<br />
select * from #T<br />
<br />
生成结果:<br />
/*<br />
ID          Name Memo<br />
----------- ---- ----<br />
1           A    A1<br />
4           B    B1<br />
<br />
(2 行受影响)<br />
*/<br />
<br />
<br />
--II、Name相同ID保留最大的一条记录:<br />
<br />
方法1:<br />
delete a from #T a where  exists(select 1 from #T where Name=a.Name and ID>a.ID)<br />
<br />
方法2:<br />
delete a  from #T a left join (select max(ID)ID,Name from #T group by Name) b on a.Name=b.Name and a.ID=b.ID where b.Id is null<br />
<br />
方法3:<br />
delete a from #T a where ID not in (select max(ID) from #T where Name=a.Name)<br />
<br />
方法4(注:ID为唯一时可用):<br />
delete a from #T a where ID not in(select max(ID)from #T group by Name)<br />
<br />
方法5:<br />
delete a from #T a where (select count(1) from #T where Name=a.Name and ID>a.ID)>0<br />
<br />
方法6:<br />
delete a from #T a where ID<>(select top 1 ID from #T where Name=a.name order by ID desc)<br />
<br />
方法7:<br />
delete a from #T a where ID<any(select ID from #T where Name=a.Name)<br />
<br />
<br />
select * from #T<br />
/*<br />
ID          Name Memo<br />
----------- ---- ----<br />
3           A    A3<br />
5           B    B2<br />
<br />
(2 行受影响)<br />
*/<br />
<br />
<br />
<br />
<br />
<br />
--3、删除重复记录没有大小关系时，处理重复值<br />
<br />
<br />
--> --> (Roy)生成測試數據<br />
 <br />
if not object_id('Tempdb..#T') is null<br />
    drop table #T<br />
Go<br />
Create table #T([Num] int,[Name] nvarchar(1))<br />
Insert #T<br />
select 1,N'A' union all<br />
select 1,N'A' union all<br />
select 1,N'A' union all<br />
select 2,N'B' union all<br />
select 2,N'B'<br />
Go<br />
<br />
方法1:<br />
if object_id('Tempdb..#') is not null<br />
    drop table #<br />
Select distinct * into # from #T--排除重复记录结果集生成临时表#<br />
<br />
truncate table #T--清空表<br />
<br />
insert #T select * from #    --把临时表#插入到表#T中<br />
<br />
--查看结果<br />
select * from #T<br />
<br />
/*<br />
Num         Name<br />
----------- ----<br />
1           A<br />
2           B<br />
<br />
(2 行受影响)<br />
*/<br />
<br />
--重新执行测试数据后用方法2<br />
方法2:<br />
<br />
alter table #T add ID int identity--新增标识列<br />
go<br />
delete a from  #T a where  exists(select 1 from #T where Num=a.Num and Name=a.Name and ID>a.ID)--只保留一条记录<br />
go<br />
alter table #T drop column ID--删除标识列<br />
<br />
--查看结果<br />
select * from #T<br />
<br />
/*<br />
Num         Name<br />
----------- ----<br />
1           A<br />
2           B<br />
<br />
(2 行受影响)<br />
<br />
*/<br />
<br />
--重新执行测试数据后用方法3<br />
方法3:<br />
declare Roy_Cursor cursor local for<br />
select count(1)-1,Num,Name from #T group by Num,Name having count(1)>1<br />
declare @con int,@Num int,@Name nvarchar(1)<br />
open Roy_Cursor<br />
fetch next from Roy_Cursor into @con,@Num,@Name<br />
while @@Fetch_status=0<br />
begin <br />
    set rowcount @con;<br />
    delete #T where Num=@Num and Name=@Name<br />
    set rowcount 0;<br />
    fetch next from Roy_Cursor into @con,@Num,@Name<br />
end<br />
close Roy_Cursor<br />
deallocate Roy_Cursor<br />
<br />
--查看结果<br />
select * from #T<br />
/*<br />
Num         Name<br />
----------- ----<br />
1           A<br />
2           B<br />
<br />
(2 行受影响)<br />
*/<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/e60e0f4f-ac69-4405-ac27-71f79fd9ef76.html" >https://wzpabc.github.io/Template/e60e0f4f-ac69-4405-ac27-71f79fd9ef76.html</a>
