<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-6.html" href="#" onclick="return MenuChange(this);">6</a>
<H2><a id="96e90a2a-332a-466c-a8a8-7da38b492269.html" href="#" onclick="return MenuChange(this);">笔记四</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/20/2012 15:31:45<br /><p>---SQL Server对大容量内存的支持<br />
32位操作系统有个很大的缺陷，应用程序无法访问大于4G的进程地址空间，因为32位的指针无法保存大于4G的地址空间<br />
如果大于4G，则需要使用地址窗口化扩展插件(AWE)，具体操作如下：<br />
</p>
<H2><a id="fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0.html" href="#" onclick="return MenuChange(this);">字符串的拆分</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/14/2012 15:18:07<br /><p><br />
--> 测试数据: #T<br />
if object_id('tempdb.dbo.#T') is not null drop table #T<br />
</p>
<H2><a id="7c482af4-ffb4-47a1-9cc9-a9765adfece9.html" href="#" onclick="return MenuChange(this);">排名</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/21/2011 15:13:29<br /><p>--示例数据<br />
CREATE TABLE tb(Name varchar(10),Score decimal(10,2))<br />
INSERT tb SELECT 'aa',99<br />
</p>
<H2><a id="d5026357-c76a-4fc9-b3aa-e46154f1e46f.html" href="#" onclick="return MenuChange(this);">索引碎片</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/15/2011 15:18:59<br /><p>--收集特定表上所有索引、堆的信息<br />
<br />
SELECT  sysIn.name AS IndexName ,<br />
</p>
<H2><a id="75c5f4d3-cf30-4262-921d-e3baa8cd4835.html" href="#" onclick="return MenuChange(this);">数据库学习笔记</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/15/2011 15:27:58<br /><p>固定列数的行列转换 <br />
如 <br />
student subject grade <br />
</p>
<H2><a id="8375d3e8-78b9-41e2-9b66-695dc26f7b89.html" href="#" onclick="return MenuChange(this);">库存先进先出</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/15/2011 15:21:24<br /><p>--库存先进先出简单例子：<br />
<br />
create table t(<br />
</p>
<H2><a id="7f90f74a-6518-4a1f-bef3-20ac5fed343e.html" href="#" onclick="return MenuChange(this);">如何向一个自增字段插值？</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/07/2011 15:18:39<br /><p>--1、create table tablename(id int identity(1,1))go<br />
insert into tablename default values<br />
go<br />
</p>
<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-6.html" href="#" onclick="return MenuChange(this);">6</a>
