<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-6.html" href="#" onclick="return MenuChange(this);">6</a>
<H2><a id="fd7f2077-fd72-4871-9289-f7d8e986353c.html" href="#" onclick="return MenuChange(this);">数据库笔记3</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/01/2013 15:29:19<br /><p>/*<br />
功能：2000当中绘画日历 <br />
*/<br />
</p>
<H2><a id="ebefbeaa-d3de-44a2-ad05-cd9f21021c7f.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (8)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/28/2013 15:13:44<br /><p>SQL语句练习题参考答案 <br />
1、 select Sname,Ssex,Class from Student;<br />
2、 select distinct depart from teacher;<br />
</p>
<H2><a id="5750d746-7558-4fbf-a345-0ce7c7482159.html" href="#" onclick="return MenuChange(this);">检查给定串是否存在于由区间及点集的给合内</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 11/08/2013 15:34:20<br /><p>------------------------------------<br />
<br />
-- Author: happyflystone   <br />
</p>
<H2><a id="07088bfa-4280-474e-b5c7-194cc012ea61.html" href="#" onclick="return MenuChange(this);">笔记六</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/21/2013 15:14:30<br /><p>--SQL 2008使用空间数据<br />
<br />
SQL SERVER 2008支持两种空间数据类型，geometry和geography.其中geometry数据类型支持平面或平面球数据,geography可用于存储GPS经度和纬度坐标等椭球体数据。<br />
</p>
<H2><a id="f175553f-d67f-4699-9e2a-fc0fc9721ffd.html" href="#" onclick="return MenuChange(this);">如何给MS SQL数据库减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2013 15:30:32<br /><p>--最好备份日志，以后可通过日志恢复数据。。。<br />
以下为日志处理方法<br />
一般不建议做第4,6两步<br />
</p>
<H2><a id="8ff648a2-f3fb-4179-8151-2e2299cec9e3.html" href="#" onclick="return MenuChange(this);">数据库笔记2</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/20/2013 15:15:05<br /><p>1、说明：复制表(只复制结构,源表名：a 新表名：b) (Access可用) <br />
法一：select * into b from a where 1 <>1 <br />
法二：select top 0 * into b from a <br />
</p>
<H2><a id="49fabf8d-6730-4433-851a-52c8c295072c.html" href="#" onclick="return MenuChange(this);">拼音处理</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 10/10/2013 15:16:51<br /><p>/*-1.-获得汉字字符串的首字母<br />
<br />
   根据大力的贴子改成.将大力的两个函数合并成了一个函数.<br />
</p>
<H2><a id="76e5739e-b093-4502-aae9-0cca53a5fbcf.html" href="#" onclick="return MenuChange(this);">字符串的拆分 (2)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 09/19/2013 15:21:14<br /><p>　　use tempdb<br />
　　go<br />
　　--测试数据<br />
</p>
<H2><a id="c0a01bcb-f377-49c1-9f15-1e16b39c14b4.html" href="#" onclick="return MenuChange(this);">存储过程调用存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/09/2013 15:26:09<br /><p>第一种方法: 使用output参数<br />
<br />
USE AdventureWorks;<br />
</p>
<H2><a id="c4dd4600-5e63-4f69-848c-ae384c4ab451.html" href="#" onclick="return MenuChange(this);">排序问题</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 08/04/2013 15:10:41<br /><p>排序问题 <br />
<br />
CREATE TABLE [t] ( <br />
</p>
<H2><a id="ad2ec0eb-edd2-44fa-9f3f-92988c6f85dd.html" href="#" onclick="return MenuChange(this);">给TEMP减肥</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 07/15/2013 15:13:58<br /><p>SQL Server会自动创建一个名为tempdb的数据库作为工作空间使用，当您在存储过程中创建一个临时表格时，比如(CREATE TABLE #MyTemp)，无论您正在使用哪个数据库，SQL数据库引擎都会将这个表格创建在tempdb数据库中。<br />
<br />
<br />
</p>
<H2><a id="16833211-0076-445a-aa30-b46609e0985c.html" href="#" onclick="return MenuChange(this);">自动生成存储过程格式</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/21/2013 15:26:37<br /><p>SET QUOTED_IDENTIFIER ON<br />
SET ANSI_NULLS ON<br />
GO<br />
</p>
<H2><a id="075b0095-a103-4989-b26c-3be550b7bf7d.html" href="#" onclick="return MenuChange(this);">如何用SQL语句在两个数据库间复制存储过程</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/17/2013 15:24:50<br /><p>--1.在目标服务器上建立如下对象(被同步的服务器)   <br />
    <br />
  if   exists   (select   *   from   dbo.sysobjects   where   id   =   object_id(N'[sys_syscomments_bak]')   and   OBJECTPROPERTY(id,   N'IsUserTable')   =   1)   <br />
</p>
<H2><a id="ed70f8ba-d2e1-49c3-bd80-f1eb2e6e8399.html" href="#" onclick="return MenuChange(this);">搜索指定数据在那个对象中存在</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/02/2013 15:10:51<br /><p>CREATE PROC sp_ValueSearch<br />
@value sql_variant,  --要搜索的数据<br />
@precision bit=1     --1=仅根据sql_variant中的数据类型查找对应类型的数据列.<>1,查询兼容的所有列,字符数据使用like匹配<br />
</p>
<H2><a id="58c7de25-4a6f-46df-8df2-35085ea3e1d5.html" href="#" onclick="return MenuChange(this);">小写转大写金额</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 04/01/2013 15:23:19<br /><p>Create Function F_LowerToUpper(@LowerMoney Decimal(38,4)) <br />
Returns Varchar(200)    --返回的大写金额的字符 <br />
As <br />
</p>
<H2><a id="24506d47-b697-4844-bd6c-feb236020f2d.html" href="#" onclick="return MenuChange(this);">断号查询</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/23/2013 15:16:58<br /><p>--测试数据<br />
CREATE TABLE tb(col1 varchar(10),col2 int)<br />
INSERT tb SELECT 'a',2<br />
</p>
<H2><a id="e85dc8e0-d770-4f62-b9ce-71e97ddd21e0.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (5)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 03/06/2013 15:10:25<br /><p>http://id.91cool.net/sign/?name=%CE%DE%D3%C7&say=%B2%C5%B8%DF%C6%DF%B0%CB%B6%B7,%D1%A7%B8%BB%CE%E5%C1%F9%B3%B5,%B8%C4%D0%D0%C8%FD%CB%C4%B4%CE,%D4%C2%C8%EB%D2%BB%B6%FE%C7%A7! <br />
<br />
显示IP<br />
</p>
<H2><a id="677af428-b7fc-4d52-a0d3-ac1a79049d00.html" href="#" onclick="return MenuChange(this);">新建 文本文档 (4)</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 01/13/2013 15:27:52<br /><p><br />
declare @name nvarchar(100)<br />
declare cur cursor for select name from sysobjects where type = 'U'<br />
</p>
<H2><a id="d357c8f1-19d2-4bd7-9985-43acf87156ef.html" href="#" onclick="return MenuChange(this);">将表查询存储为标准的XML文件</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/29/2012 15:25:52<br /><p>/*--存为XML<br />
 将表/查询存储为标准的XML文件<br />
--邹建 2003.12(引用请保留此信息)--*/<br />
</p>
<H2><a id="5afbad19-8046-408e-b98a-b5f6fa9959e2.html" href="#" onclick="return MenuChange(this);">将表数据旋转90度</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 12/28/2012 15:19:15<br /><p>/*<br />
将表数据旋转90度(2007-11-19于海南三亚)<br />
<br />
</p>
<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-1.html" href="#" onclick="return MenuChange(this);">1</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-2.html" href="#" onclick="return MenuChange(this);">2</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-3.html" href="#" onclick="return MenuChange(this);">3</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-4.html" href="#" onclick="return MenuChange(this);">4</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-5.html" href="#" onclick="return MenuChange(this);">5</a>|<a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-6.html" href="#" onclick="return MenuChange(this);">6</a>
