<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>首先创建测试表、添加数据。 <br />
create table #t(a int,b int,c int,d int,e int) <br />
insert into #t values(1,2,3,4,5) <br />
insert into #t values(1,2,3,4,6) <br />
insert into #t values(1,2,3,4,7) <br />
insert into #t values(1,2,3,4,8) <br />
insert into #t values(1,3,3,4,5) <br />
insert into #t values(1,3,3,4,6) <br />
insert into #t values(1,3,3,4,8) <br />
insert into #t values(1,3,3,4,7) <br />
<br />
insert into #t values(2,2,2,4,5) <br />
insert into #t values(2,2,3,4,6) <br />
insert into #t values(2,2,4,4,7) <br />
insert into #t values(2,2,5,4,8) <br />
insert into #t values(2,3,6,4,5) <br />
insert into #t values(2,3,3,4,6) <br />
insert into #t values(2,3,3,4,8) <br />
insert into #t values(2,3,3,4,7)<br />
情况一：只有一个分类汇总列时，只需要一个合计。只需要增加with rollup即可。 <br />
select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, <br />
sum(b),sum(c),sum(d),sum(e) from #t group by a with rollup <br />
情况二:有多个分类汇总列，只需要一个合计.增加rollup之后，需要增加判断。 <br />
select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, b, <br />
sum(c),sum(d),sum(e) from #t <br />
group by a,b with rollup <br />
having grouping(b)=0 or grouping(a)=1select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, b, c, <br />
sum(d),sum(e) from #t <br />
group by a,b,c with rollup <br />
having grouping(c)=0 or grouping(a)=1 <br />
情况三：有多个分类汇总列，需要全部的小计和合计。 <br />
select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, <br />
    case when grouping(b)=1 and grouping(a)=0 then '小计' else cast(b as varchar) end b, <br />
    case when grouping(c)=1 and grouping(b)=0 then '小计' else cast(c as varchar) end c, <br />
sum(d),sum(e) from #t <br />
group by a,b,c with rollup <br />
另外一种显示小计的方式 <br />
select case when grouping(a)=1 then '合计' <br />
    when grouping(b)=1 then cast(a as varchar)+'小计' <br />
    else cast(a as varchar) end a, <br />
    case when grouping(b)=0 and grouping(c)=1 <br />
    then cast(b as varchar)+'小计' else cast(b as varchar) end b, <br />
    case when grouping(c)=1 and grouping(b)=0 <br />
    then '' else cast(c as varchar) end c, <br />
sum(d),sum(e) from #t <br />
group by a,b,c with rollup <br />
情况四：有多个分类汇总列，需要部分的小计和合计 <br />
select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, b, <br />
    case when grouping(c)=1 and grouping(b)=0 then '小计' else cast(c as varchar) end c, <br />
sum(d),sum(e) from #t <br />
group by a,b,c with rollup <br />
having grouping(a)=1 or grouping(b)=0 <br />
select case when grouping(a)=1 then '合计' else cast(a as varchar) end a, <br />
    case when grouping(b)=1 and grouping(a)=0 then '小计' else cast(b as varchar) end b, c, <br />
sum(d),sum(e) from #t <br />
group by a,b,c with rollup <br />
having grouping(a)=1 or grouping(b)=1 or grouping(c)=1<br />
</p> 
uploaded by Patrick. 06/27/2016 14:19:06
