<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>字符串的拆分</h2><br /> 
uploaded by Patrick. 06/27/2016 15:57:47<br />blog>><a  href="https://wzpabc.github.io?page=fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0" >wzpabc.github.io?page=fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0</a><p><br />
--> 测试数据: #T<br />
if object_id('tempdb.dbo.#T') is not null drop table #T<br />
create table #T (id int,name varchar(8))<br />
insert into #T<br />
select 1,'jame,job' union all<br />
select 2,'paul,mc' union all<br />
select 3,'carl';<br />
<br />
--> 1. CTE 递归找分隔字符位置法：速度极快<br />
with T (id,P1,P2) as<br />
(<br />
    select id,charindex(',',','+name),charindex(',',name+',')+1 from #T<br />
    union all<br />
    select a.id,b.P2,charindex(',',name+',',b.P2)+1 from #T a join T b on a.id=b.id where charindex(',',name+',',b.P2)>0<br />
)<br />
select a.id,name=substring(a.name+',',b.P1,b.P2 - b.P1 - 1) from #T a join T b on a.id=b.id order by 1<br />
/*<br />
id          name<br />
----------- ---------<br />
1           jame<br />
1           job<br />
2           mc<br />
2           paul<br />
3           carl<br />
*/<br />
--> 测试数据: #T<br />
if object_id('tempdb.dbo.#T') is not null drop table #T<br />
create table #T (id int,name varchar(8))<br />
insert into #T<br />
select 1,'jame,job' union all<br />
select 2,'paul,mc' union all<br />
select 3,'carl';<br />
<br />
--> 2. 临时表法：速度比CTE方法相差无几<br />
if object_id('tempdb.dbo.#') is not null drop table #<br />
select top 8000 id=identity(int,1,1) into # from syscolumns,sysobjects --> select max(len(name)) from #T=11<br />
select a.id,name=substring(a.name+',',b.id,charindex(',',a.name+',',b.id+1)-b.id) from #T a inner join # b on substring(','+a.name,b.id,1)=','<br />
/*<br />
id          name<br />
----------- ---------<br />
1           jame<br />
1           job<br />
2           mc<br />
2           paul<br />
3           carl<br />
*/<br />
<br />
3. XML法：速度较慢<br />
select<br />
    a.id,b.name<br />
from<br />
    (select id,name=convert(xml,'<root><v>'+replace(name,',','</v><v>')+'</v></root>') from #T ) a<br />
outer apply<br />
    (select name=N.v.value('.','varchar(100)') from a.name.nodes('/root/v') N(v)) b<br />
/*<br />
id          name<br />
----------- ---------<br />
1           jame<br />
1           job<br />
2           mc<br />
2           paul<br />
3           carl<br />
*/<br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0.html" >https://wzpabc.github.io/Template/fe5cc22e-e86c-43ca-8a32-a824e1b4a8b0.html</a>
