<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><h2>删除数据库中所有外键约束</h2><br /> 
uploaded by Patrick. 08/24/2014 15:25:35<br />blog>><a  href="https://wzpabc.github.io?page=ff15040d-f7e6-4880-b45f-5cfd7433cb53" >wzpabc.github.io?page=ff15040d-f7e6-4880-b45f-5cfd7433cb53</a><p>CREATE PROCEDURE sp_drop_all_fk   <br />
  <br />
as  <br />
  <br />
declare @sql varchar(255)   <br />
declare dropsql_cursor cursor for    <br />
select 'alter table '+object_name(fkeyid)+' drop constraint '+object_name(constid)+char(10) from sysreferences   <br />
  <br />
open dropsql_cursor   <br />
  <br />
fetch dropsql_cursor into @sql   <br />
  <br />
begin tran   <br />
  <br />
while @@fetch_status=0   <br />
begin  <br />
       <br />
    execute(@sql)   <br />
       <br />
    if @@error <> 0   <br />
    begin  <br />
        rollback  <br />
        return  <br />
    end  <br />
  <br />
    fetch dropsql_cursor into @sql   <br />
  <br />
end  <br />
deallocate dropsql_cursor   <br />
  <br />
commit  <br />
GO  <br />
</p><br />
source>><a  href="https://wzpabc.github.io/Template/ff15040d-f7e6-4880-b45f-5cfd7433cb53.html" >https://wzpabc.github.io/Template/ff15040d-f7e6-4880-b45f-5cfd7433cb53.html</a>
