<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>
	<a id="_home" href="#" onclick="return LinkChange(this);">Home</a> | <a
		id="_about" href="#" onclick="return LinkChange(this);">about</a> | <a
		id="_profile" href="#" onclick="return LinkChange(this);">profile</a>
	| <a id="_backup" href="#" onclick="return LinkChange(this);">backup</a>
	| <a id="_contact" href="#" onclick="return LinkChange(this);">contact</a>
</p>
<p>
	&copy;The People's Republic of China All Rights Reserved. | <a href="#">wzpabc@outlook.com</a>
</p>