<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<ul class="lavaLampWithImage" id="lava_menu">
	<li class="current"><a id="_home" href="#"
		onclick="return LinkChange(this);">Home</a></li>
	<li><a id="_Rlang" href="#" onclick="return LinkChange(this);">Rlang</a></li>
	<li><a id="_Java" href="#" onclick="return LinkChange(this);">Java</a></li>
	<li><a id="_BigData" href="#" onclick="return LinkChange(this);">BigData</a></li>
	<li><a id="_contact" href="#" onclick="return LinkChange(this);">contact</a></li>
</ul>