<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<h1>Welcome to Patrick's Page</h1>
<p>
	This standards compliant, fixed width website template is released as
	an 'open source' design (under a <a href="#">Creative Commons
		Attribution 3.0 Licence</a>), which means that you are free to use it for
	anything you want (including modifying and amending it). All I ask is
	that you leave the 'design from css3templates.co.uk' link in the footer
	of the template.欢迎
</p>
<p>
	The template uses a lavalamp menu (based on jQuery) from <a href="#/">here</a>.
	All of the images were shot by me - use as you wish.
</p>
<h2>Skill and hobit</h2>
<p>Both working and lift are important:</p>
<ul>
	<li>Basketball</li>
	<li>Java</li>
	<li>Linux(Centos)</li>
	<li>SQL SERVER</li>
	<li>Oracle</li>
	<li>Mysql</li>
	<li>RLang</li>
	<li>SSPS</li>
	<li>Hadoop</li>

</ul>
 