<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                                                                   
<h1>Welcome to Patrick's Page</h1>                                 
<p>                                                                
1:1 起初 神创造天地。<br/>                                                 
1:2 地是空虚混沌，渊面黑暗； 神的灵运行在水面上。<br/>                                   
1:3 神说：“要有光。”就有了光。<br/>                                            
1:4 神看光是好的，就把光暗分开了。<br/>                                           
1:5 神称光为昼，称暗为夜。有晚上，有早晨，这是头一日。<br/>                                 
1:6 神说：“诸水之间要有空气，将水分为上下。”                                          
</p>                                                               
<p>                                                                
	                                                                 
</p>                                                               
<h2>Skill and hobit</h2>                                           
<p>Both working and lift are important:</p>                        
<ul>                                                               
<li><a id="030301E0-1B5F-4370-9B80-1E8F582568E5.html" href="#" onclick="return MenuChange(this);">Mysql(1)</a></li>
<li><a id="94DB23A4-F7F5-4C4D-9FA4-30B9283C35B6.html" href="#" onclick="return MenuChange(this);">Basketball(1)</a></li>
<li><a id="360936B7-A092-426A-8C70-35CC375709F8.html" href="#" onclick="return MenuChange(this);">SQL SERVER(1)</a></li>
<li><a id="7DF79285-F2BF-462A-B1DF-504BB1B4F101.html" href="#" onclick="return MenuChange(this);">RLang(1)</a></li>
<li><a id="D25C570B-A5A0-44DC-81F1-7327F5EFBF55.html" href="#" onclick="return MenuChange(this);">Java(1)</a></li>
<li><a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702.html" href="#" onclick="return MenuChange(this);">SSPS(1)</a></li>
<li><a id="3BB75C2D-062D-4277-9905-B9DE55460C71.html" href="#" onclick="return MenuChange(this);">Oracle(16)</a></li>
<li><a id="E12B767F-D8DD-40CF-8CCA-CA1DC9A79FB7.html" href="#" onclick="return MenuChange(this);">Hadoop(1)</a></li>
<li><a id="33B6D64C-7147-41D6-A755-EE1B1CA15B3A.html" href="#" onclick="return MenuChange(this);">Linux(Centos)(1)</a></li>

                                                                   
</ul>                                                              
