<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<h1>Welcome to Patrick's Page</h1>
<p>
1:1 起初 神创造天地。<br/>                                      
1:2 地是空虚混沌，渊面黑暗； 神的灵运行在水面上。<br/>       
1:3 神说：“要有光。”就有了光。<br/>                           
1:4 神看光是好的，就把光暗分开了。<br/>                      
1:5 神称光为昼，称暗为夜。有晚上，有早晨，这是头一日。<br/> 
1:6 神说：“诸水之间要有空气，将水分为上下。”                 
</p>
<p>
	 
</p>
<h2>Skill and hobit</h2>
<p>Both working and lift are important:</p>
<ul>
	<li>Basketball</li>
	<li>Java</li>
	<li>Linux(Centos)</li>
	<li>SQL SERVER</li>
	<li>Oracle</li>
	<li>Mysql</li>
	<li>RLang</li>
	<li>SSPS</li>
	<li>Hadoop</li>

</ul>
