<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="a843191d-7989-4573-9627-138e4debf8c5.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p> 
uploaded by Patrick. 06/27/2016 14:26:43
<H2><a id="c8d57037-d173-4b81-b9a1-52d67aac829e.html" href="#" onclick="return MenuChange(this);">Java</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>--显示索引消耗的磁盘情况<br />
SELECT  CASE InnerTable.index_id<br />
          WHEN 0 THEN 'HEAP'<br />
</p> 
uploaded by Patrick. 06/27/2016 14:26:43
<H2><a id="3ca69daa-8f73-43a7-ae81-92403e672f18.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p> 
uploaded by Patrick. 06/27/2016 14:26:43
<H2><a id="cc0d2a0c-2334-4022-96ab-bc05e0e9ac77.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p> 
uploaded by Patrick. 06/27/2016 14:26:43
<H2><a id="b1e8e448-0097-48f5-a8b3-c0adbc812039.html" href="#" onclick="return MenuChange(this);">查看存储过程依赖的表</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>DECLARE @procname NVARCHAR(100) = 'dbo.avnewmanubranchsplit_trend'<br />
 SELECT DISTINCT @procname        procname,SCHEMA_NAME(t.[schema_id]) + '.' <br />
        + OBJECT_NAME(referenced_major_id) <br />
</p> 
uploaded by Patrick. 06/27/2016 14:26:43
