<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h1>
	1、pain past is pleasure.<br /> 2、while there is life, there is hope.<br />
	3、wisdom in the mind is better than money in the hand.<br /> 4、storms
	make trees take deeper roots.<br /> 5、nothing is impossible for a
	willing heart.<br /> 6、the shortest answer is doing.<br /> 7、all
	things are difficult before they are easy.
</h1>
<div
	style="width: 700px; border: 0px solid red; text-align: center; padding-top: 0px;">
	<img src="/images/gif.gif">
</div>
 