<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<H2><a id="ce9a46b4-f89c-4b63-b0d4-4150b0e7e5d9.html" href="#" onclick="return MenuChange(this);">Rlang</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:31:10<br /><p> 时间格式转换问题 <br />
因为新开发的软件需要用一些旧软件生成的一些数据，在时间格式上不统一，只能手工转换，研究了一下午写了三条语句，以前没怎么用过convert函数和case语句，还有"+"操作符在不同上下文环境也会起到不同的作用，把我搞晕了要，不过现在看来是差不多弄好了。 <br />
<br />
</p>
<H2><a id="3162ea0d-12f8-4f24-a50e-586640663e61.html" href="#" onclick="return MenuChange(this);">16进制转10进制</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:31:10<br /><p>CREATE FUNCTION dbo.f_hex_dec(@s varchar(16))<br />
RETURNS bigint<br />
AS<br />
</p>
<H2><a id="ca22e793-72b8-4408-a96b-aaeb525a73ef.html" href="#" onclick="return MenuChange(this);">2008转到2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:31:10<br /><p>2008转到2000的步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2008 的manger studio <br />
</p>
<H2><a id="32af00f7-f795-49ef-bbeb-ceea34a6081e.html" href="#" onclick="return MenuChange(this);">2005转2000</a></H2>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
uploaded by Patrick. 06/27/2016 15:31:10<br /><p>2005转到2000的步骤步骤 <br />
1. 生成for 2000版本的数据库脚本 <br />
2005 的manger studio <br />
</p>
