<ul>                                                               
<li><a id="360936B7-A092-426A-8C70-35CC375709F8-1.html" href="#" onclick="return MenuChange(this);">SQL SERVER(68)</a></li>
<li><a id="F06CD0D2-1CA3-4CCC-B6BB-B81CC83D8702-1.html" href="#" onclick="return MenuChange(this);">SPSS(106)</a></li>
<li><a id="7DF79285-F2BF-462A-B1DF-504BB1B4F101-1.html" href="#" onclick="return MenuChange(this);">RLang(9)</a></li>
<li><a id="3BB75C2D-062D-4277-9905-B9DE55460C71-1.html" href="#" onclick="return MenuChange(this);">Oracle(23)</a></li>
<li><a id="030301E0-1B5F-4370-9B80-1E8F582568E5-1.html" href="#" onclick="return MenuChange(this);">Mysql(14)</a></li>
<li><a id="33B6D64C-7147-41D6-A755-EE1B1CA15B3A-1.html" href="#" onclick="return MenuChange(this);">Linux(Centos)(8)</a></li>
<li><a id="D25C570B-A5A0-44DC-81F1-7327F5EFBF55-1.html" href="#" onclick="return MenuChange(this);">Java(14)</a></li>
<li><a id="E12B767F-D8DD-40CF-8CCA-CA1DC9A79FB7-1.html" href="#" onclick="return MenuChange(this);">Hadoop(10)</a></li>
<li><a id="94DB23A4-F7F5-4C4D-9FA4-30B9283C35B6-1.html" href="#" onclick="return MenuChange(this);">Basketball(16)</a></li>

</ul>                                                              
