body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:630px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:630px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:307px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:490px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1949 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:490px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:237px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1951 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:350px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1954 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:350px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:167px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1956 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:50px;
  font-size:28px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1958 {
  position:absolute;
  left:310px;
  top:180px;
  width:220px;
  height:60px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1960 {
  position:absolute;
  left:310px;
  top:250px;
  width:220px;
  height:60px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1962 {
  position:absolute;
  left:310px;
  top:320px;
  width:220px;
  height:60px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1964 {
  position:absolute;
  left:310px;
  top:390px;
  width:220px;
  height:60px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:420px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1967 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:420px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:202px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1969 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1971 {
  position:absolute;
  left:650px;
  top:180px;
  width:160px;
  height:60px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1973 {
  position:absolute;
  left:650px;
  top:250px;
  width:160px;
  height:60px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1975 {
  position:absolute;
  left:650px;
  top:320px;
  width:160px;
  height:60px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1977 {
  position:absolute;
  left:650px;
  top:390px;
  width:160px;
  height:60px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1979 {
  position:absolute;
  left:650px;
  top:460px;
  width:160px;
  height:60px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1981 {
  position:absolute;
  left:30px;
  top:180px;
  width:160px;
  height:60px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1983 {
  position:absolute;
  left:30px;
  top:250px;
  width:160px;
  height:60px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:200px;
  top:365px;
  width:0px;
  height:0px;
}
#u1985_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1985_seg1 {
  position:absolute;
  left:36px;
  top:-74px;
  width:8px;
  height:78px;
}
#u1985_seg2 {
  position:absolute;
  left:36px;
  top:-74px;
  width:54px;
  height:8px;
}
#u1985_seg3 {
  position:absolute;
  left:64px;
  top:-90px;
  width:40px;
  height:40px;
}
#u1986 {
  position:absolute;
  left:-10px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987 {
  position:absolute;
  left:550px;
  top:295px;
  width:0px;
  height:0px;
}
#u1987_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1987_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:43px;
}
#u1987_seg2 {
  position:absolute;
  left:36px;
  top:31px;
  width:54px;
  height:8px;
}
#u1987_seg3 {
  position:absolute;
  left:64px;
  top:15px;
  width:40px;
  height:40px;
}
#u1988 {
  position:absolute;
  left:-10px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u1989 {
  position:absolute;
  left:20px;
  top:20px;
  width:590px;
  height:50px;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u1990 {
  position:absolute;
  left:2px;
  top:13px;
  width:586px;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:650px;
  top:20px;
  width:140px;
  height:50px;
}
#u1991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1992 {
  position:absolute;
  left:30px;
  top:320px;
  width:160px;
  height:60px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1994 {
  position:absolute;
  left:30px;
  top:390px;
  width:160px;
  height:60px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1996 {
  position:absolute;
  left:30px;
  top:460px;
  width:160px;
  height:60px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1998 {
  position:absolute;
  left:30px;
  top:530px;
  width:160px;
  height:60px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
