body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:920px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:920px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:452px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:580px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1401 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:580px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:282px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1403 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1406 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:770px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:377px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1408 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:50px;
  font-size:28px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1410 {
  position:absolute;
  left:310px;
  top:180px;
  width:220px;
  height:60px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1412 {
  position:absolute;
  left:310px;
  top:250px;
  width:220px;
  height:60px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1414 {
  position:absolute;
  left:310px;
  top:320px;
  width:220px;
  height:60px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1416 {
  position:absolute;
  left:310px;
  top:390px;
  width:220px;
  height:60px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1418 {
  position:absolute;
  left:310px;
  top:460px;
  width:220px;
  height:60px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1420 {
  position:absolute;
  left:310px;
  top:530px;
  width:220px;
  height:60px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1422 {
  position:absolute;
  left:310px;
  top:600px;
  width:220px;
  height:60px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1424 {
  position:absolute;
  left:310px;
  top:670px;
  width:220px;
  height:60px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1426 {
  position:absolute;
  left:310px;
  top:740px;
  width:220px;
  height:60px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1428 {
  position:absolute;
  left:310px;
  top:810px;
  width:220px;
  height:60px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:280px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1431 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:280px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:132px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1433 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1435 {
  position:absolute;
  left:650px;
  top:180px;
  width:160px;
  height:60px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1437 {
  position:absolute;
  left:650px;
  top:250px;
  width:160px;
  height:60px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1439 {
  position:absolute;
  left:650px;
  top:320px;
  width:160px;
  height:60px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1441 {
  position:absolute;
  left:30px;
  top:180px;
  width:160px;
  height:60px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1443 {
  position:absolute;
  left:30px;
  top:250px;
  width:160px;
  height:60px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1445 {
  position:absolute;
  left:200px;
  top:410px;
  width:0px;
  height:0px;
}
#u1445_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1445_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:103px;
}
#u1445_seg2 {
  position:absolute;
  left:36px;
  top:91px;
  width:54px;
  height:8px;
}
#u1445_seg3 {
  position:absolute;
  left:64px;
  top:75px;
  width:40px;
  height:40px;
}
#u1446 {
  position:absolute;
  left:-10px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447 {
  position:absolute;
  left:550px;
  top:505px;
  width:0px;
  height:0px;
}
#u1447_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1447_seg1 {
  position:absolute;
  left:46px;
  top:-249px;
  width:8px;
  height:253px;
}
#u1447_seg2 {
  position:absolute;
  left:46px;
  top:-249px;
  width:44px;
  height:8px;
}
#u1447_seg3 {
  position:absolute;
  left:64px;
  top:-265px;
  width:40px;
  height:40px;
}
#u1448 {
  position:absolute;
  left:0px;
  top:-126px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u1449 {
  position:absolute;
  left:20px;
  top:20px;
  width:590px;
  height:50px;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u1450 {
  position:absolute;
  left:2px;
  top:13px;
  width:586px;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1451 {
  position:absolute;
  left:30px;
  top:320px;
  width:160px;
  height:60px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1453 {
  position:absolute;
  left:30px;
  top:390px;
  width:160px;
  height:60px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1455 {
  position:absolute;
  left:30px;
  top:460px;
  width:160px;
  height:60px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1457 {
  position:absolute;
  left:30px;
  top:530px;
  width:160px;
  height:60px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1459 {
  position:absolute;
  left:30px;
  top:600px;
  width:160px;
  height:60px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u1461 {
  position:absolute;
  left:650px;
  top:20px;
  width:140px;
  height:50px;
}
#u1461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
