body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:710px;
  background:-webkit-linear-gradient(270deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(204, 204, 255, 1) 0%, rgba(204, 204, 255, 1) 0%, rgba(204, 255, 255, 1) 100%, rgba(204, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u444 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:710px;
}
#u445 {
  position:absolute;
  left:2px;
  top:347px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 255, 255, 1) 0%, rgba(102, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u446 {
  position:absolute;
  left:20px;
  top:20px;
  width:590px;
  height:50px;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u447 {
  position:absolute;
  left:2px;
  top:13px;
  width:586px;
  word-wrap:break-word;
}
#u448 {
  position:absolute;
  left:650px;
  top:20px;
  width:140px;
  height:50px;
}
#u448_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:350px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u450 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:350px;
}
#u451 {
  position:absolute;
  left:2px;
  top:167px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u452 {
  position:absolute;
  left:290px;
  top:120px;
  width:260px;
  height:50px;
  font-size:28px;
}
#u453 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u454 {
  position:absolute;
  left:310px;
  top:180px;
  width:220px;
  height:60px;
}
#u455 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u456 {
  position:absolute;
  left:310px;
  top:390px;
  width:220px;
  height:60px;
}
#u457 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u458 {
  position:absolute;
  left:310px;
  top:320px;
  width:220px;
  height:60px;
}
#u459 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u460 {
  position:absolute;
  left:310px;
  top:250px;
  width:220px;
  height:60px;
}
#u461 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:350px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u463 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:350px;
}
#u464 {
  position:absolute;
  left:2px;
  top:167px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u465 {
  position:absolute;
  left:640px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u466 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u467 {
  position:absolute;
  left:650px;
  top:180px;
  width:160px;
  height:60px;
}
#u468 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u469 {
  position:absolute;
  left:650px;
  top:250px;
  width:160px;
  height:60px;
}
#u470 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u471 {
  position:absolute;
  left:650px;
  top:390px;
  width:160px;
  height:60px;
}
#u472 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u473 {
  position:absolute;
  left:650px;
  top:320px;
  width:160px;
  height:60px;
}
#u474 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u475 {
  position:absolute;
  left:200px;
  top:400px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u475_seg1 {
  position:absolute;
  left:36px;
  top:-109px;
  width:8px;
  height:113px;
}
#u475_seg2 {
  position:absolute;
  left:36px;
  top:-109px;
  width:54px;
  height:8px;
}
#u475_seg3 {
  position:absolute;
  left:64px;
  top:-125px;
  width:40px;
  height:40px;
}
#u476 {
  position:absolute;
  left:-10px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  position:absolute;
  left:550px;
  top:295px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u477_seg1 {
  position:absolute;
  left:64px;
  top:-20px;
  width:40px;
  height:40px;
}
#u478 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:560px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u480 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:560px;
}
#u481 {
  position:absolute;
  left:2px;
  top:272px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u482 {
  position:absolute;
  left:20px;
  top:120px;
  width:180px;
  height:50px;
  font-size:28px;
}
#u483 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u484 {
  position:absolute;
  left:30px;
  top:180px;
  width:160px;
  height:60px;
}
#u485 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u486 {
  position:absolute;
  left:30px;
  top:250px;
  width:160px;
  height:60px;
}
#u487 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u488 {
  position:absolute;
  left:30px;
  top:320px;
  width:160px;
  height:60px;
}
#u489 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u490 {
  position:absolute;
  left:30px;
  top:390px;
  width:160px;
  height:60px;
}
#u491 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u492 {
  position:absolute;
  left:30px;
  top:460px;
  width:160px;
  height:60px;
}
#u493 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u494 {
  position:absolute;
  left:30px;
  top:530px;
  width:160px;
  height:60px;
}
#u495 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u496 {
  position:absolute;
  left:30px;
  top:600px;
  width:160px;
  height:60px;
}
#u497 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
